// ======================================
// SAAS version 0001
// ======================================
// helpers
@import "helpers/mixins";
@import "helpers/variable";
@import "helpers/reset";

// ======================================
// component
// ======================================
// buttons
// carousel
// dropdown
@import "components/dropdown";
@import "components/breadcrumb";
@import "components/pagination";
@import "components/pdtList__Item";

// ======================================
// layout
// ======================================
@import "layout/header";
@import "layout/footer";
@import "components/sidebar";
//@import "components/old-sidebar";

// ======================================
// pages
// ======================================
@import "components/slick";
@import "pages/pdt-detail";
@import "pages/news";
//@import "pages/news-index";
//@import "pages/news-item";
//@import "pages/news-list";
@import "pages/sitemap";
// ======================================
// common
// ======================================
@import "layout/theme";