@import "../helpers/mixins";
@import "../helpers/variable";

// ======================================
// pagination
// ======================================
.jh-pagination-wraper {
    display: inline-block;
}

.pagination {
    margin: 20px 0;

    > li {
        display: inline;
        float: left;

        > a {
            color: #888;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1;
            background-color: #fff;
            border: 1px solid var(--primary-color-lighten);
            margin: 0 -1px 0;
            font-weight: 500;

            &:hover {
                background-color: var(--primary-color);
                color: #fff;
            }
        }

        &:first-child a {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        &:last-child a {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    > .active {
        & > a {
            color: #fff;
            border-color: var(--primary-color-darken);
            background: var(--primary-color);

            &:hover {
                background: var(--primary-color-darken);
            }
        }
    }
}

ul.pagination-numbers,
.pagination .pagination-numbers,
.pagination-numbers {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    text-align: right;
    width: 100%;
}

.pagination-numbers {
    li {
        display: inline-block;
        float: left;
        list-style: outside none none;
        margin-bottom: 0;
        padding: 0 4px;

        a {
            border: 1px solid #eee;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            float: left;
            font-size: 12px;
            font-weight: 400;
            height: 34px;
            line-height: 33px;
            padding: 0 12px;
            transition: all 0.2s linear 0s;
            color: #282828;
            border-radius: 99px;
            background-color: #ccc;

            &:hover, &.active {
                color: #fff;
                border-radius: 99px;
                background-image: linear-gradient(141deg, rgba(6, 158, 227, 1) 41.97%, rgb(6, 112, 185) 41.97%);
            }
        }
    }
}