@import "../helpers/mixins";
@import "../helpers/variable";
// ======================================
// menu
// ======================================
.sidebar {
    .widget-title {
        padding-bottom: 9px;
        //margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
        font-size: 24px;
    }
}

.sidebar-menu {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.12);
    outline: 1px solid #eee;

    // level 1
    > li {
        margin-bottom: 3px;
        background-color: #fff;

        a.navLink {
            background: #eee;
            color: #000;
            padding: 10px 28px;
            display: block;
            font-size: 16px;
            position: relative;
            //@include line-height-limit(2, 63px);
            @include line-height-limit-single;
            height: 44px;
            line-height: 1.7;

            &:hover {
                color: #fff;
                background-color: var(--primary-color-darken);
            }

            &.active {
                background-color: var(--primary-color);
                color: #fff;
            }

            // collapse icon
            .icon-collapse {
                border-left-style: solid;
                border-left-width: 35px;
                border-left-color: var(--primary-color);
                border-top-color: transparent;
                border-top-style: solid;
                border-top-width: 21px;
                border-bottom-color: transparent;
                border-bottom-style: solid;
                border-bottom-width: 21px;
                float: left;
                height: 10px;
                width: 46px;
                display: inline-block;
                z-index: 1;
                margin-left: -28px;
                margin-top: -9px;

                &:before {
                    content: "";
                    background: url(../images/icon-plus.svg) no-repeat 100%;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    left: 5px;
                    top: 15px;
                }
            }

            // open collapse
            &.open .icon-collapse {
                &:before {
                    background: url(../images/icon-minus.svg) no-repeat 100%;
                }
            }
        }

    }

    .navLink + .subs {
        display: none;
    }


    // open
    .open + .subs {
        display: block;
    }

    // dropdown -> level 2
    .subs-dropdown {
        margin: 15px 10px 0;
        padding: 0 0 10px;

        li {
            border-bottom: 0;
            line-height: 2.2;

            &.active {
                a {
                    background: rgba(0, 0, 0, 0.06);
                    color: var(--primary-color);
                }

            }

            a {
                //color: #777;
                font-size: 15px;
                width: 100%;
                display: inline-block;

                &:before {
                    content: "";
                    background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjaXJjbGUiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaXJjbGUgZmEtdy0xNiIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yNTYgOEMxMTkgOCA4IDExOSA4IDI1NnMxMTEgMjQ4IDI0OCAyNDggMjQ4LTExMSAyNDgtMjQ4UzM5MyA4IDI1NiA4em0wIDQ0OGMtMTEwLjUgMC0yMDAtODkuNS0yMDAtMjAwUzE0NS41IDU2IDI1NiA1NnMyMDAgODkuNSAyMDAgMjAwLTg5LjUgMjAwLTIwMCAyMDB6Ij48L3BhdGg+PC9zdmc+);
                    margin-right: 10px;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    opacity: 0.4;
                }

                &.active {
                    //color: var(--primary-color);
                    &:before {
                        content:none;
                    }
                }
            }
        }

        & > li {
            a:not(.navLink) {
                padding-left: 10px;
            }
        }
    }

    .subs-dropdown {

        .navLink + .subs-dropdown {
            margin-top: 0;
        }
    }
}

.sidebar {
    // single level
    &.sidebar-single {
        ul {
            > li {
                margin-bottom: 2px;

                > a {
                    color: #000;
                    font-size: 16px;
                    font-weight: 500;
                    display: block;
                    padding: 15px 0 15px 31px;
                    background-color: #EEE;

                    &:hover {
                        background-color: darken(#eee, 8%);
                    }
                }

                &.active {

                    a {
                        color: #fff;
                        background-color: var(--primary-color);

                        &:hover {
                            background-color: var(--primary-color-darken);
                        }
                    }
                }
            }
        }
    }
}
.content-main {
    order: 1;
}
.content-sidebar {
    @include breakpoint(320){
        order: 1;
    }
    @include breakpoint(md){
        order: 0;
    }
}
