@import "../helpers/variable";
@import "../helpers/mixins";
// ======================================
// header-top
// ======================================
.header-top {
    background-color: #F8F8F8;
    font-size: 15px;

    .header__contact-info-block {

        li {
            line-height: 1.6;
        }

        .title {

            &:after {
                content: 'ï¼š';
                margin-right: 5px;
            }
        }

        //svg
        .icon {
            height: 12px;
            fill: var(--primary-color-darken);
        }
    }
}

// ======================================
// social-icon
// ======================================
.header__social-icon {
    ul {
        margin-top: 5px;

        > li {

            // triangle
            a {
                border-bottom-color: transparent;
                border-bottom-width: 20px;
                border-right-color: #fff;
                border-right-width: 40px;
                border-right-style: solid;
                border-top-color: transparent;
                border-top-width: 20px;
                display: inline-block;
                position: relative;
                width: 40px;
                z-index: 1;
                border-bottom-style: solid;
                border-top-style: solid;

                &:hover {
                    border-right-color: var(--primary-color-darken);

                    .icon {
                        fill: #fff;
                    }
                }
            }

            // triangle under svg ICON
            .icon {
                width: 16px;
                height: 16px;
                position: absolute;
                left: 18px;
                top: -7px;
            }
        }

    }
}


.navbar-custom-brand {
    max-width: 126px;
    margin-right: 40px;
    display: none;
}

// ======================================
// search
// ======================================
.searchBtn,
.header__search .searchMenuClose {
    cursor: pointer;
}

a.searchBtn {
    .icon {
        @include width-height(20px);
        fill: #fff;
    }
}

// fixed form
.header__search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0s ease .3s, -webkit-transform .3s ease 0s;
    opacity: 0;
    visibility: hidden;
    z-index: 3400;

    &.open {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s ease 0s, transform .3s ease 0s, -webkit-transform .3s ease 0s;
    }

    &:before {
        content: '';
        height: 30%;
        display: inline-block;
        vertical-align: middle;
    }

    // form
    .searchform {
        width: 90%;
        max-width: 600px;
        margin: auto;
        position: relative;

        input[type=search] {
            width: 100%;
            padding: 1rem 2rem;
            font-size: 19px;
        }

        button[type=submit] {
            position: absolute;
            left: 0;
            padding: 4px 15px;
            font-size: 23px;
            background-color: var(--primary-color);
            color: #fff;

            .icon {
                @include width-height(15px);
                fill: #fff;
            }

            &:hover {
                background-color: var(--primary-color-darken);

            }
        }
    }
}

// fixed form close button
.header__search .searchMenuClose {
    position: absolute;
    top: -30px;
    right: 10px;
    opacity: 1;
    z-index: 100;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 1;

    .icon {
        fill: #fff;

        &:hover {
            opacity: 0.5;
        }
    }

    &:hover {
        color: var(--primary-color);
    }
}