body {
  /* letter-spacing: 0.15rem; */
}
 @font-face {
            font-family: 'moon';
            src: url('/users/juichihcomtw/asset/css/fonts/Moon2-0-Light-3.woff') format("woff"), url('/users/juichihcomtw/asset/css/fonts/Moon2-0-Light-3.ttf') format("truetype"), url('/users/juichihcomtw/asset/css/fonts/Moon2-0-Light-3.eot') format("embedded-opentype"); 
			font-display: swap !important;
}

.a_img img {
  width: 100%;
  height: auto;
  min-width: 100%;
  box-shadow: 3px 3px 3px rgba(233, 233, 233, 0.507);
}

.indexNews-text {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  /* border-top: 3px solid gainsboro; */
  margin: 0px auto;
  background-color: #fff;
  padding: 8px 32px;
  margin-top: 16px;
  /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
}

.indexNews-text::before,
.indexNews-text::after {
  content: "";
  width: 30px;
  width: 30%;
  /* height: 100%; */
  height: 6px;
  width: 120%;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  transition: all .3s ease-in-out;

}

.indexNews-text::before {
  top: 0;
  left: 0;
}

.indexNews-text::after {
  bottom: 0;
  right: -1px;
}

.news_mask .col-md-4:hover .indexNews-text::before,
.news_mask .col-md-4:hover .indexNews-text::after {
  width: 120%;
  height: 2px;
  width: 30px;
  height: 20px;
  clip-path: initial;
  transition: all .3s ease-in-out;
}

.news_mask .col-md-4:hover .indexNews-text::before {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.news_mask .col-md-4:hover .indexNews-text::after {
  clip-path: polygon(0 100%, 100% 100%, 100% 0);

}

.line-height-limit {
  position: relative;
  z-index: 10;
}

.indexNews-text p {
  line-height: 1.8;
  margin-bottom: 0;
}

@media all and (min-width: 320px) {
  .indexNews-text p {
    font-size: 18px;
  }
}

@media all and (min-width: 576px) {
  .indexNews-text p {
    font-size: 22px;
  }
}

.news_in {
  background-image: none !important;
}

.news_mask {
  background-image: none !important;
  background-color: whitesmoke;
}

.about {
  padding: 0px;
  position: relative;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: cover;
  background-image: url(../images/index-bg.webp) !important;
}

.about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #3333332c;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.about .container {
  position: relative;
  z-index: 5;
}

.about .ab_text {
  padding: 120px;
  background: rgba(255, 255, 255, 0.55);
  position: relative;
  z-index: 5;
  width: 100%;
  padding-right: 60vw;
  font-weight: 600;
}

.about .ab_text h2 {
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 32px;
}

.about .ab_text p {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.about .ab_text a {
  display: inline-block;
  color: #fff;
  padding: 8px;
  margin-top: 15px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  min-width: 150px;
  width: max-content;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.about .ab_text a:hover {
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  color: #fff;
}

.index-product {
  position: relative;
  background: whitesmoke !important;

}

.index-product>.container {
  position: relative;
  z-index: 2;
}

.pf li {
  float: left;
  list-style-position: inside;
  color: white;
  border: 1px solid #6f6f6f;
  list-style-image: none;
  list-style-type: none;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 5px;
  padding: 5px;
}

ul.pf {
  padding-left: 0px !important;
  margin-top: 25px;
  display: block;
}

section.slogan {
  position: relative;
  padding: 120px 0px;
  background-image: url(../images/slogan.webp) !important;
  background-position: center;
}

section.slogan::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fffdfda8;
}

section.slogan .container {
  position: relative;
  z-index: 10;
}

section.slogan .slogan-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.slogan .slogan-box .slogan-img {
  width: 500px;
}

section.slogan .slogan-box .slogan-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* margin-top: 100px;
  margin-left: -50px; */
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px #ccc;
}

section.slogan .slogan-box h2 {
  color: var(--main-color);
  font-weight: bolder;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 32px;
}

section.slogan .slogan-box h3 {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 991px) {
  section.slogan .slogan-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 50px;
  }

  section.slogan .slogan-box .slogan-img {
    width: 100%;
  }

  section.slogan .slogan-box .slogan-text {
    margin: 0;
  }
}

.index-slider {
  position: relative;
}

.index-slider .carousel-caption {
  z-index: 3;
  font-family: Arial;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* opacity: 0;
          z-index: -1; */
}

@media all and (min-width: 576px) {
  .index-slider .carousel-caption {
    max-width: 540px;
  }
}

@media all and (min-width: 768px) {
  .index-slider .carousel-caption {
    max-width: 720px;
  }
}

@media all and (min-width: 992px) {
  .index-slider .carousel-caption {
    max-width: 960px;
  }
}

@media all and (min-width: 1200px) {
  .index-slider .carousel-caption {
    max-width: 1140px;
  }
}

.index-slider .carousel-caption h5 {
  font-size: 58px;
  text-align: left;
  padding: 0 5px;
  font-weight: bolder;
}

.index-slider .carousel-caption p {
  font-size: 18px;
  text-align: left;
  text-shadow: 1px 1px 3px #333;
}

@media all and (min-width: 992px) {
  .index-slider img {
    height: 100vh;
    /* height: max-content; */
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.index-slider::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
}







/* index ab css setting */
.page-index .about .container{
  max-width: 100%;
  padding: 0;
}







/* index news css setting */
.page-index .ind_date{
  display: none;
}
















