.pli_list {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(166deg, rgba(var(--second-color-rgba), 74%) 2.59%, rgba(var(--main-color-rgba), 84%) 100%);
    border-top: 1px solid var(--main-color);
}
.pli_list a {
    color: #FFF;
}
.carousel {
    z-index: 1;
}
.pro_in {
    padding-top: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-image: none, -webkit-linear-gradient(270deg,rgba(5,5,5,1.00) 30.05%,rgba(75,75,75,1.00) 89.64%);
    background-image: none, -moz-linear-gradient(270deg,rgba(5,5,5,1.00) 30.05%,rgba(75,75,75,1.00) 89.64%);
    background-image: none, -o-linear-gradient(270deg,rgba(5,5,5,1.00) 30.05%,rgba(75,75,75,1.00) 89.64%);
    background-image: none, linear-gradient(180deg,rgba(5,5,5,1.00) 30.05%,rgba(75,75,75,1.00) 89.64%)!important;
    background-color: #fff;
   
}
.pro_in .p_na {
    color: #000000;
}
.pro_in .pro_model {
    color: #000000;
    text-align: center;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.pro_in .title01 {
    color: #4a4a4a;
    font-size: 45px;text-align: left;
}
.pro_in1:hover .pli_list {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(130deg, rgba(var(--main-color-rgba), 0.68) 58.04%, rgba(var(--main-color-rgba), 0.72) 58.04%, rgba(var(--main-color-rgba), 0.72) 94.3%, rgba(var(--main-color-rgba), 1) 94.3%);
}
.pro_in1:hover .pli_list a {
    color: #fff;
}
.pli_list span a {
    padding-top: 9px;
    display: block;
    font-weight: bold;
    font-family: "moon", "Microsoft JhengHei";
}
.pli_list a:hover {
    color: white;
}
.contact_in {background-color: #2b2b2b;
    padding-bottom: 100px;
    padding-top: 100px;
    background-position: center center;
    background-image: none!important;
}
.ict h1 {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;    color: #fff;
    font-family: "moon", "Microsoft JhengHei";
}
.ict {
    font-size: 40px;
    padding-bottom: 20px;
    display: inline-block;
    margin-bottom: 30px;
        border-bottom: 1px solid rgb(255 255 255 / 90%);
}
.itel {
    font-size: 30px;
        color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
}
.itel a {
        color: #ffffff;
}
.in-r1 img {
    height: auto;
    min-width: 100%;
}
.in-r1 img:hover {
    transform: scale(1.3);
    transition: all 1s;
}
.in-r1 {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
}
.slick-slide img:hover {
    -webkit-filter: opacity(.7);
}
.in-r1 {
    width: 43%;
    float: left;border-radius: 25px;
}
.in-r2 {
    width: 57%;
    float: right;
}
.inl {
    width: 28%;
    display: inline-block;
    float: left;
}
.inr {
    width: 70%;
    display: inline-block;
    float: right;
}
.int1 a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.int1 {
    border-bottom: 1px solid hsla(0,0%,69%,1.00)!important;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.int2 {
   color: hsl(0deg 0% 92%)!important;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   font-family: "moon", "Microsoft JhengHei";
   font-size: 16px;
}
.date_n {
    font-weight: bolder;
    font-family: "Arial Black", Script;
    font-size: 32px;
        color: #fff;
}
.indexNews-text-line {
    position: relative;
    width: 1px;
    height: 100%;
    margin: 30px 15px 0 15px;
    background: #000;
}
.indexNews-content-inner .indexNews-text-line-inner {
    height: 100%;
}
.indexNews-text {
    position: relative;
    width: 100%;
}
.indexNews-text .indexNews-text-line .indexNews-text-line-inner {
    position: relative;
    width: 1px;
    height: 0;
    margin: 30px 15px 0 15px;
    background: #000;
}
.indexNews-text-line, .indexNews .indexNews-text p {
    display: inline-block;
    vertical-align: top;
}
.indexNews-text {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    clear: right;
    padding-bottom: 15px;    margin-top: 15px;
}
.indexNews-text p {
    position: relative;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    color: #000;
    padding: 30px 37px 0 0;
    white-space: normal;
    width: 90%;
    box-sizing: border-box;
}

@media all and (min-width: 320px) {
.indexNews-text p {
    font-size: 18px;
}
}

@media all and (min-width: 576px) {
.indexNews-text p {
    font-size: 22px;
}
}
.news_in {
    background-size: cover;
    background-attachment: fixed;
    background-image: none!important;    background: #000;
}
.news_mask {
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;background-image: none!important;
}
.about {
    position: relative;
    background-repeat: no-repeat;
    background-position: right center/cover #222;
    background-attachment: fixed;
    color: #fff;
}
.atop2 img {
    -webkit-box-shadow: 9px 8px 0px 0px #d3d3d3;
        box-shadow: 9px 8px 0px 0px #d3d3d3;
}
.pf p {
    color: #000;    margin-bottom: 0rem;
}
.ab_ind {
    
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
}
.ab_ind h2 {
    font-family: "Arial Black", Script;
    letter-spacing: 1px;
    background-image: -webkit-linear-gradient(0deg, rgba(231,17,18,1.00) 28.50%, rgba(255,224,0,1.00) 70.47%);
    background-image: -moz-linear-gradient(0deg, rgba(231,17,18,1.00) 28.50%, rgba(255,224,0,1.00) 70.47%);
    background-image: -o-linear-gradient(0deg, rgba(231,17,18,1.00) 28.50%, rgba(255,224,0,1.00) 70.47%);
    background-image: linear-gradient(90deg, rgba(231,17,18,1.00) 28.50%, rgba(255,224,0,1.00) 70.47%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 39px;
    font-size: 33px;
    font-weight: 400;
    text-align: center;    margin-top: 50px;
}
.ab_ind h2 span {
    color: var(--main-color);
}
.pf li {
      float: left;
    list-style-position: inside;
    color: white;
    /* border: 1px solid #6f6f6f; */
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
    width: 48%;
    text-align: center;
    border-radius: 39px;
    background: #f4d343;
}
ul.pf {
    padding-left: 0px !important;
        display: inline-block;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 15px 60px 25px 0;
    background-position: center center;
    background-color: #333f48;    /* background-image: url(../images/index-slogan.webp)!important; */
    background-image: url(../images/bg2.png)!important;
    background-attachment: fixed;
}
.slogan h2 {
        color: #ffffff;
    text-align: right;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 36px;
    margin-bottom: 20px;    font-weight: bold;
    border-bottom: 1px solid hsl(0deg 0% 100% / 28%);
    padding-bottom: 25px;
}
.slogan h3 {
    text-align: left;
        color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    line-height: 30px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .int2 {
    color: hsla(0,0%,100%,1.00)!important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block!important;
    -webkit-line-clamp: auto!important;
    -webkit-box-orient: vertical;
}
    .in-r1 {
    width: 100%;
    float: none;
}
.in-r2 {
    width: 100%;
    float: none;
}
    .slogan {
    width: 100%;
    background-size: cover;
    padding: 10% 3% 10% 3%;
    background-position: left center;
}
}

@media screen and (max-width: 480px) {
       .int2 {
   color: hsl(0deg 0% 45%)!important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block!important;
    -webkit-line-clamp: auto!important;
    -webkit-box-orient: vertical;
}
    .in-r1 {
    width: 100%;
    float: none;
}
.in-r2 {
    width: 100%;
    float: none;
}
.about {
}
.pf li {
    float: none;
    list-style-position: inside;
    color: white;
    /* border: 1px solid #6f6f6f; */
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 10% 3% 10% 3%;
    background-position: left center;
}
}
