// ======================================
// pdt-list
// ======================================

.pdtItem {
    margin-bottom: 30px;

    .pdtItem-image {
        overflow: hidden;

        img {
            transform: scale(1);
            transition: .2s ease-in-out;
        }

        &:hover img {
            transform: scale(1.12) rotate(-5deg);
            @include transition(.2s ease-in-out);
        }
    }
    .pdtItem-text {

        a {
            color: var(--primary-color);
            padding: 8px 15px;
            &hover {
                color: var(--primary-color-darken);
            }
        }
        h4 {
            padding: 10px 0;
            background: linear-gradient(to right, #efefef 0, white 50%, #efefef 100%);
            margin-bottom: 0;
            margin-top: 0;
            font-size: 18px;
        }
    }

    .pdtList__limitTitle {
        @include line-height-limit(2, 65px)
    }
}

.pdtItem {
    margin-bottom: 30px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), inset -1px -3px 4px rgba(0, 0, 0, 0.1);

    .pdtItem-image {
        background-color: #fff;
        //overflow: hidden;
        @include jh-flex;
        justify-content: center;
        align-items: center;

        img {
            transform: scale(1);
            @include transition(.2s ease-in-out);
        }

        &:hover img {
            transform: scale(1.12) rotate(-5deg);
        }
    }

    .pdtItem-text {
        //a {
        //    color: #2d3136;
        //    padding: 8px 15px;
        //}
        //h4 {
        //    padding: 10px 0;
        //    background: linear-gradient(to right, #efefef 0, white 50%, #efefef 100%);
        //    margin-bottom: 0;
        //    margin-top: 0;
        //    font-size: 18px;
        //}
    }

    .pdtList__limitTitle {
        @include line-height-limit(2, 65px)
    }
}