@import "../helpers/mixins";
@import "../helpers/variable";
// ======================================
// pdt-detail
// ======================================
.page__pdtdetail {
    .btn {
        font-size: 16px;
    }
    .icon {
        @include width-height(15px);
        //margin-right: 5px;
    }
}
.slider-content {

    // slick
    .slick-slider {
        //&:not(&.slider-for){
            box-shadow: 0 1px 4px rgba(0,0,0,.2);
        //}

    }
    .slick-dots {
        bottom: 13px;

        li.slick-active button:before {
            color: var(--primary-color);
            font-size: 18px;
        }
    }
    .description {
        line-height: 1.7;
    }
}
.relative-product__carousel {
    .icon {
        @include width-height(30px);
    }
}

// ======================================
// Tab content
// ======================================
.tab-block {

    // tab li
    li.nav-item {
        &:not(:last-child){
            margin-right: 2px;
        }
    }

    // tab link
    a.nav-link {
        border-radius: 0;
        background-color: var(--primary-color);
        font-weight: 500;
        color: #fff;

        &:hover {
            background-color: var(--primary-color-darken);
        }
    }
}
.tab-content {
   border: 1px solid var(--primary-color);
}
.nav-tabs {
    border-bottom: 1px solid var(--primary-color);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: var(--primary-color) var(--primary-color) #fff;
}