/* index banner css setting */
.carousel,
.carousel-item {
  height: 100vh;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.index-slider .carousel-caption {
  padding-right: 5%;
  padding-left: 5%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(34.2%, rgba(var(--main-color-rgba), 0.85)), color-stop(60.62%, rgba(var(--main-color-rgba), 0.83)), to(rgba(255, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(var(--main-color-rgba), 0.85) 34.2%, rgba(var(--main-color-rgba), 0.83) 60.62%, rgba(255, 0, 0, 0) 100%);
  bottom: 10%;
}

.index-slider .carousel-caption h5,
.index-slider .carousel-caption p {
  letter-spacing: 1px;
  margin-bottom: 0;
  text-shadow: 2px 2px 3px #000;
}

.index-slider .carousel-caption h5 {
  font-size: 28px;
  margin-bottom: 5px;
}

/* 分頁器 */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* banner rwd */
@media screen and (max-width:991px) {
  .index-slider .carousel-caption {
    display: block !important;
    position: initial;
    background: var(--orange-color) !important;
    ;
  }
}

@media screen and (max-width:576px) {
  .index-slider .carousel-caption h5 {
    font-size: 21px;
  }
}







/* index news css setting */
.news_in {
  background-image: none !important;
}

.news_mask {
  padding: 70px 0 30px 0;
  background-image: url(../images/);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.news_in .ind_date {
  display: none;
}

/* news img hover */
.news_in .a_img {
  width: 100%;
  overflow: hidden;
}

.news_in .a_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.news_in .col-md-4.col-sm-12:hover img {
  transform: scale(1.2);
}

/* news word */
.indexNews-text p .line-height-limit {
  color: var(--main-color);
}

.news_in .col-md-4.col-sm-12:hover .indexNews-text .line-height-limit {
  color: #FFF;
}

/* news word box  */
.indexNews-text p {
  position: relative;
  text-align: center;
  padding: 0.7rem 0;
  width: 100%;
  margin: 1rem 0;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.indexNews-text p:hover {
  background-color: var(--main-color);
}

.indexNews-text p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.indexNews-text p:hover::before {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
}

/* news item hover */
.news_in .col-md-4.col-sm-12:hover .indexNews-text p {
  background-color: var(--main-color);
}

.news_in .col-md-4.col-sm-12:hover .indexNews-text p::before {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
}

/* index news rwd */
@media screen and (min-width: 1080px) {
  .news_in .a_img {
    height: 250px;
  }
}

@media screen and (min-width:992px) and (max-width:1080px) {
  .news_in .a_img {
    height: 300px;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .news_in .a_img {
    height: 200px;
  }
}







/* index about css setting */
section.about {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  color: #fff;
  overflow: hidden;
  position: relative;
  background-image: url(../images/index-bg.webp) !important;
}

section.about .container {
  max-width: 1460px;
}

.ab-content {
  width: 50%;
  padding: 50px;
  background-color: rgba(129,216,208,0.86);
}

.ab-title {
  margin-bottom: 2rem;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: bold;
}

.ab-content p {
  line-height: 27px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 2rem;
}

/* ab-pic */
.ab-pic-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-pic-box {
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
}

.ab-pic-box img {
  transition: all 0.3s;
}

.ab-pic-item:hover .ab-pic-box img {
  transform: scale(1.2);
}

/* index ab rwd */
@media (max-width :992px) {
  section.about {
    background-position: left center;
  }
}







/* index pdt css setting */
.index-product {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  background-color: #FFF;
  background-image: none !important;
}

.index-product .container{
  padding-bottom: 0;
}

.index-product .pli_list {
  flex-direction: column;
}

/* pdt pic */
.pro_in1>a {
  width: 100%;
  overflow: hidden;
}

.pro_in1>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pdt word */
.pro_in1 .pli_list .line-height-limit,
.pro_in1 .pli_list a {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif !important;
  color: var(--main-color);
}

.pro_in1:hover .pli_list .line-height-limit {
  color: #FFF;
}

.pro_in1:hover .pli_list a {
  color: #FFF;
}

/* pdt word box */
.pli_list {
  position: relative;
  text-align: center;
  padding: 0.7rem 0;
  width: 100%;
  margin: 1rem 0;
  font-size: 18px;
  font-weight: bold;
  background-color: #FFF;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif !important;
}

.pli_list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.pli_list:hover {
  background-color: var(--main-color);
}

.pli_list:hover::before {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
}

/* pdt item hover */
.pro_in1:hover:hover .pli_list {
  background-color: var(--main-color);
}

.pro_in1:hover:hover .pli_list::before {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
}

/* index pdt rwd */
@media screen and (min-width:992px) {
  .pro_in1>a {
    height: 300px;
  }
}

@media screen and (min-width:767px) and (max-width:991px) {
  .pro_in1>a {
    height: 220px;
  }
}

@media (max-width:991px) {
  .index-product {
    padding: 50px 0;
  }
}







/* index slogan css setting */
.slogan {
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slogan .container {
  max-width: 1460px;
}

.slogan-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slogan-block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slogan h4 {
  color: #FFF;
  margin: 2rem 0;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.slogan-block img{
  width: 300px;
}













/* index 客製 */
.page-index {
  display: flex;
  flex-direction: column;
}

/* .index-slider {
  order: 1;
}

.index-product {
  order: 2;
}

.about {
  order: 3;
}

.index-slogan {
  order: 4;
}

.news_in {
  order: 5;
} */