.lang li span {
    color: hsla(0, 0%, 100%, 1.00);
}

.carousel-item img:hover {
    opacity: 1;
}

.mt-3 .container table tr td:nth-child(3) {
    max-height: 155px;
    overflow-x: hidden;
    /*display: block;*/
}

.mt-3 .container thead tr th:nth-child(1) {
    width: 15%
}

.mt-3 .container thead tr th:nth-child(2) {
    width: 35%
}

.mt-3 .container thead tr th:nth-child(3) {
    width: 40%
}

.mt-3 .container thead tr th:nth-child(4) {
    width: 10%
}

.d-none {
    display: block !important;
}

section#news {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: none !important;
}

.p-news-list table tr {
    border-top: 1px dashed hsla(0, 0%, 77%, 1.00);
}

.p-sitemap h2 {
    background-color: hsla(0, 0%, 82%, 1.00);
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.p-news-index table {
    margin-top: 17px;
}

.p-news-index table tr {
    border-top: 1px dashed hsla(0, 0%, 77%, 1.00);
}

.inquiry_in {
    background-image: none !important;
}

.btn {
    margin-bottom: 13px;
}

.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background: #1f77a7;
    color: white;
}

.dropdown-menu>li.show>a {
    color: white;
}

.carousel-caption {
    position: static;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #000;
    text-align: center;
}

nav {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
}

.btn1 {
    transform: skew(30deg, 0deg);
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
}

.btn3 {
    color: #2190a4;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
    border-width: 0px;
    background-image: -webkit-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: -moz-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: -o-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-color: hsla(0, 0%, 0%, 0.02);
    padding-right: 40px;
    padding-left: 30px;
    margin-top: 7px;
}

/*--------RWD表格---------------*/
.p-inquiry-list table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.p-inquiry-list table tr {
    padding: 5px;
}

.p-inquiry-list .rwd-table tr:nth-of-type(2n) {
    background: #eee;
}

.p-inquiry-list table th,
table td {
    padding: 10px;
    text-align: center;
}

.p-inquiry-list table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}

.p-inquiry-list .da {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .mt-3 .container table tr td:nth-child(3) {
        max-height: 100px;
        overflow-x: hidden;
        display: block;
        background-color: #F4F4F4
    }

    .p-inquiry-list table {
        border: 0;
    }

    .p-inquiry-list table thead {
        display: none;
    }

    .p-inquiry-list table tr {
        margin-bottom: 10px;
        display: block;
    }

    .p-inquiry-list table td {
        display: block;
        font-size: 13px;
    }

    .p-inquiry-list table td:last-child {
        border-bottom: 0;
    }

    .p-inquiry-list table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .p-inquiry-list da {
        width: 100%;
    }
}

/*--------RWD表格---------------*/
a img:hover {
    opacity: 0.7
}

header {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.error {
    color: #FFF;
    background-color: #FF0004;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.error1 {
    border: 1px solid #FF0004;
}

.sw {
    margin-right: 7px;
    background-color: #E90003;
}

.dl {
    margin-right: 7px;
    background-color: #00417B;
}

.sw:hover {
    margin-right: 7px;
    background-color: #780001;
}

.dl:hover {
    margin-right: 7px;
    background-color: #0f61a9;
}

.i_l {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 12px;
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
}

.red {
    color: #FF0004;
}

.pro_1 {
    color: #292929;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: center;
}

.model {
    background-color: #0e5da9;
    color: #FFFFFF;
    padding: 2px;
    font-size: 14px;
    text-align: center;
}

.page-item .active {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #1f77a7;
    border: 1px solid #dee2e6;
}

a:hover {
    text-decoration: none;
}

.mt-3 .col-sm-4 {
    margin-bottom: 8px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.sp-large img {
    max-width: none;
    height: none;
}

.to-top {
    background-color: #fff;
    border: 1px solid #505050;
    color: #505050;
    border-radius: 99px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 9;
}

.date_in {
    color: #1c2026;
    display: inline-block;
    background-color: #e9ecef;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    border-radius: 10px;
}

.center {
    text-align: center;
    width: 100%;
}

.right {
    text-align: right;
}

.poc {
    margin-bottom: 13px;
}

.inbanner img {
    display: block;
}

.btn001 a {
    background-color: #353535;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}

.btn001 a:hover {
    background-color: #1f77a7;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}

.mt40 {
    margin-top: 40px;
}

.webeditor table {
    max-width: 100% !important;
    height: auto !important;
}

.news_in li {
    margin-bottom: 10px
}

a {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    outline: none !important;
}

button {
    outline: none !important;
}

.inbanner img {
    width: 100%;
    height: auto;
}

.card-body ul li a {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 1.00);
}

.btn-link a {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 1.00);
}

* {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
}

.wrap {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.center {
    text-align: center;
}

.card h2 {
    background-color: hsla(207, 100%, 25%, 0.00) !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    color: #FFFFFF;
    font-size: 20px;
}

/*語系*/

.lang_all ul {
    margin-bottom: 0rem;
}

.lang {
    list-style: none;
}

.lang li {
    display: inline-block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}

.lang li a {
    display: block;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, "微軟正黑體";
}

.lang li a:hover {
    color: #fff;
}

.lang a.selected {
    color: #f00;
}

.lang ul {
    position: absolute;
    left: 0;
    display: none;
    padding: 0;
    list-style: none;
    background: #4e4e4e;
    border-radius: 7px;
}

.lang ul li {
    width: 100%;
    border-bottom: 1px dashed hsla(0, 0%, 43%, 1.00);
}

.lang ul a {
    display: block;
    padding: 8px 5px;
    color: #FFF;
}

.lang ul a:hover {
    text-decoration: none;
}

.lang ul li:hover {
    background: #1f77a7
}

.slick-slide {
    height: auto;
}

/*RWD表格開始*/
table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

table tr {
    padding: 5px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}

.da {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .mt-3 .container table tr td:nth-child(3) {
        max-height: 100px;
        overflow-x: hidden;
        display: block;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
    }

    .p-inquiry-list table td {
        display: block;
        font-size: 13px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .da {
        width: 100%;
    }
}

/*RWD表格結束*/
/*RWD表格開始*/

/*RWD表格結束*/

@media print {
    .no_p {
        display: none
    }
}

/*20211025檔案下載列表開始*/
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}

.dl-list li {
    border-bottom: 1px dashed hsla(0, 0%, 84%, 1.00);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0, 0%, 16%, 1.00);
    width: 100%;
    margin-bottom: 20px;
}

/*.dl-list li::before {
    content: '•';
    display: inline-block;
    width: 20px;
    vertical-align: top;
}*/
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0, 0%, 84%, 1.00);
    background-color: hsla(0, 0%, 100%, 1.00);
    list-style-type: disc;
}

.dl-list a {
    color: #000;
    font-family: Arial, "微軟正黑體";
}

.dl-list a:hover {
    color: #0271E5;
    font-family: Arial, "微軟正黑體";
}

.itemLink img {
    width: 20px;
    height: 20px;
}

.itemTitle {
    width: 70%;
    display: inline-block;
}

.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}

.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0, 0%, 100%, 1.00);
}

.download-des {
    color: hsl(0deg 0% 70%);
}

.dl-list span {
    color: hsla(0, 0%, 4%, 1.00);
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
    .itemTitle {
        width: 95%;
        display: inline-block;
    }

    .itemLink {
        text-align: right;
        font-size: 14px;
        white-space: nowrap;
        color: gray;
        float: none;
        margin-top: 10px;
    }

    .dl-list {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        border: 1px dashed hsla(0, 0%, 84%, 1.00);
        background-color: hsla(0, 0%, 100%, 1.00);
        list-style-type: disc;
        text-align: center;
    }
}

/*20211006檔案下載列表結束*/

/*20211104首頁加上H1標籤區塊開始*/
.index-seo_h {
    padding: 0;
    margin: 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-image: none !important;
}

.index-seo_h h1 {
    font-size: 16px !important;
    color: #ffffff;
}

/*20211104首頁加上H1標籤區塊結束*/
/*20211104頁尾加上信箱複製及電話開始*/

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.email-link a {
    color: #adadad;
}

.email-link svg {
    width: 20px;
    height: auto;
    fill: #adadad;
}

.f_m {
    display: inline-block;
}

.f_m svg {
    margin-right: 5px;
}

/*20211104頁尾加上信箱複製及電話結束*/







/* header css setting */
/* seo語系 */
.lang_all {
    background-color: #505050;
    padding: 0.5rem;
}

.lang_all h1 {
    color: #a0d468 !important;
    font-size: 12px;
}

.lang_all img {
    width: 20px;
    height: 20px;
}

.lang {
    text-align: center;
    padding: 0;
    margin: 0.5rem 0;
}

.lang ul li:hover {
    background-color: #a0d468;
}

.lang ul li:hover a {
    color: #000;
}

/* header */
#main_navbar {
    background-color: #FFF !important;
    background-image: none;
    border-bottom: none;
}

/* 詢問單 */
.cart {
    right: 85px;
    position: absolute;
    top: 18px;
}

.cart1 {
    position: relative;
}

.i_n {
    position: absolute;
    z-index: 99;
    background-color: #FF0004;
    color: #FFFFFF;
    font-size: 14px;
    right: -18px;
    bottom: -14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 99em;
}

/* logo */
.navbar-brand img {
    height: 45px;
}

/* 下拉式選單 */
#navbarSupportedContent {
    margin-top: 1rem;
    background-color: #505050;
}

/* 選項 */
.navbar-nav li:hover {
    background-color: #a0d468;
}

.navbar-nav li:hover a {
    color: #000 !important;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #a0d468;
    color: #000 !important;
}

.dropdown-item {
    white-space: normal;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background-color: #a0d468;
    color: #000 !important;
}

/* 第二層 */
.dropdown-menu .dropdown .dropdown-menu {
    border: 0;
    padding-left: 1rem;
}

/* header rwd */
@media (max-width:576px) {
    .navbar-brand img {
        height: 30px;
    }
}









/* footer css setting */
footer {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
    background-color: #f9f9f9;
    padding: 50px 0 15px;
}

footer .center.footer-brand {
    margin-bottom: 1.5rem;
}

footer .center.footer-brand img {
    height: 45px !important;
}

footer .row {
    margin-top: 10px;
}

footer a {
    color: #a0d468;
    font-size: 16px;
}

.footer_info {
    padding: 0;
    margin: 1rem 0;
}

.footer_info li {
    list-style-type: none;
    text-align: center;
    color: #000;
}

.copy {
    background-color: #2E2E2E;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #adadad;
    text-align: center;
}

.copy a {
    color: #a0d468;
}


/* gdpr */
.advbox {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 100% !important;
    background-color: #F7F7F7;
    z-index: 9999;
    color: #000;
    left: 0;
}

.cookies_3 {
    margin: 1rem 0;
    display: inline-block;
    color: #7da354;
    font-weight: bolder;
    margin-bottom: 10px;
}







/* btn css setting */
.btn3 {
    color: #fff;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    background: #505050;
    border-radius: 5px;
    min-width: 150px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.btn.btn-primary.mt-2 {
    color: #fff;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    background: #505050;
    border-radius: 5px;
    width: 150px;
    transition: all 0.3s;
}

.btn.btn-primary {
    color: #fff;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    background: #505050;
    border-radius: 5px;
    width: 150px;
    transition: all 0.3s;
}

.center.mt-3.btn001 {
    padding-bottom: 3rem;
}

.center.mt-3.btn001 a {
    padding: 0.5rem 2rem;
}






/* main css setting */
main {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
    background-color: #FFF;
}

.webeditor img {
    max-width: 100%;
    height: auto !important;
    margin: 1rem 0;
}

h2 {
    text-align: center !important;
    margin-bottom: 1.5rem;
}

.row.mb-4 {
    margin-bottom: 0 !important;
}





/* 麵包屑 css setting */
.breadcrumb-item.active {
    color: #a0d468;
}







/* index css setting */
/* banner */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #a0d468;
}

/* index news */
#news h2 {
    background-image: none;
    color: #000;
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
}

.p-index #news h2::after {
    content: "";
    display: block;
    margin: 1rem auto;
    width: 35px;
    height: 2px;
    background: #a41d22;
}

.news_in {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
}

.news_t {
    font-family: Arial, "微軟正黑體";
    font-size: 20px;
    text-align: left;
    margin: 1.5rem 0;
    display: block;
}

.news_date {
    padding: 0.3rem 1rem;
    background-color: #444444;
    color: #ffffff;
    display: block;
    font-size: 14px;
    margin: 1rem 0;
    border-radius: 10px;
    width: 120px;
}

/* index news rwd */
@media (max-width:576px) {
    .news_t {
        text-align: center;
    }

    .news_date {
        width: 100%;
    }
}

/* index about */
/* (客製) */
#about {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
	background-image: url(../images/index-bg.webp) !important;

}

#about .container {
    max-width: 100%;
    padding: 0;
}

#about .ab_text {
    background: rgba(255, 255, 255, 0.55);
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 2rem;
}

#about h2 {
    background-image: none;
    color: #000;
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
}

.p-index #about h2::after {
    content: "";
    display: block;
    margin: 1rem auto;
    width: 35px;
    height: 2px;
    background: #a41d22;
}

#about p {
    font-size: 14px;
    color: #4B4B4B;
}

.ab_link {
    color: #fff;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    background: #505050;
    border-radius: 5px;
    min-width: 150px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.ab_link:hover {
    color: #a0d468;
}

/* index pdt */
#pdt {
    background-image: none !important;
}

#pdt h2 {
    background-image: none;
    color: #000;
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
}

.p-index #pdt h2::after {
    content: "";
    display: block;
    margin: 1rem auto;
    width: 35px;
    height: 2px;
    background: #a41d22;
}

.p-index #pdt .card {
    border: 0;
}

/* pdt btn */
/* 客製 */
.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 12px;
    padding: 8px 40px;
    position: relative;
}

.card-body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F7F7F7;
    border-bottom: 2px solid #a0d468;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    transition: all .15s ease-in-out;
}

.card-title {
    z-index: 1;
}

.card-text {
    z-index: 1;
}

.hot_pdt_readmore .btn.btn-primary {
    color: #fff;
    padding: 0.5rem 2rem;
    margin-top: 15px;
    background: #505050;
    border-radius: 5px;
    min-width: 150px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.hot_pdt_readmore:hover .btn.btn-primary {
    color: #a0d468;
}

/* index slogan */
#slogan {
    width: 100%;
    background-image: url(../images/slogan.webp) !important;
    background-position: center;
    background-size: cover;
}

#slogan .container.right {
    width: 100%;
    height: 100%;
    background-color: #fffdfd5e;
    padding: 0;
}

#slogan .slogan-box {
    padding: 3rem;
}

#slogan .slogan-box .slogan-text {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
}

#slogan .slogan-box .slogan-text h2 {
    font-size: 20px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

#slogan .slogan-box .slogan-text h3 {
    font-size: 16px;
    text-align: center;
    line-height: 32px;
}







/* pdt css setting */
.p-pdt-index #about .row.mb-4 {
    margin-bottom: 0 !important;
}

.p_name {
    text-align: center;
    margin: 0.5rem 0;
    font-family: Arial, "微軟正黑體";
    font-weight: bolder;
    font-size: 16px;
    width: 100%;
    z-index: 1;
}

.p1 {
    padding: 5px;
}

.ml {
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    color: #000;
    z-index: 1;
}

.center.pr_in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 12px;
    padding: 8px 40px;
    position: relative;
}

.center.pr_in::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F7F7F7;
    border-bottom: 2px solid #a0d468;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    transition: all .15s ease-in-out;
}

/* pdt detail */
#prod h2 {
    padding: 0.5rem 0;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 1.5rem;
    font-family: Arial, "微軟正黑體";
    background-color: #505050;
}

#prod h3 {
    font-size: 18px;
    color: #a0d468;
    font-weight: bold;
    font-family: Arial, "微軟正黑體";
    text-align: center;
}

.p-pdt-dt .inquiry_in,
.p-pdt-dt .download_in {
    margin: 3rem 0;
}

.p-pdt-dt .des h2,
.p-pdt-dt .inquiry_in h2,
.p-pdt-dt .download_in h2 {
    margin-bottom: 2rem;
}

/* pdt detail btn */
.btn01 a {
    width: 100%;
    background-color: #505050;
    padding: 0.5rem 0;
}

.btn01 .btn.btn-primary {
    width: 100%;
    background-color: #505050;
    padding: 0.5rem 0;
}







/* news css setting */
.p-news-index table th {
    text-align: left;
}

.p-news-list .container .mt-3 .container table tbody td a {
    font-weight: bolder;
    font-size: 16px;
}

.p-news-list table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.p-news-list table tr {
    padding: 5px;
}

.p-news-list table th,
table td {
    padding: 10px;
    text-align: left !important;
}

.p-news-list table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}

.p-news-list .da {
    width: 100px;
}

/* news rwd */
@media screen and (max-width: 600px) {

    .p-news-index table td,
    .p-news-list table td {
        display: block;
    }

    .p-news-list .mt-3 .container table tr td:nth-child(3) {

        overflow-x: hidden;
        display: block;
    }

    .p-news-list table {
        border: 0;
    }

    .p-news-list table thead {
        display: none;
    }

    .p-news-list table tr {
        margin-bottom: 10px;
        display: block;
    }

    .p-news-list table td {
        display: block;
        font-size: 13px;
    }

    .p-news-list table td:last-child {
        border-bottom: 0;
    }

    .p-news-list table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    /* .p-news-list da {
        width: 100%;
    } */
}







/* contact css setting */
.address ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 18px;
}

.address img {
    margin: 10px;
    width: 15px;
    height: auto;
}

.p-contact iframe {
    padding-bottom: 2rem;
    width: 100%;
}

.p-contact .title2 {
    margin: 1.5rem 0;
}

.p-contact form iframe{
    height: 113px!important;
}







/* inquirycart css setting */
/* inquirycart rwd */
@media (max-width:600px){
    .p-inquiry-list table th{
        display: none!important;
    }

    .p-inquiry-list table td{
        display: flex;
        justify-content: center;
    }

    .p-inquiry-list table td .qt1{
        justify-content: center;
    }
}
























