@import "mixins";
@import "extends";
@import "variable";

.pli_list {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(166deg, rgba(var(--second-color-rgba), 74%) 2.59%, rgba(var(--main-color-rgba), 84%) 100%);
    border-top: 1px solid var(--main-color);

    a {
        color: #FFF;
    }
}

.pro_in1:hover .pli_list {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(130deg, rgba(var(--main-color-rgba), 0.68) 58.04%, rgba(var(--main-color-rgba), 0.72) 58.04%, rgba(var(--main-color-rgba), 0.72) 94.3%, rgba(var(--main-color-rgba), 1) 94.3%);

    a {
        color: #fff;
    }
}

.pli_list {
    span a {
        padding-top: 9px;
        display: block;
        font-weight: bold;
        font-family: $tw-font;
    }

    a:hover {
        color: hsla(0, 0%, 100%, 1);
    }
}

.a_img img {
    width: 100%;
    height: auto;
    min-width: 100%;
}

.indexNews-text-line {
    position: relative;
    width: 1px;
    height: 100%;
    margin: 30px 15px 0 15px;
    background: #000;
    //background: var(--main-color);
}

.indexNews-content-inner .indexNews-text-line-inner {
    height: 100%;
}

.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;

    .indexNews-text-line .indexNews-text-line-inner {
        position: relative;
        width: 1px;
        height: 0;
        margin: 30px 15px 0 15px;
        background: #000;
    }
}

.indexNews-text-line, .indexNews .indexNews-text p {
    display: inline-block;
    vertical-align: top;
}

.indexNews-text {
    p {
        position: relative;
        font-weight: 300;
        line-height: 1.3;
        text-align: left;
        color: #000;
        padding: 30px 37px 0 0;
        white-space: normal;
        width: 90%;
        box-sizing: border-box;
        @include breakpoint(320) {
            font-size: 18px;
        }
        @include breakpoint(sm) {
            font-size: 22px;
        }
    }

    position: relative;
    width: 100%;
    white-space: nowrap;
    display: flex;
}

.news_in {
    background-size: cover;
    background-attachment: fixed;
}

.news_mask {
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    position: relative;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: right center/cover #222;
    background-attachment: fixed;
    color: #fff;
    overflow: hidden;
}

body {
    letter-spacing: .15rem;
}

.ab_ind {
    max-width: 500px;
    font-family: $tw-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;

    h2 {
        font-family: $tw-font;
        letter-spacing: 5px;

        span {
            color: var(--main-color);
            font-weight: bolder;
        }
    }
}

.pf li {
    float: left;
    list-style-position: inside;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #6f6f6f;
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
}

ul.pf {
    padding-left: 0px !important;
    margin-top: 25px;
    display: block;
}

.slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: center center;
}

//.right {
//    text-align: right;
//}

.slogan {
    h2 {
        color: #FFFFFF;
        font-family: $tw-font;
        font-size: 36px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    h3 {
        color: #FFFFFF;
        font-family: $tw-font;
        font-size: 16px;
        max-width: 600px;
        //float: right;
        font-weight: bolder;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .about {
        position: relative;
        padding: 100px 0;
        background-image: none, linear-gradient(122deg, rgba(31, 31, 31, 1) 0%, rgba(38, 38, 38, 1) 64.76%, rgba(17, 17, 17, 1) 64.76%);
        background-attachment: initial;
        color: #fff;
        overflow: hidden;
        background-color: #1D1D1D;
    }

    .slogan {
        width: 100%;
        background-size: cover;
        padding: 200px 60px 200px 0;
        background-position: right center;
    }
}

@media screen and (max-width: 480px) {
    .about {
        position: relative;
        padding: 100px 0;
        background-image: none, linear-gradient(122deg, rgba(31, 31, 31, 1) 0%, rgba(38, 38, 38, 1) 64.76%, rgba(17, 17, 17, 1) 64.76%);
        background-attachment: initial;
        color: #fff;
        overflow: hidden;
        background-color: #1D1D1D;
    }

    .slogan {
        width: 100%;
        background-size: cover;
        padding: 200px 60px 200px 0;
        background-position: right center;
    }
}

@media screen and (min-width: 769px) {
    main.page-index {
        padding-top: 110px;
    }
}