#feedbackcontent::-webkit-input-placeholder {
    color: #000
}

.collapse_style>ul {
    margin-left: 1rem;
    padding-top: 1rem
}

.collapse_style>ul>li {
    border-bottom: 0 solid #f0ad4e
}

.collapse_panel a {
    color: #555a60
}

.has_child:first-letter {
    font-weight: 700;
    color: #28adab !important
}

.has_child:after {
    content: "â–¼";
    display: contents;
    font-size: 1.5rem
}

.webeditor {
    overflow-x: hidden;
    overflow-y: auto
}

.card {
    flex-direction: row !important
}

.form-inline img {
    width: 15px;
    height: 15px
}

.p_s {
    border: 5px solid #ededed;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    padding: 2%
}

.slogan h1 {
    color: #FFF
}

.btn2 i {
    color: #03a9f4
}

.carousel-caption {
    background-image: -webkit-linear-gradient(0deg, rgba(0, 100, 236, 0.00) 0%, rgba(65, 65, 65, 0.78) 46.63%, rgba(37, 37, 37, 0.78) 59.07%, rgba(255, 0, 0, 0.00) 100%);
    background-image: -moz-linear-gradient(0deg, rgba(0, 100, 236, 0.00) 0%, rgba(65, 65, 65, 0.78) 46.63%, rgba(37, 37, 37, 0.78) 59.07%, rgba(255, 0, 0, 0.00) 100%);
    background-image: -o-linear-gradient(0deg, rgba(0, 100, 236, 0.00) 0%, rgba(65, 65, 65, 0.78) 46.63%, rgba(37, 37, 37, 0.78) 59.07%, rgba(255, 0, 0, 0.00) 100%);
    background-image: linear-gradient(90deg, rgba(0, 100, 236, 0.00) 0%, rgba(65, 65, 65, 0.78) 46.63%, rgba(37, 37, 37, 0.78) 59.07%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 15px;
    padding-bottom: 5px;
    bottom: 40px
}

.carousel-caption h5 {
    font-size: 26px
}

.p_na {
    text-align: center;
    color: #3582c2;
    margin-top: 8px;
    font-size: 14px
}

.to-top {
    background-color: red;
    color: #fff !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px
}

.to-top:hover {
    color: #fff !important
}

.pli_list a {
    display: block;
    padding: 10px 14px !important
}

.advbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsla(205, 100%, 35%, 0.82);
    z-index: 9999;
    color: hsla(0, 0%, 100%, 1.00);
    background-image: -webkit-linear-gradient(132deg, rgba(255, 3, 3, 0.79) 0%, rgba(155, 7, 7, 0.79) 100%);
    background-image: -moz-linear-gradient(132deg, rgba(255, 3, 3, 0.79) 0%, rgba(155, 7, 7, 0.79) 100%);
    background-image: -o-linear-gradient(132deg, rgba(255, 3, 3, 0.79) 0%, rgba(155, 7, 7, 0.79) 100%);
    background-image: linear-gradient(132deg, rgba(255, 3, 3, 0.79), rgba(155, 7, 7, 0.79))
}

.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 5% 11px
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #E0E0E0;
    background-image: -webkit-linear-gradient(270deg, rgba(236, 236, 236, 1.00) 0.52%, rgba(255, 255, 255, 1.00) 21.24%, rgba(255, 255, 255, 1.00) 81.35%, rgba(240, 240, 240, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(236, 236, 236, 1.00) 0.52%, rgba(255, 255, 255, 1.00) 21.24%, rgba(255, 255, 255, 1.00) 81.35%, rgba(240, 240, 240, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(236, 236, 236, 1.00) 0.52%, rgba(255, 255, 255, 1.00) 21.24%, rgba(255, 255, 255, 1.00) 81.35%, rgba(240, 240, 240, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(236, 236, 236, 1.00) 0.52%, rgba(255, 255, 255, 1.00) 21.24%, rgba(255, 255, 255, 1.00) 81.35%, rgba(240, 240, 240, 1.00) 100%)
}

.error {
    margin-bottom: 16px
}

input:-internal-autofill-selected {
    background: #000 !important
}

.dropdown-menu {
    margin-top: 0
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
    margin: 0 20px;
    border-width: 0
}

.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background: #007bff;
    color: #fff
}

.dropdown-menu>li.show>a {
    color: #fff
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px
    }
}

.pin_name {
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    color: #000;
    font-weight: bolder
}

.pin_name::after {
    content: '';
    width: 200px;
    height: 2px;
    display: block;
    position: absolute;
    margin-top: 12px;
    background-image: -webkit-linear-gradient(0deg, rgba(10, 85, 169, 1.00) 77.73%, red 77.73%);
    background-image: -moz-linear-gradient(0deg, rgba(10, 85, 169, 1.00) 77.73%, red 77.73%);
    background-image: -o-linear-gradient(0deg, rgba(10, 85, 169, 1.00) 77.73%, red 77.73%);
    background-image: linear-gradient(90deg, rgba(10, 85, 169, 1.00) 77.73%, red 77.73%)
}

.copy a {
    margin-right: 11px
}

input:focus {
    outline: none !important
}

.ar img {
    width: 20px;
    height: 20px
}

.btn2 {
    outline: none !important
}

.navbar-toggler {
    outline: none !important
}

.container img {
    max-width: 100%
}

.pagination {
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px
}

.pagination li {
    display: inline-block
}

.pagination li a {
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #222;
    transition: all .45s;
    background-image: -webkit-linear-gradient(318deg, rgba(255, 255, 255, 1.00) 48.19%, rgba(247, 247, 247, 1.00) 48.19%);
    background-image: -moz-linear-gradient(318deg, rgba(255, 255, 255, 1.00) 48.19%, rgba(247, 247, 247, 1.00) 48.19%);
    background-image: -o-linear-gradient(318deg, rgba(255, 255, 255, 1.00) 48.19%, rgba(247, 247, 247, 1.00) 48.19%);
    background-image: linear-gradient(132deg, rgba(255, 255, 255, 1.00) 48.19%, rgba(247, 247, 247, 1.00) 48.19%)
}

.pagination li a:hover {
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #222;
    transition: all .45s;
    background-image: -webkit-linear-gradient(147deg, rgba(247, 247, 247, 1.00) 49.23%, rgba(231, 231, 231, 1.00) 49.23%);
    background-image: -moz-linear-gradient(147deg, rgba(247, 247, 247, 1.00) 49.23%, rgba(231, 231, 231, 1.00) 49.23%);
    background-image: -o-linear-gradient(147deg, rgba(247, 247, 247, 1.00) 49.23%, rgba(231, 231, 231, 1.00) 49.23%);
    background-image: linear-gradient(303deg, rgba(247, 247, 247, 1.00) 49.23%, rgba(231, 231, 231, 1.00) 49.23%)
}

.pagination .active a {
    background-image: -webkit-linear-gradient(147deg, rgba(14, 110, 184, 1.00) 49.23%, rgba(0, 136, 241, 1.00) 49.23%);
    background-image: -moz-linear-gradient(147deg, rgba(14, 110, 184, 1.00) 49.23%, rgba(0, 136, 241, 1.00) 49.23%);
    background-image: -o-linear-gradient(147deg, rgba(14, 110, 184, 1.00) 49.23%, rgba(0, 136, 241, 1.00) 49.23%);
    background-image: linear-gradient(303deg, rgba(14, 110, 184, 1.00) 49.23%, rgba(0, 136, 241, 1.00) 49.23%)
}

.pagination ul {
    padding-left: 0
}

.pagination .active a {
    color: #FFF
}

body {
    letter-spacing: 1px
}

#accordion .panel {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-bottom: 6px
}

#accordion .panel-heading {
    padding: 0;
    background-color: #fff
}

#accordion .panel-title a {
    display: block;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    background-image: -webkit-linear-gradient(150deg, rgba(52, 129, 194, 1.00) 18.13%, rgba(52, 129, 194, 1.00) 90.15%);
    background-image: -moz-linear-gradient(150deg, rgba(52, 129, 194, 1.00) 18.13%, rgba(52, 129, 194, 1.00) 90.15%);
    background-image: -o-linear-gradient(150deg, rgba(52, 129, 194, 1.00) 18.13%, rgba(52, 129, 194, 1.00) 90.15%);
    background-image: linear-gradient(300deg, rgba(52, 129, 194, 1.00) 18.13%, rgba(52, 129, 194, 1.00) 90.15%);
    padding: 14px 20px 14px 55px
}

#accordion .panel-title a.collapsed {
    border-top: 0;
    color: #333;
    background-image: -webkit-linear-gradient(150deg, rgba(245, 245, 245, 1.00) 18.13%, rgba(245, 245, 245, 1.00) 90.15%);
    background-image: -moz-linear-gradient(150deg, rgba(245, 245, 245, 1.00) 18.13%, rgba(245, 245, 245, 1.00) 90.15%);
    background-image: -o-linear-gradient(150deg, rgba(245, 245, 245, 1.00) 18.13%, rgba(245, 245, 245, 1.00) 90.15%);
    background-image: linear-gradient(300deg, rgba(245, 245, 245, 1.00) 18.13%, rgba(245, 245, 245, 1.00) 90.15%);
    border-bottom: 1px solid transparent
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "-";
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    position: absolute;
    top: 10px;
    left: 23px;
    font-size: 34px;
    line-height: 24px;
    color: #000
}

#accordion .panel-title a.collapsed:before {
    content: "+"
}

#accordion .panel-body {
    color: #666464;
    font-size: 14px;
    line-height: 20px;
    border-top: 0 none;
    background: #fbfbfb;
    padding: 15px 20px
}

aside li {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 10px;
    border-bottom: 1px dotted #9E9E9E;
    padding-bottom: 9px
}

aside ul {
    list-style-type: none;
    padding-left: 0 !important
}

.address img {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15px;
    margin-top: 5px
}

.title2 {
    margin-bottom: 35px
}

.address {
    margin-top: 29px;
    display: block
}

.address li {
    list-style-type: none;
    margin-top: 15px;
    border-bottom: 1px dashed #C3C3C3;
    padding-bottom: 10px
}

.address ul {
    padding-left: 30px;
    list-style-position: inside;
    margin: 0
}

.card-header {
    background-image: -webkit-linear-gradient(30deg, rgba(173, 173, 173, 1.00) 2.08%, rgba(173, 173, 173, 1.00) 87.05%);
    background-image: -moz-linear-gradient(30deg, rgba(173, 173, 173, 1.00) 2.08%, rgba(173, 173, 173, 1.00) 87.05%);
    background-image: -o-linear-gradient(30deg, rgba(173, 173, 173, 1.00) 2.08%, rgba(173, 173, 173, 1.00) 87.05%);
    background-image: linear-gradient(60deg, rgba(173, 173, 173, 1.00) 2.08%, rgba(173, 173, 173, 1.00) 87.05%);
    border: 0 solid hsla(0, 0%, 68%, 1.00)
}

.card {
    border: 0 solid hsla(0, 0%, 68%, 1.00)
}

.breadcrumb1 {
    background-color: #EFEFEF;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    font-weight: 700;
    margin-bottom: 45px
}

.pro_in1 img {
    position: relative;
    width: 100%;
    height: auto;
    display: block
}

ul .breadcrumb {
    margin-right: auto;
    margin-left: auto
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: .75rem;
    padding-right: 0;
    padding-left: 1px;
    justify-content: flex-end;
    list-style: none;
    background-color: hsla(210, 16%, 93%, 0.00);
    border-radius: .25rem;
    z-index: 9999;
    text-align: right
}

.page-header h1 {
    color: hsla(0, 0%, 100%, 1.00);
    text-align: right;
    z-index: 9;
    position: relative;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”"
}

.breadcrumb li a {
    color: hsla(0, 0%, 16%, 1.00);
    text-align: center
}

.breadcrumb li a::after {
    content: " â€¢  ";
    color: #000;
    margin-right: 3px
}

.breadcrumb li {
    color: #dc0d0d
}

.big-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    background-repeat: repeat;
    background-position: 0 0
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0)
}

.page-header {
    background-position: right center;
    padding-top: 150px;
    padding-bottom: 200px;
    position: relative;
    background-size: cover
}

.dropdown-menu {
    margin-top: 0
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background-color: #ececec;
    color: #fff;
    display: block !important
}

.dropdown-menu>li.show>a {
    color: #fff
}

.logo_ff li {
    display: inline-block
}

.logo_ff {
    text-align: center
}

.copy {
    background-color: #d50707;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center
}

.copy a {
    color: #000
}

.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px
}

.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px
}

.soc a {
    display: inline-block;
    text-align: center
}

.footer_info {
    color: #4c4c4c;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px
}

.footer_info a {
    color: #4c4c4c;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    word-wrap: break-word
}

.footer_info li {
    list-style-type: none;
    text-align: center
}

.ab_link {
    color: #FFF;
    display: block;
    margin-top: 15px
}

.lang a {
    color: hsla(0, 0%, 100%, 1.00);
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px
}

.lang a:hover {
    color: hsla(0, 0%, 100%, 1.00);
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px
}

.bg-dark {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0E6EB8;
    background-color: #d50707 !important;
    background-position: right center;
    background-repeat: no-repeat
}

.dropdown-toggle::after {
    color: #000
}

.dropdown-menu {
    position: absolute;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff !important;
    text-align: left;
    list-style: none;
    background-color: hsla(0, 0%, 15%, 0.82);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15)
}

.navbar-dark .navbar-nav .nav-link {
    color: #000
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: lighter;
    color: #FFF;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: red;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ececec;
    border-radius: .25rem
}

a {
    color: #ff0101;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 2px;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”"
}

body {
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”"
}

a:hover {
    color: red !important;
    text-decoration: none !important
}

.title01 {
    padding: 39px 0 20px;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center
}

.title01:first-letter {
    color: #e60000
}

.title01:after {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    content: '';
    display: block;
    width: 200px;
    height: 45px;
    -webkit-transform: translate(0, 12%);
    transform: translate(0, 12%)
}

.control-label:first-letter {
    color: #e60000
}

.bbt {
    background-color: #000;
    transform: skew(-30deg, 0deg);
    display: inline-block;
    border-right: 5px solid #9a1a1a;
    margin-bottom: 50px
}

.btn2_2 {
    background-image: -webkit-linear-gradient(150deg, rgba(42, 187, 169, 0.00) 9.33%, rgba(41, 176, 172, 1.00) 9.33%, rgba(38, 134, 125, 1.00) 18.13%, rgba(43, 190, 174, 1.00) 18.13%, rgba(33, 142, 168, 1.00) 80.83%, rgba(0, 121, 144, 1.00) 80.83%, rgba(30, 125, 166, 1.00) 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    background-image: -moz-linear-gradient(150deg, rgba(42, 187, 169, 0.00) 9.33%, rgba(41, 176, 172, 1.00) 9.33%, rgba(38, 134, 125, 1.00) 18.13%, rgba(43, 190, 174, 1.00) 18.13%, rgba(33, 142, 168, 1.00) 80.83%, rgba(0, 121, 144, 1.00) 80.83%, rgba(30, 125, 166, 1.00) 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    background-image: -o-linear-gradient(150deg, rgba(42, 187, 169, 0.00) 9.33%, rgba(41, 176, 172, 1.00) 9.33%, rgba(38, 134, 125, 1.00) 18.13%, rgba(43, 190, 174, 1.00) 18.13%, rgba(33, 142, 168, 1.00) 80.83%, rgba(0, 121, 144, 1.00) 80.83%, rgba(30, 125, 166, 1.00) 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    background-image: linear-gradient(300deg, rgba(42, 187, 169, 0.00) 9.33%, #b00000 9.33%, #860000 18.13%, #be0000 18.13%, #a80000 80.83%, #900000 80.83%, #a60000 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    padding: 8px
}

.btn2_2:hover {
    background-image: -webkit-linear-gradient(150deg, rgba(42, 187, 169, 0.00) 9.33%, #b00000 9.33%, #e60000 18.13%, #d00000 18.13%, #b50000 80.83%, #d70000 80.83%, #a60000 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    background-image: -moz-linear-gradient(150deg, rgba(42, 187, 169, 0.00) 9.33%, #b00000 9.33%, #e60000 18.13%, #d00000 18.13%, #b50000 80.83%, #d70000 80.83%, #a60000 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    background-image: -o-linear-gradient(150deg, rgba(42, 187, 169, 0.00) 9.33%, #b00000 9.33%, #e60000 18.13%, #d00000 18.13%, #b50000 80.83%, #d70000 80.83%, #a60000 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    background-image: linear-gradient(300deg, rgba(42, 187, 169, 0.00) 9.33%, #b00000 9.33%, #e60000 18.13%, #d00000 18.13%, #b50000 80.83%, #d70000 80.83%, #a60000 90.15%, rgba(245, 245, 245, 0.00) 90.15%);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    color: #FFF !important;
    font-weight: 700;
    padding: 8px
}

.p10 {
    padding: 12px
}

#accordion .link a.collapsed:before {
    content: ""
}

.bbt:hover {
    border-right: 5px solid hsla(0, 0%, 100%, 0.00)
}

.btn1 {
    transform: skew(30deg, 0deg);
    color: #FFF;
    font-size: 16px;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”"
}

.btn1:hover {
    color: #fff
}

.cookies_3 {
    border: 1px solid hsla(0, 0%, 89%, 1.00);
    margin-top: 10px;
    display: inline-block;
    color: hsla(0, 0%, 100%, 1.00);
    margin-bottom: 10px;
    padding: 5px
}

.btn3 {
    color: #2190a4;
    font-size: 16px;
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    border-width: 0;
    background-image: -webkit-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: -moz-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: -o-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-color: hsla(0, 0%, 0%, 0.02);
    padding-right: 40px;
    padding-left: 30px;
    margin-top: 7px
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
    letter-spacing: 3px;
    font-weight: 700
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999
}

.header_top {
    padding-top: 5px;
    padding-bottom: 5px
}

.header_s {
    position: absolute;
    z-index: 9;
    text-align: center;
    height: 81px;
    width: 100%
}

.clear {
    clear: both
}

.inq {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 50px;
    position: relative
}

.inq img {
    color: #FFF;
    width: 20px;
    height: 20px
}

.inq_q {
    background-color: #000;
    position: absolute;
    top: 0;
    font-size: 10px;
    color: #FFF;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 99em;
    text-align: center
}

.center {
    text-align: center;
    display: block
}

a {
    outline: none
}

.nav-item {
    margin-right: 2px;
    cursor: pointer
}

.nav-item:first-letter {
    color: #e60000
}

.form-inline {
    position: relative
}

.btn2 {
    background-color: hsla(173, 63%, 45%, 0.00);
    border: 0 solid #000;
    position: absolute;
    right: 15px;
    top: 11px;
    width: 15px
}

.btn2 img {
    z-index: 9999;
    position: absolute
}

.mt50 {
    margin-top: 50px
}

.mb50 {
    margin-bottom: 50px
}

.pt100 {
    padding-top: 100px
}

.pb100 {
    padding-bottom: 100px
}

.pb50 {
    padding-bottom: 50px
}

.pb25 {
    padding-bottom: 25px
}

.pt25 {
    padding-top: 25px
}

.webeditor {
    margin-top: 25px;
    margin-bottom: 25px
}

.webeditor img {
    max-width: 100% !important;
    height: auto !important;
    width: 100% !important
}

.webeditor table {
    max-width: 100% !important;
    height: auto;
    width: 100% !important
}

.skew-neg {
    -moz-transform: skew(18deg, 0deg);
    -webkit-transform: skew(18deg, 0deg);
    -o-transform: skew(18deg, 0deg);
    -ms-transform: skew(18deg, 0deg);
    transform: skew(18deg, 0deg);
    background-color: hsla(359, 100%, 31%, 1.00)
}

.skew-neg a {
    -moz-transform: skew(0deg, 0deg) !important;
    -webkit-transform: skew(-18deg, 0deg) !important;
    -o-transform: skew(0deg, 0deg) !important;
    -ms-transform: skew(0deg, 0deg) !important;
    transform: skew(0deg, 0deg) !important;
    background-color: hsla(194, 66%, 46%, 1.00)
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
    .bg-dark {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .page-header {
        background-position: center center;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        background-size: cover
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .pin_name {
        font-size: 22px
    }

    .slogan h3 {
        color: #FFF;
        font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
        font-size: 16px;
        max-width: 600px;
        float: none !important;
        font-weight: bolder
    }

    .dropdown-menu {
        position: static;
        top: 95%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #fff !important;
        text-align: left;
        list-style: none;
        background-color: hsla(0, 0%, 15%, 0.82);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        width: 100%
    }

    header {
        position: static;
        width: 100%;
        z-index: 9999
    }

    .bg-dark {
        padding-top: 15px
    }

    .page-header {
        background-position: center center;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        background-size: cover
    }

    .page-header h1 {
        color: hsla(0, 0%, 100%, 1.00);
        text-align: center;
        z-index: 9;
        position: relative;
        font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”"
    }

    .nb {
        display: none !important
    }

    aside {
        display: none !important
    }
}

@media screen and (max-width: 480px) {
    .slogan h3 {
        color: #FFF;
        font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”";
        font-size: 16px;
        max-width: 600px;
        float: none !important;
        font-weight: bolder
    }

    .pin_name {
        font-size: 22px
    }

    .dropdown-menu {
        position: static;
        top: 95%;
        left: 0;
        z-index: 1000;
        display: none;
        float: none;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #fff !important;
        text-align: left;
        list-style: none;
        background-color: hsla(0, 0%, 15%, 0.82);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        width: 100%
    }

    header {
        position: static;
        width: 100%;
        z-index: 9999
    }

    .bg-dark {
        padding-top: 15px;
        padding-bottom: 15px;
        background-image: -webkit-linear-gradient(320deg, red 17.62%, rgba(34, 34, 34, 0.91) 52.85%, #000 52.85%, red 80.83%, #c00 80.83%, #000 87.56%);
        background-image: -moz-linear-gradient(320deg, red 17.62%, rgba(34, 34, 34, 0.91) 52.85%, #000 52.85%, red 80.83%, #c00 80.83%, #000 87.56%);
        background-image: -o-linear-gradient(320deg, red 17.62%, rgba(34, 34, 34, 0.91) 52.85%, #000 52.85%, red 80.83%, #c00 80.83%, #000 87.56%);
        background-image: linear-gradient(130deg, red 17.62%, rgba(34, 34, 34, 0.91) 52.85%, #000 52.85%, red 80.83%, #c00 80.83%, #000 87.56%)
    }

    .page-header {
        background-position: left center;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        background-size: cover
    }

    .page-header h1 {
        color: hsla(0, 0%, 100%, 1.00);
        text-align: center;
        z-index: 9;
        position: relative;
        font-family: 'moon', "å¾®è»Ÿæ­£é»‘é«”"
    }

    .nb {
        display: none !important
    }

    aside {
        display: none !important
    }
}

.in_con {
    padding-top: 30px
}

path.st0 {
    fill: #000
}

.navbar-brand>img {
    height: 70px
}

nav.bg-dark {
    background: #f0f0f0 !important
}

.nav-item>a:hover {
    color: #e60000 !important
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #e60000
}

.carousel-caption {
    display: none !important
}

.slogan p {
    color: #FFF;
    max-width: 600px
}

.index-slogan .container.right {
    text-align: left;
    font-weight: 600
}

.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right
}

.dl-list li {
    border-bottom: 1px dashed hsla(0, 0%, 84%, 1.00);
    display: inline-block;
    list-style-position: inside;
    color: hsla(0, 0%, 16%, 1.00);
    width: 100%;
    margin-bottom: 20px;
    padding: 8px
}

.dl-list li::before {
    content: 'â€¢';
    display: inline-block;
    width: 20px;
    vertical-align: top
}

.dl-list {
    border: 1px dashed hsla(0, 0%, 84%, 1.00);
    background-color: hsla(0, 0%, 100%, 1.00);
    padding: 15px
}

.dl-list a {
    color: #000;
    font-family: Arial, "å¾®è»Ÿæ­£é»‘é«”"
}

.dl-list a:hover {
    color: #0271E5;
    font-family: Arial, "å¾®è»Ÿæ­£é»‘é«”"
}

.itemLink img {
    width: 20px;
    height: 20px
}

.itemTitle {
    width: 70%;
    display: inline-block
}

.itemLink {
    display: inline-block;
    background: #ebeef3;
    border-radius: 20px;
    border-width: 0;
    border-style: solid;
    padding: 10px 17px
}

.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
    color: hsla(0, 0%, 100%, 1.00);
    padding: 10px 17px
}

@media screen and (max-width: 480px) {
    .itemTitle {
        width: 80%;
        display: inline-block
    }
}

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.email-link a {
    color: #adadad
}

.email-link svg {
    width: 20px;
    height: auto;
    fill: #adadad
}

.f_m {
    display: inline-block
}

.f_m svg {
    margin-right: 5px
}

.searchbox-icon {
    width: 15px;
    height: 15px;
    vertical-align: super
}

footer {
    background-image: url(https://www.celebritefasteners.com/asset/images/footer.jpg) !important;
    background-color: #f10000;
    padding: 50px 0 15px;
    background-position: center bottom
}

main {
    background-image: none !important;
    background: #f7f7f7
}

.news_in,
.news_mask {
    background-image: none !important;
    background: #efefef
}

/* h1 css setting */

.index-seo_h {
    background: #1c1c1c !important;
    padding: 1rem 0;
}

.index-seo_h h1 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

@media (max-width:480px) {
    .index-seo_h h1{
        text-align: center;
    }
}