@import "mixins";
@import "extends";
@import "variable";

body {
    letter-spacing: 0.15rem;
}

.a_img img {
    width: 100%;
    height: auto;
    min-width: 100%;
}

.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding: 20px 0;

    p {
        padding: 0 10px;
        text-align: center;
        line-height: 1.8;
        margin-bottom: 0;
        white-space: normal;
        @include breakpoint(320) {
            font-size: 18px;
        }
        @include breakpoint(sm) {
            font-size: 22px;
        }
    }
}

.news_in {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.news_mask {
    background: transparent !important;
}

.about {
    position: relative;
    padding: 100px 0;
    color: #ffffff;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include breakpoint(md) {
        background-position-x: left;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(126,164,203, .7);
        @include breakpoint(md) {
            display: none;
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
}

.ab_ind {
    max-width: 700px;
    padding: 30px;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;

    h2 {
        color: #fff;
        letter-spacing: 5px;
        &::after,
        &::before {
            display: none;
        }
        &::first-letter {
            color: #fff;
        }
    }
    a {
        padding: 10px 30px;
        color: #fff;
        background: var(--second-color);
        transition: all .3s;
        &:hover {
            background: var(--main-color);
        }
    }
}

.index-product {
    background: #fff !important;
}

.pf li {
    float: left;
    list-style-position: inside;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #6f6f6f;
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
}

ul.pf {
    padding-left: 0px !important;
    margin-top: 25px;
    display: block;
}

.slogan {
    h2 {
        color:#fff;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 20px;
        padding-bottom: 15px;
        line-height: 1.5;
        font-size: 22px;
        &::first-letter {
            color: #fff;
        }
    }

    h3 {
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .about {
        position: relative;
        padding: 100px 0;
        background-image: none,
            linear-gradient(122deg, rgba(31, 31, 31, 1) 0%, rgba(38, 38, 38, 1) 64.76%, rgba(17, 17, 17, 1) 64.76%);
        background-attachment: initial;
        color: #fff;
        overflow: hidden;
        background-color: #1d1d1d;
    }

    .slogan {
        width: 100%;
        background-size: cover;
        padding: 200px 60px 200px 0;
        background-position: right center;
    }
}

@media screen and (max-width: 480px) {
    .about {
        position: relative;
        padding: 100px 0;
        background-image: none,
            linear-gradient(122deg, rgba(31, 31, 31, 1) 0%, rgba(38, 38, 38, 1) 64.76%, rgba(17, 17, 17, 1) 64.76%);
        background-attachment: initial;
        color: #fff;
        overflow: hidden;
        background-color: #1d1d1d;
    }

    .slogan {
        width: 100%;
        background-size: cover;
        padding: 200px 60px 200px 0;
        background-position: right center;
    }
}

.index-seo_h {
    padding: 15px 0;
    text-align: right;
    background: var(--main-color-darken);
    h1 {
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 0;
    }
}

.index-slider {
    margin-top: 84px;
    @include breakpoint(lg) {
        margin-top: 0;
    }

    .carousel-caption {
        @include breakpoint(sm) {
            max-width: 540px;
        }
        @include breakpoint(md) {
            max-width: 720px;
        }
        @include breakpoint(lg) {
            max-width: 960px;
        }
        @include breakpoint(xl) {
            max-width: 1140px;
         }
        font-family: Arial;
        h5 {
            font-size: 45px;
            text-shadow: 1px 1px 3px #333;
            text-align: left;
            margin-bottom: 0;
        }
        p {
            font-size: 45px;
            text-shadow: 1px 1px 3px #333;
            text-align: left;
            margin-bottom: 0;
        }
    }
}