/* index banner css setting */
.carousel,
.carousel-item {
  height: 100vh;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.index-slider .carousel-caption {
  padding-right: 5%;
  padding-left: 5%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(34.2%, rgba(var(--main-color-rgba), 0.85)), color-stop(60.62%, rgba(var(--main-color-rgba), 0.83)), to(rgba(255, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(var(--main-color-rgba), 0.85) 34.2%, rgba(var(--main-color-rgba), 0.83) 60.62%, rgba(255, 0, 0, 0) 100%);
  bottom: 40%;
}

.index-slider .carousel-caption h5,
.index-slider .carousel-caption p {
  letter-spacing: 1px;
  margin-bottom: 0;
}

.index-slider .carousel-caption h5 {
  font-size: 28px;
  margin-bottom: 5px;
}



/* index news css setting */
.news_in {
  background-size: cover;
  background-position: center;
}

.news_mask {
  padding: 100px 0;
  background-image: none !important;
  background-color: #F2F2F2;
}


/* news btn */
.indexNews-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
  background: var(--main-color);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.indexNews-text p{
  margin: 0;
}

.line-height-limit{
  color: #FFF;
}

.indexNews-text:after {
  content: "";
  background: #000;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.news_in .col-md-4.col-sm-12:hover .indexNews-text:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}





/* index about css setting */
section.about {
  position: relative;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
}

section.about::before {
  z-index: 1;
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: linear-gradient(116deg, rgb(29 29 29 / 88%) 41.97%, rgb(29 29 29 / 94%) 41.97%, rgb(29 29 29 / 94%) 47.67%, rgb(37 37 37 / 94%) 47.67%, rgb(37 37 37 / 94%) 52.86%, rgba(255, 0, 0, 0.00) 52.86%, rgba(204, 19, 19, 0.00) 85.49%, rgb(27 27 27 / 80%) 85.49%);
}

section.about>.container {
  z-index: 2;
  position: relative;
}

.ab_ind {
  max-width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #FFF;
}

.ab_ind .title01 {
  padding: 0;
  text-align: left;
  margin-bottom: 1rem;
}

.ab_ind .title01::before {
  display: none;
}

.a_img img {
  width: 100%;
  height: auto;
  min-width: 100%;
}



/* index pdt css setting */
.index-product {
  background-image: none !important;
  position: relative;
  padding: 100px 0;

}




.pli_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0;
  margin-top: 1rem;
  background-color: var(--main-color);
  color: #FFF;
  border: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.pli_list .line-height-limit {
  color: #FFF !important;
  font-size: 18px;
  margin: 0;
}

.pro_in1:hover .pli_list a{
  color: #FFF;
}

.pli_list::after{
  content: "";
  background: #000;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  bottom: 0;
  top: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.pro_in1:hover .pli_list::after{
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}




/* index slogan css setting */
.slogan {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-size: cover;
  padding: 80px 0;
}

.slogan h2{
  color: var(--main-color-lighten);
  font-weight: bolder;
  margin-bottom: 2rem;
}

.slogan p {
  color: #FFF;
  line-height: 32px;
}



/* index seo css setting */
.index-seo_h {
  padding: 7px 0;
  text-align: right;
  background: var(--main-color);

}

.index-seo_h h1 {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.pf li {
  float: left;
  list-style-position: inside;
  color: white;
  border: 1px solid #6f6f6f;
  list-style-image: none;
  list-style-type: none;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 5px;
  padding: 5px;
}

ul.pf {
  padding-left: 0px !important;
  margin-top: 25px;
  display: block;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: initial;
    color: #fff;
    overflow: hidden;
    background-color: #1d1d1d;
  }

  .slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
  }
}

@media screen and (max-width: 480px) {
  .about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: initial;
    color: #fff;
    overflow: hidden;
    background-color: #1d1d1d;
  }

  .slogan {
    width: 100%;
    background-size: cover;
    padding: 48px 16px;
    background-position: right center;
  }

  .slogan h2{
    font-size: 24px;
  }
}

@media screen and (max-width:991px) {
  section.about{
    background-position: center right;
  }

  section.about::before{
    background: #333333c9;
  }

}
@media screen and (max-width:768px) {
  
  .news_mask .col-md-4.col-sm-12{
    margin-top: 24px;
  }

  .news_mask .col-md-4.col-sm-12:nth-child(1){
    margin-top: 0px;
  }

}

.index-slider .carousel-caption{
  display: block !important;
}