[lang="en"] .page-pdt-detail .pro_con_s br:nth-child(even) {
    display: block!important;
}
[lang="zh-TW"] .page-pdt-detail .pro_con_s br:nth-child(even) {
    display: block!important;
}
.page-pdt-detail .pro_con_s br:nth-child(even) {
    display: none;
}
.navbar-brand img {
    width: 90%;
}
#slogan .webeditor .row {
    margin-right: 0px;
    margin-left: 0px;
}
.pf {
    padding-left: 0px;
}
#slogan .ab_ind {
    text-align: left!important;
}
#finf .li a {
    font-size: 12px;
    color: #2b3034;
}
#finf .li {
    font-size: 12px;
    min-height: 120px;
    color: #2b3034;
    padding: 15px;
    background: #f7f7f7;
    border-radius: 20px;
    margin-bottom: 12px;
}
#finf .wow {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    list-style-type: none;
    padding-left: 0px;
}
.li p {
    margin-bottom: 1px;
}
.f_title {
    color: hsla(0,0%,100%,1.00);
}
#finf .li h4 {
    font-size: 14px;
    color: #2b3034;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "moon", "Microsoft JhengHei";
}
#finf .li .icon {
    float: left;
    height: 95px;
    border-right: 1px solid rgb(98 98 98 / 15%);
    display: inline-block;
    padding-right: 7px;
    margin-right: 5px;
    margin-left: 0px;
    font-weight: bolder;
}
#finf .li .icon img {
    width: 30px;
}
.pf li {
    text-align: center;
    list-style-image: none;
    list-style-type: none;
    display: inline-block;
}
#slogan .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.webeditor {
    overflow-y: auto;
}
footer ul.footer_info {
    padding-left: 0;
    margin-top: 20px;
}
adress.address {
    font-size: 14px;
    background: #fd9725;
    display: block;
    color: #FFF;
}
adress.address a {
    color: #FFF;
}
li.nav-item.active {
    background: #d77100;
}
/*按鈕*/
.sim-button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 11px;
}
.page-pdt-detail .button28 {
    color: rgb(67 67 67)!important;
}
.button28 a {
    color: rgb(24 24 24)!important;
}
.button28 {
    color: rgb(24 24 24);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}
.pdt_bu {
    margin-top: 30px
}
.button28 span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.button28 a {
    color: rgba(51,51,51,1);
    text-decoration: none;
    display: block;
}
.itel .button28 {
    color: #FFF;
}
.itel .button28::before {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #727272;
    border-bottom-color: #727272;
}
.button28::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(38 44 46);
    border-bottom-color: rgb(22 22 22);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}
.button28:hover span {
    letter-spacing: 2px;
}
.button28:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.button28::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: hsl(0deg 0% 83% / 16%);
}
.button28:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}
#slogan h2 {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    color: #000000;
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: bolder;
    border-bottom: 1px solid #FFFFFF;
}
#slogan h3 {
    color: #626262;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.lang li span {
    cursor: pointer;
    color: #ff9800;
}
.carousel-item img:hover {
    opacity: 1;
}
.mt-3 .container table tr td:nth-child(3) {
    max-height: 155px;
    overflow-x: hidden;
    display: block;
}
.mt-3 .container thead tr th:nth-child(1) {
    width: 15%
}
.mt-3 .container thead tr th:nth-child(2) {
    width: 35%
}
.mt-3 .container thead tr th:nth-child(3) {
    width: 40%
}
.mt-3 .container thead tr th:nth-child(4) {
    width: 10%
}
.navbar-nav .active a {
    padding-left: 5px;
}
.d-none {
    display: block !important;
}
.navbar-nav li:hover {
    background-color: hsl(32deg 100% 36%);
    padding-left: 5px;
}
section#news {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: none !important;
}
.p-news-list table tr {
    border-top: 1px dashed hsla(0, 0%, 77%, 1.00);
}
.p-sitemap h2 {
    background-color: hsl(0deg 0% 14%);
    padding-top: 6px;
    font-size: 16px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    color: #FFF;
}
.p-news-index table {
    margin-top: 17px;
}
.p-news-index table tr {
    border-top: 1px dashed hsla(0, 0%, 77%, 1.00);
}
.inquiry_in {
    background-image: none !important;
}
.address ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 18px;
}
.address img {
    margin: 10px;
    width: 30px;
    height: auto;
}
.btn {
    margin-bottom: 13px;
}
.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
}
.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer_info li {
    list-style-type: none;
}
.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}
.dropdown-menu>li a:hover, .dropdown-menu>li.show {
    background: #3c3c3c;
    color: white;
}
.dropdown-menu>li.show>a {
    color: white;
}
#news h2 {
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #000000;
    font-size: 28px;
    margin-bottom: 20px;
    background-color: #efefef;
    border-radius: 20px;
}
#news h2::before {
    content: '';
    width: 28px;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    background-image: url(../images/t_c.webp);
}
.carousel-caption {
    position: static;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #575757;
    text-align: center;
}
.advbox {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 100% !important;
    /* background-image: -webkit-linear-gradient( 318deg, rgba(10,85,169,0.79) 0%, rgba(52,188,169,0.79) 100%); */
    background-image: -moz-linear-gradient(318deg, rgba(10, 85, 169, 0.79) 0%, rgba(52, 188, 169, 0.79) 100%);
    background-image: -o-linear-gradient(318deg, rgba(10, 85, 169, 0.79) 0%, rgba(52, 188, 169, 0.79) 100%);
    /* background-image: linear-gradient( 132deg, rgba(10,85,169,0.79) 0%, rgba(52,188,169,0.79) 100%); */
    z-index: 9999;
    color: hsla(0, 0%, 100%, 1.00);
    left: 0;
    background: #2a3036;
}
nav {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
}
.btn1 {
    transform: skew(30deg, 0deg);
    color: #FFFFFF;
    font-size: 16px;
    font-family: Arial, "微軟正黑體";
}
.cookies_3 {
    /* border: 1px solid hsla(0,0%,89%,1.00); */
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
    color: hsla(0, 0%, 100%, 1.00);
    margin-bottom: 10px;
    background: #747474;
}
.btn3 {
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, "微軟正黑體";
    border-width: 0px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /* background-image: -webkit-linear-gradient(340deg, rgba(255,255,255,0.00) 16.58%, rgba(255,255,255,1.00) 16.58%, rgba(255,255,255,1.00) 81.35%, rgba(203,203,203,1.00) 81.35%, rgba(203,203,203,1.00) 86.01%, rgba(255,0,0,0.00) 86.01%); */
    background-image: -moz-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    background-image: -o-linear-gradient(340deg, rgba(255, 255, 255, 0.00) 16.58%, rgba(255, 255, 255, 1.00) 16.58%, rgba(255, 255, 255, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 81.35%, rgba(203, 203, 203, 1.00) 86.01%, rgba(255, 0, 0, 0.00) 86.01%);
    /* background-image: linear-gradient(110deg, rgba(255,255,255,0.00) 16.58%, rgba(255,255,255,1.00) 16.58%, rgba(255,255,255,1.00) 81.35%, rgba(203,203,203,1.00) 81.35%, rgba(203,203,203,1.00) 86.01%, rgba(255,0,0,0.00) 86.01%); */
    background-color: hsl(32deg 98% 57%);
    padding-right: 40px;
    padding-left: 30px;
    cursor: pointer;/* margin-top: 7px; */
}
.rwd-table {
    background: #fff;
    overflow: hidden;
}
.rwd-table tr:nth-of-type(2n) {
    background: #eee;
}
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table {
    min-width: 100%;
}
.rwd-table th, .rwd-table td {
    text-align: left;
    clear: both;
}
.right01 {
    width: 70%;
    display: contents;
    float: right;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
.rwd-table th, .rwd-table td:before {
    color: #000000;
    font-weight: bold;
    width: 30%;
}

@media (min-width: 480px) {
.rwd-table th,  .rwd-table td {
    text-align: left;
    clear: none;
}
.rwd-table td:before {
    display: none;
}
.rwd-table th,  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
}
.rwd-table th:first-child,  .rwd-table td:first-child {
    padding-left: 0;
}
.rwd-table th:last-child,  .rwd-table td:last-child {
    padding-right: 0;
}
.rwd-table th,  .rwd-table td {
    padding: 0.5em !important;
}
.right01 {
    width: 100%;
    display: block;
    float: none;
}
}
a img:hover {
    opacity: 0.7
}
header {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
.copy {
    /* background-color: #2E2E2E; */
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid hsla(0,0%,88%,1.00);
    border-bottom: 1px solid hsla(0,0%,88%,1.00);
    padding-top: 6px;
    padding-bottom: 6px;
}
.copy a {
    color: #000;
}
main {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
    background-color: #f8f8f8;
}
footer {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
footer {
    background-color: rgba(15, 15, 15, 1.00);
    padding-top: 50px;
    padding-bottom: 15px;
    background-position: center center;
    background-attachment: fixed;
}
.form-control {
/* margin-bottom: 10px*/
}
.error {
    color: #FFF;
    background-color: #FF0004;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.error1 {
    border: 1px solid #FF0004;
}
.sw {
    margin-right: 7px;
    background-color: #E90003;
}
.dl {
    margin-right: 7px;
    background-color: #6B6B6B;
}
.sw:hover {
    margin-right: 7px;
    background-color: #780001;
}
.dl:hover {
    margin-right: 7px;
    background-color: #242424;
}
.i_l {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 12px;
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
}
.news_in {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
}
.news_t {
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 12px;
    display: block;
}
.news_date {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #fd9725;
    color: #ffffff;
    display: block;
    width: 104px;
    font-size: 14px;
    margin-top: 4px;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 30px;
}
.red {
    color: #FF0004;
}
.pro_1 {
    color: #292929;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: center;
}
.model {
    background-color: #fd9725;
    color: #FFFFFF;
    padding: 2px;
    font-size: 14px;
    text-align: center;
}
.page-item .active {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #1f77a7;
    border: 1px solid #dee2e6;
}
.cart {
    right: 100px;
    position: absolute;
    top: 41px;
}
.cart1 {
    position: relative;
}
.i_n {
    position: absolute;
    z-index: 99;
    background-color: #ff9800;
    color: #FFFFFF;
    font-size: 14px;
    right: -18px;
    bottom: -14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 99em;
}
a:hover {
    text-decoration: none;
}
.mt-3 .col-sm-4 {
    margin-bottom: 8px;
}
.ml {
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    color: #ffffff;
    background: #fd9725;
}
.p_name {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
    width: 100%;
}
.pr_in {
    min-height: 50px;
    padding-top: 8px;
    padding-bottom: 5px;
}
.p1 {
    background-color: #f9f9f9;
    padding: 5px;
}
.p-news-dt .mt-3 h1 {
    font-size: 1.8rem;
    margin-top: 20px;
}
.p-news-dt h2 {
    margin-top: 10px;
    font-size: 22px;
}
.container img {
    max-width: 100%;
    height: auto;
}
.sp-large img {
    max-width: none;
    height: none;
}
.to-top {
    background: rgb(255 255 255) !important;
    color: #fff;
    /* border-radius: 99px; */
    display: flex;
    justify-content: center;
    padding-left: 2px;
    width: 25px;
    font-size: 18px;
    height: 40px;
    padding-bottom: 77px;
    line-height: 40px;
    z-index: 99999;
    border-bottom: 5px solid #fb9736;
    border-radius: 0.3rem;
}
.to-top:hover {
    color: #fff;
    background: rgb(93 157 84);
}
.date_in {
    color: #1c2026;
    display: inline-block;
    background-color: #e9ecef;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    border-radius: 10px;
}
.sitemap h2 {
    background: #fd9725;
    border-radius: 19px;
}
.logo_b {
    border-radius: 40px;
    margin-bottom: 20px;
    color: #ffffff;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}
main {
    background-color: #f9f9f9;
}
.center {
    text-align: center;
    width: 100%;
}
.right {
    text-align: right;
}
.poc {
    margin-bottom: 13px;
}
.inbanner img {
    display: block;
}
.btn001 a {
    background-color: #353535;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}
.btn001 a:hover {
    background-color: #fd9725;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}
.mt40 {
    margin-top: 40px;
}
.webeditor img {
    max-width: 100%;
    height: auto !important;
}
.webeditor table {
    max-width: 100% !important;
    height: auto !important;
}
.news_in li {
    margin-bottom: 10px
}
a {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    outline: none !important;
}
button {
    outline: none !important;
}
.inbanner img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #FFF;
    padding-top: 10px;
    background-position: center bottom;
    background-attachment: fixed;
    background-image: none !important;
}
footer .row {
    margin-top: 10px;
}
footer a {
    color: #ffffff;
    font-size: 14px;
}
.card-body ul li a {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 1.00);
}
.btn-link a {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 1.00);
}
* {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
}
.wrap {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
.lang_all {
    border-bottom: 1px solid #EBEBEB;
    background-color: rgb(249 249 249);
    padding-top: 5px;
    border-top: 1px solid #ff9800;
}
.lang_all a {
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.lang_all img {
    width: 20px;
    height: 20px;
}
.p-index #about {
    background: #fb9635;
}
#about {
    background-image: none !important;
    padding-bottom: 30px;
}
#about h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFF;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bolder;
    border-bottom: 1px solid #FFF;
}
#about h1 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-image: -webkit-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgba(31, 31, 31, 1.00) 21.24%);
    background-image: -moz-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgba(31, 31, 31, 1.00) 21.24%);
    background-image: -o-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgba(31, 31, 31, 1.00) 21.24%);
    background-image: linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgba(31, 31, 31, 1.00) 21.24%);
}
#prod h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #2a3036;
    font-size: 20px;
    margin-bottom: 20px;
    /* background-image: -webkit-linear-gradient(315deg, rgba(21,92,167,1.00) 5.70%, rgba(58,182,169,1.00) 100%); */
    background-image: -moz-linear-gradient(315deg, rgba(21, 92, 167, 1.00) 5.70%, rgba(58, 182, 169, 1.00) 100%);
    background-image: -o-linear-gradient(315deg, rgba(21, 92, 167, 1.00) 5.70%, rgba(58, 182, 169, 1.00) 100%);
    /* background-image: linear-gradient(135deg, rgba(21,92,167,1.00) 5.70%, rgba(58,182,169,1.00) 100%); */
    font-family: Arial, "微軟正黑體";
    background: #e9e9e9;
}
#prod h3 {
    font-size: 18px;
    color: #fd9725;
    font-weight: bold;
    /* background-color: #DFDFDF; */
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: Arial, "微軟正黑體";
}
#about h3 {
    text-align: right;
    color: #FFF;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    line-height: 30px;
    float: none !important;
    font-weight: bolder;
}
#about p {
    font-size: 14px;
    color: #4B4B4B;
    text-align: center;
}
#slogan {
    background-image: none !important;
    width: 100%;
    background-size: cover;
    padding: 10px 10px 100px 10px;
    background-position: right center;
    color: hsl(0deg 0% 0%);
}
#pdt {
    background-image: none !important;
}
#pdt h2 {
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #000000;
    font-size: 28px;
    margin-bottom: 20px;
    background-color: #e7e7e7;
    border-radius: 20px;
}
#pdt h2::before {
    content: '';
    width: 28px;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    background-image: url(../images/t_c.webp);
}
.center {
    text-align: center;
}
.card h2 {
    background-color: hsla(207, 100%, 25%, 0.00) !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    color: #FFFFFF;
    font-size: 20px;
}
.lang_all ul {
    margin-bottom: 0rem;
    margin-right: 13px;
    text-align: right;
}
.lang {
    list-style: none;
}
.lang li {
    display: inline-block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}
.lang li a {
    display: block;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, "微軟正黑體";
}
.lang li a:hover {
    color: #fff;
}
.lang a.selected {
    color: #f00;
}
.lang ul {
    position: absolute;
    left: 0;
    display: none;
    padding: 0;
    list-style: none;
    background: #4e4e4e;
    border-radius: 7px;
}
.lang ul li {
    width: 100%;
    border-bottom: 1px dashed hsla(0, 0%, 43%, 1.00);
}
.lang ul a {
    display: block;
    padding: 8px 5px;
    color: #FFF;
}
.lang ul a:hover {
    text-decoration: none;
}
.lang ul li:hover {
    background: #ff9800;
}
.slick-slide {
    height: auto;
}
table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
table tr {
    padding: 5px;
}
table th, table td {
    padding: 10px;
    text-align: center;
}
table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}
.da {
    width: 100px;
}

@media screen and (max-width: 600px) {
.mt-3 .container table tr td:nth-child(3) {
    max-height: 100px;
    overflow-x: hidden;
    display: block;
}
table {
    border: 0;
}
table thead {
    display: none;
}
.rwd-table tr {
    margin-bottom: 10px;
    display: block;
}
.p-inquiry-list table td {
    display: block;
    font-size: 13px;
}
table td:last-child {
    border-bottom: 0;
}
table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
.da {
    width: 100%;
}
}

@media print {
.no_p {
    display: none
}
}
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}
.dl-list li {
    border-bottom: 1px dashed hsla(0, 0%, 84%, 1.00);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0, 0%, 16%, 1.00);
    width: 100%;
    margin-bottom: 20px;
}
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0, 0%, 84%, 1.00);
    background-color: hsla(0, 0%, 100%, 1.00);
    list-style-type: disc;
}
.dl-list a {
    color: #000;
    font-family: Arial, "微軟正黑體";
}
.dl-list a:hover {
    color: #0271E5;
    font-family: Arial, "微軟正黑體";
}
.itemLink img {
    width: 20px;
    height: 20px;
}
.itemTitle {
    width: 70%;
    display: inline-block;
}
.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}
.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0, 0%, 100%, 1.00);
}
.download-des {
    color: hsl(0deg 0% 70%);
}
.dl-list span {
    color: hsla(0, 0%, 4%, 1.00);
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
.itemTitle {
    width: 95%;
    display: inline-block;
}
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    float: none;
    margin-top: 10px;
}
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0, 0%, 84%, 1.00);
    background-color: hsla(0, 0%, 100%, 1.00);
    list-style-type: disc;
    text-align: center;
}
}
.index-seo_h {
    padding: 0;
    margin: 0px;
    text-align: left;
    display: inline-block;
    width: 100%;
    background-image: none !important;
}
.index-seo_h h1 {
    font-size: 14px !important;
    color: #626262;
}
.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.email-link a {
    color: #adadad;
}
.email-link svg {
    width: 20px;
    height: auto;
    fill: #adadad;
}
.f_m {
    display: inline-block;
}
.f_m svg {
    margin-right: 5px;
}

@media screen and (max-width: 560px) {
.pf li {
    text-align: center;
    list-style-image: none;
    list-style-type: none;
    display: block
}
}

@media screen and (max-width: 990px) {
.news_mask .title01:after {
    margin: auto;
    content: "";
    display: none;
    width: 300px;
    height: 300px;
    background-image: url(../images/pic9.jpg);
}
.news_in {
    padding-top: 0px;
}
.news_in .container {
    max-width: 90%;
}
.news_in .title01 {
    float: none;
    width: 100%;
}
.news_in .pb100 {
    float: none;
    width: 100%;
}
}
.new_area .col-sm-1 {
    max-width: 100% !important;
    width: 100% !important;
    text-align: center !important;
    flex: none !important;
}
.color {
    color: #1a6ad2;
    margin-right: 6px;
}
.footer_info {
    color: #ffffff;
    font-family: Arial, "微軟正黑體";
    letter-spacing: 0px;
    font-size: 12px;
    text-align: left;
    font-weight: normal !important;
}
.a-five {
    border: 4px solid #ebebeb;
    border-radius: 17px;
    padding-top: 90px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: hsl(0deg 0% 70% / 2%);
}
.grid_img {
    position: absolute;
    background: #f6f6f6;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ab-in-t {
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    margin-top: 5px;
    color: #000;
    text-align: center;
}
.ab-in-t::after {
    background-color: #116fb5;
    content: '';
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 2px;
    margin-top: 13px;
    margin-bottom: 3px;
}
.col-md-1-5 {
    margin-top: 110px;
    width: 100%;
}
.hot_pdt_card .card-text {
    background-color: #fd9725 !important;
}
