.pli_list {
    bottom: 0;
    text-align: center;
    width: 100%;
 
    position: relative;    
    
}
/*.about::after {
    content: '';
    width: 1920px;
    height: 153px;
    display: block;
    margin-top: 15px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-position: center 0%;
}*/
.a_img img{
    border: 1px solid hsla(0,0%,81%,1.00);
}
.pli_list a {
  color: #000;
}
.news_in .indexNews-text {
    background-color: rgb(0 0 0 / 32%);
    position: relative;
    top: -95px;
     transition: .5s;
    -webkit-transition: .5s;

}
.news_in .indexNews-text:hover {
    background-color: rgb(0 0 0 / 32%);
    position: relative;
    
}
.news_mask .col-sm-12:hover .indexNews-text{
    background-color: rgb(0 0 0 / 82%);
    top: -151px;
    
}
.news_in .col-sm-12{
    margin-bottom: 20px;
}
.carousel-caption h5{
    font-size: 45px
}
.carousel-caption p{
    font-size: 25px
}
.title01:after {
    margin: auto;
    content: "」";
   
    color: #e51112;
    font-weight: bolder;
}
.title01:before {
    margin: auto;
    content: "「";
   
    color: #e51112;font-weight: bolder;
}
.carousel-caption {
    position: absolute;
    right: auto;
    bottom: 36%;
    width: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 0px 4px #000000;
    left: 10%;
    font-weight: bolder;
}

.pro_in1:hover .pli_list {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(130deg, rgba(var(--main-color-rgba), 0.68) 58.04%, rgba(var(--main-color-rgba), 0.72) 58.04%, rgba(var(--main-color-rgba), 0.72) 94.3%, rgba(var(--main-color-rgba), 1) 94.3%);
}
.pro_in1:hover .pli_list a {
    font-weight: 900;
}

.pli_list span a {
  padding-top: 9px;
  display: block;
  font-family: "moon", "Microsoft JhengHei";
}
.pli_list a:hover {
    color: #363636;
}

.a_img img {
  width: 100%;
  height: auto;
  min-width: 100%;
}

.indexNews-text-line {
 position: relative;
    width: 3px;
    height: 100%;
    margin: 30px 15px 0 15px;
       background: #ff1500;
}
.indexNews-text a{
    font-size: 16px;color: #FFF;
}
.indexNews-content-inner .indexNews-text-line-inner {
  height: 100%;
}

.indexNews-text {
  position: relative;
  width: 100%;
  white-space: nowrap;
}
.indexNews-text .indexNews-text-line .indexNews-text-line-inner {
  position: relative;
  width: 1px;
  height: 0;
  margin: 30px 15px 0 15px;
  background: #000;
}

.indexNews-text-line, .indexNews .indexNews-text p {
  display: inline-block;
  vertical-align: top;
}

.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 
}
.indexNews-text p {
  position: relative;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  color: #000;
  padding: 30px 37px 0 0;
  white-space: normal;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (min-width: 320px) {
  .indexNews-text p {
    font-size: 18px;
  }
}
@media all and (min-width: 576px) {
  .indexNews-text p {
    font-size: 22px;
  }
}

.news_in {
  background-size: cover;
  background-attachment: fixed;
}

.news_mask {
  background-size: cover;
}

.about {
    position: relative;
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 47px;
    background-repeat: no-repeat;
    background-position: right center/cover #222;
    color: #fff;
    overflow: hidden;
}

body {
}

.ab_ind {
  max-width: 100%;
  font-family: "moon", "Microsoft JhengHei";
  font-size: 16px;
  
  line-height: 25px;
}
.ab_ind h2 {
  font-family: "moon", "Microsoft JhengHei";
  letter-spacing: 2px;
}
.ab_ind h2 span {
   color: rgb(106 61 149);
    margin-left: 5px;
}
.ab_ind h2::after{
        content: '';
        background: #ff1500;
    width: 53px;
    height: 5px;
    display: block;    
    margin-top: 15px;
}

.pf li {
        float: left;
    list-style-position: inside;
    color: white;
    border-left-color: #ff1500;
    border-right-color: #ff1500;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 3px;
    border-right-width: 3px;
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
    background: rgb(255 0 0 / 78%);
}

ul.pf {
  padding-left: 0px !important;
  margin-top: 25px;
  display: block;
}

.slogan {
  width: 100%;
  background-size: cover;
  padding: 200px 60px 200px 0;
  background-position: center center;
}

.slogan h2 {
        color: #ff1500;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: right;
}
.slogan h3 {
    color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 18px;
    max-width: 100%;
    font-weight: inherit;
    text-align: right;
    line-height: 30px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: initial;
    color: #fff;
    overflow: hidden;
    background-color: #1D1D1D;
  }

  .slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
  }
}
@media screen and (max-width: 480px) {
  .about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: initial;
    color: #fff;
    overflow: hidden;
    background-color: #1D1D1D;
  }

  .slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
  }
}
/* 210917 seo section */
.index-seo_h {
    padding: 15px 0;
    text-align: center;
      background: #e51112;
    background-position: 79;
   

}
.index-seo_h h1{
     font-size: 14px;color: #FFF!important;    margin-bottom: 0px;
}

/* 210917 seo section */