.pli_list {
    bottom: 0;
    width: 100%;
    position: relative;
    border-left: 2px solid #03a9f4;
    margin-top: 7px;
    margin-left: 11px;
    
}
.inim {
    position: absolute;
    top: 0;border-top-right-radius: 99em;
    border-bottom-right-radius: 99em;
    left: 0;
    bottom: 0;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-image: url(../images/ab.webp);
}
.in-r {
    z-index: 999;
    background: #03a9f4;
    max-width: 1043px;
    width: 70%;
    padding-top: 75px;
    padding-right: 1%;
    padding-left: 7%;
    padding-bottom: 75px;
    right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    margin-left: auto;
       border-left: 21px solid hsl(209deg 47% 51%);
        border-top: 21px solid hsl(209deg 47% 51%);
    border-top-left-radius: 99em;
    border-bottom-left-radius: 99em;
    border-top-width: 0px;
}
.in-r-1{
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 17px;
    border-bottom: 1px solid hsl(0deg 0% 92%);
    padding-bottom: 17px;
    line-height: 30px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 45px;
    height: 45px;
  
}
.carousel-control-next-icon:after{
    content: '  ';
    width: 70px;
    height: 70px;
    background-color: hsla(0,0%,0%,0.86);
    display: block;
    position: relative;
    z-index:-1;
    text-align: center;
       top: -16px;
    left: -15px;
    border-radius: 94px;
}
.carousel-control-prev-icon:after{
  content: '';
    width: 70px;
    height: 70px;
    background-color: hsla(0,0%,0%,0.86);
    display: block;
    position: relative;
    z-index: -1;
    text-align: center;
       top: -16px;
    left: -9px;
    border-radius: 94px;        
}
.carousel-indicators li {
    width: 30px;
    height: 6px;
        background-color: #ffffff;
    z-index: 9999!important;
}
/*.about::after {
    content: '';
    width: 1920px;
    height: 153px;
    display: block;
    margin-top: 15px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-position: center 0%;
}*/
.a_img img {
    border: 1px solid hsla(0,0%,81%,1.00);
}
.pli_list a {
    color: #000;
}
.pli_list a:hover {
        color: #fff;
}
.pli_list:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(270deg,rgba(189,33,35,1.00) 0%,rgba(255,0,0,1.00) 94.82%);
    background-image: -moz-linear-gradient(270deg,rgba(189,33,35,1.00) 0%,rgba(255,0,0,1.00) 94.82%);
    background-image: -o-linear-gradient(270deg,rgba(189,33,35,1.00) 0%,rgba(255,0,0,1.00) 94.82%);
    background-image: linear-gradient(180deg,rgba(189,33,35,1.00) 0%,rgba(255,0,0,1.00) 94.82%);
}
.news_in .indexNews-text {
      background-color: rgb(3 169 244 / 74%);
    position: relative;
    top: -95px;
    transition: .5s;
    -webkit-transition: .5s;
    border-bottom-right-radius: 60px;
    border-bottom: 9px solid #03a9f4;
}
.news_in .indexNews-text:hover {
    background-color: rgb(0 0 0 / 32%);
    position: relative;
}
.news_mask .col-sm-12:hover .indexNews-text {
        background-color: #26bcff;
    top: -151px;
}
.news_in .col-sm-12 {
}
.carousel-caption h5 {
    font-size: 45px
}
.carousel-caption p {
    font-size: 25px
}
.title01:after {
       content: "";
    display: inline-block;
    position: absolute;
    margin-top: 32px;
    margin-left: 13px;
    width: 20%;
    height: 2px;
        background-color: #03a9f4;
}
.title01:before {
    margin: auto;
    content: "-";
    color: #03a9f4;
    font-weight: normal;
}
.carousel-caption {
      position: absolute;
    bottom: 24%;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 0px 10px #262626;
    font-weight: bolder;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.pro_in{
    background-image: none!important;
    /* background: #fff; */
}
.pro_in1:hover .pli_list {
    position: relative;
    bottom: 0;

    width: 100%;
    background-image: linear-gradient(130deg, rgba(var(--main-color-rgba), 0.68) 58.04%, rgba(var(--main-color-rgba), 0.72) 58.04%, rgba(var(--main-color-rgba), 0.72) 94.3%, rgba(var(--main-color-rgba), 1) 94.3%);
}
.pro_in1:hover .pli_list a {
    font-weight: 900;
}
.pli_list span a {
    padding-top: 9px;
    display: block;
    font-family: "moon", "Microsoft JhengHei";
}
.a_img img {
    width: 100%;
    height: auto;
    min-width: 100%;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.indexNews-text-line {
    position: relative;
    width: 11px;
    height: 100%;
    margin: 30px 15px 0 15px;
    background: #ffffff;
    border-radius: 60px;
}
.indexNews-text a {
    font-size: 16px;
    color: #FFF;
}
.indexNews-content-inner .indexNews-text-line-inner {
    height: 100%;
}
.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;
}
.indexNews-text .indexNews-text-line .indexNews-text-line-inner {
    position: relative;
    width: 1px;
    height: 0;
    margin: 30px 15px 0 15px;
    background: #000;
}
.indexNews-text-line, .indexNews .indexNews-text p {
    display: inline-block;
    vertical-align: top;
}
.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.indexNews-text p {
    position: relative;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    color: #000;
    padding: 30px 37px 0 0;
    white-space: normal;
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media all and (min-width: 320px) {
.indexNews-text p {
    font-size: 18px;
}
}

@media all and (min-width: 576px) {
.indexNews-text p {
    font-size: 22px;
}
}
.news_in {
    padding-bottom: 50px;
    padding-top: 50px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/none_bg.webp)!important;
}
.news_mask {
    background-size: cover;
    background-image: url(../images/none_bg.webp)!important;
}
.about {
    position: relative;
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-position: right center/cover #222;
    color: #fff;
    overflow: hidden;
}
body {
}
.ab_ind {
    max-width: 100%;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 18px;
    color: #fff;
    line-height: 25px;
}
.ab_ind h2 {
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    color: #f75c40;
}
.ab_ind h2 span {
    color: rgb(106 61 149);
    margin-left: 5px;
}
.pf li {
    float: left;
    list-style-position: inside;
    color: white;
    border-left-color: #ff1500;
    border-right-color: #ff1500;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 3px;
    border-right-width: 3px;
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
    background: rgb(255 0 0 / 78%);
}
ul.pf {
    padding-left: 0px !important;
    margin-top: 25px;
    display: block;
}
.slogan {
    width: 100%;
    background-size: cover;
   
    background-position: center center;
}
.slogan h2 {
        color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    background-color: hsl(222deg 97% 53% / 68%);
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 99em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slogan h3 {
    color: #464646;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 18px;
    max-width: 100%;
    font-weight: inherit;
    text-align: right;
    line-height: 30px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: initial;
    color: #fff;
    overflow: hidden;
    text-align: center;
    background-size: cover;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
}
}

@media screen and (max-width: 480px) {
.about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: initial;
    color: #fff;
    overflow: hidden;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
}
}

