@charset "UTF-8";
:root {
  /*
      CSS 變數使用方式:
      :root {
        --main-color: #369;
      }.dropdown-menu

      h1 {
        color: var(--main-color);
      }

      不透明:
      h1 {
        color: rgba(var(--main-color-rgba), 0.5);
      }

      漸層:
      background-image: linear-gradient(132deg, rgb(var(--second-color-lighten-rgba)) 0%, var(--main-color) 100%);
  */
  /* 主色 */
  /* rgba: 需不透明 */
  --main-color: #565656;
 --main-color-rgba: #565656;
  /* darken: 較深 */
  --main-color-darken: rgb(39, 124, 187);
 --main-color-darken-rgba: 39, 124, 187;
  /* lighten: 較淺 */
  --main-color-lighten: rgb(74, 160, 236);
 --main-color-lighten-rgba: 74, 160, 236;
  /* 第 2 色 */
  --second-color: rgb(76, 71, 144);
 --second-color-rgba: 76, 71, 144;
  /* lighten: 較淺 */
  --second-color-lighten: rgb(95, 89, 173);
 --second-color-lighten-rgba: 95, 89, 173;
 --footer-copyright-bg: rgb(74, 74, 74);
  /* 不透明度 */
  --alpha: 0.8;
}
::-webkit-input-placeholder { /* Edge */
 color: #FFF!important;
}

:-ms-input-placeholder { /* Internet Explorer */
 color: #FFF!important;
}

::placeholder {
 color: #FFF!important;
}
main input.form-control::placeholder {
color: #9e9e9e!important;
}
main textarea.form-control::placeholder {
color: #9e9e9e!important;
}
ul.navbar-nav.mr-auto > .nav-item:not(:last-child)::after{
   content: '|';
    display: inline-block;
    float: left;
    color: #b7b7b7;
    margin-top: 7px;margin-right: 10px;
    }
.ind_date {
    display: inline-block;
    width: 100%;
    text-align: right;
}
a.active.line-height-limit.collapsed {
    background: #000!important;
}
aside h4{
    margin-bottom: 2px!important;
}
section.slogan > .container {
    max-width: 100%!important;
    margin-left: auto!important;
    margin-top: 50px!important;
    margin-bottom: 50px!important;
   
}
/* 210917 seo section */
.index-seo_h {
    padding: 5px 0;
    text-align: center;
    background-color: #ffffff;
    background-position: 79;
    background-image: none!important;
    border-bottom: 1px solid #ededed;
}
.index-seo_h h1 {
        font-size: 14px;
        color: #767676;
        margin-bottom: 0px;
}
.card{
    border: 0px solid rgba(0,0,0,.125)!important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.0)!important;
}
/* 210917 seo section */
.color {
    color: #565656;
    margin-right: 6px;
}
.color:after {
    content: ':';
    margin-left: 5px;
    margin-right: 5px;
    
}
.cic img {
    border-radius: 85em;
    border: 10px solid hsl(0deg 0% 100%);
    transition: all 0.3s;
}
.cic img:hover {
    border-radius: 85em;
    border: 10px solid hsl(0deg 0% 100%);
    box-shadow: 0px 0px 12px #a3a3a3;
}
#navbarSupportedContent > div {
    
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}
#navbarSupportedContent > div .dropdown-toggle::after {
    color: #4e4e4e;
}
#navbarSupportedContent form {
        margin-right: 0px;
    padding-left: 0px;
}
header .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    padding-right: 0px;
}
header .navbar {
    padding-right: 0rem;
    padding-left: 0rem;
}
.form-group .control-label span {
    color: hsla(359,100%,50%,1.00);
    float: left;
}
.sitemap h2 {
    border-top: 0;
    color: #333;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 20px;
}
@font-face {
    font-family: 'Stencil';
    src: url('./fonts/Stencil.woff') format("woff"), url('./fonts/Stencil.ttf') format("truetype"), url('./fonts/Stencil.eot') format("embedded-opentype");
}
.page-index .carousel-item h5 {
    font-family: 'moon';
    text-transform: uppercase;
    font-weight: bolder;
}
.title01:after {
    margin: auto;
    content: "」";
    color: #565656;
    font-weight: bolder;
}
.title01:before {
    margin: auto;
    content: "「";
    color: #565656;
    font-weight: bolder;
}
main {
    background-attachment: fixed;
    background-position: 0% bottom;
    display: flex;
    flex-direction: column;
    background-image: none!important;
}
.index-slider {
    order: 1;
}

.index-product {
    order: 2;
}
.index-slogan {
    order: 3;
}
.news_in {
    order: 4;
}



.about {
    order: 5;
}
 #feedbackcontent::-webkit-input-placeholder {
 color: #000;
}
.page-sitemap h2 {
    font-size: 19px!important;
}
.page-sitemap .sitemap1 a {
    color: #848484
}
.news_date {
    font-size: 14px;
    color: #1daaf1;
    padding-bottom: 5px;
    /* border-bottom: 1px solid hsla(0,0%,50%,1.00); */
    display: inline-block;
}
.copy a[title=Atteipo] {
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-right: 10px;background: #2196f3;
    padding-top: 3px;
    margin-bottom: 1px;    /* display: none; */

}
.copy a {
    background: #2196f3;
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-top: 3px;
    margin-bottom: 1px;
    display: inline-block;
}
.index-product .line-height-limit {
    color: #FFF;
}
.email-link a {
    background-color: hsla(0,0%,100%,0.00);
}
.webeditor {
    overflow-y: auto;
}
.img8 {
    border-radius: 99em;
    border-bottom: 14px solid #2f66a5;
    border-right: 9px solid #70afe3;
}
header .mr-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: 0!important;
}
.index-product .pt100 {
    padding-top: 50px;
}
.index-product .pb50 {
    padding-bottom: 50px;
}
.email-link svg {
    width: 20px;
    height: 20px;
    fill: #FFF;
}
.page-pdt .pt-3 .btn2_2 {
    width: 200px;
}
.card {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    
}
.shadow-sm {
/*    box-shadow: 0 .125rem .25rem rgba(0,0,0,.0)!important;
*/}
.form-inline img {
    width: 15px;
    height: 15px;
}
.slogan h1 {
    color: #ffffff;
}
.slogan_des{
        color: #FFFFFF;
    text-shadow: 0px 0px 4px #000000;
        font-size: 18px;
    max-width: 1509px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.slogan_icon1{
    color: #FFFFFF;
    text-shadow: 0px 0px 4px #000000;
    font-size: 24px;
    max-width: 1509px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
   
        background-color: hsl(0deg 0% 100% / 14%);
    border-top-left-radius: 99em;
    border-bottom-left-radius: 99em;
}
.slogan_icon2{
    color: #FFFFFF;
    text-shadow: 0px 0px 4px #000000;
    font-size: 24px;
    max-width: 1509px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  
        background-color: hsl(0deg 0% 100% / 14%);
    border-top-right-radius: 99em;
    border-bottom-right-radius: 99em;
}
.pli_list {
    position: relative;
}
.pli_list p {
    margin-bottom: 0rem;
}
.btn2 i {
    color: #03a9f4;
}
.p_na {
    text-align: center;
    color: var(--main-color);
    margin-top: 8px;
}
.to-top:after{
    content: "← GO TOP";
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    color: hsla(0,0%,0%,1.00);
    font-size: 12px;
    border-left: 1px solid hsl(200deg 88% 53%);
} 
.to-top {
    border-radius: 99px;
    display: -webkit-box;
    z-index: 9999;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 2px;
    color: hsla(0,0%,0%,0.00);
    line-height: 30px;
    transition: all 0.3s;  
    
}
.to-top:hover {
    color: hsla(0,0%,100%,0.00)!important;  
 
}
.pli_list a {
    padding-top: 5px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-left: 14px;
    display: block;
    color: #000;
}
.pli_list p a {
    margin-left: 10px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    color: hsla(0,0%,100%,1.00);
    background-color: #03a9f4;
    display: inline-block;
    font-size: 14px;
    border-radius: 14px;
}

   
.advbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    color: white;
    background: #03a9f4;
}
.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
    text-align: center;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    background-color: rgba(255,255,255,1.00);
}
.error {
    margin-bottom: 16px;
}
 input:-internal-autofill-selected {
 background: #000 !important;
}
/*選單開始*/
.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
    border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li a:hover {
    color: white;
}
.dropdown-menu > li.show {
    color: white;
}
.dropdown-menu > li.show > a {
    color: white;
}

@media (min-width: 768px) {
.dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
}
}
/*選單結束*/
.pin_name {
    font-family: "moon", "Microsoft JhengHei";
    color: rgb(64 64 64);
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 30px;
}
.pin_name::after {
    content: "";
    width: 88px;
    height: 5px;
    display: block;
    position: absolute;
    margin-top: 4px;
    background: #565656;
}
.copy a {
    margin-right: 11px;
}
input:focus {
    outline: none !important;
}
.ar img {
    width: 20px;
    height: 20px;
}
.navbar {
    padding-bottom: 0!important;
    padding-top: 0!important;
}
.news_in .container {
    max-width: 75%;
    padding-top: 0px;
}
.news_in h2 {
    padding-bottom: 30px;
    padding-top: 60px;
}
.news_in .pb100 {
    padding-bottom: 0px;
}
.btn2, .navbar-toggler {
    outline: none !important;
}
.container img {
    max-width: 100%;
}
.pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #222;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    background-image: linear-gradient(132deg, white 48.19%, #f7f7f7 48.19%);
}
.pagination li a:hover {
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #fff;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
        background-image: linear-gradient(148deg, rgb(29 170 241) 53%, #2196f3 49%);

}
.pagination .active a {
     background-image: linear-gradient(148deg, rgb(29 170 241) 53%, #2196f3 49%);
}
.pagination ul {
    padding-left: 0;
}
.pagination .active a {
    color: #ffffff;
}
body {
    letter-spacing: 0px;
}
#accordion .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    /* margin-bottom: 6px; */
}
#accordion .panel-heading {
    padding: 0;
}
#accordion .panel-title a {
    display: block;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 45px;
    padding-bottom: 14px;
    position: relative;
    background: #03a9f4;
    border-radius: 12px;
}
#accordion .panel-title a.collapsed {
    border-top: 0;
        color: #fff;
}
#accordion .panel-title a:before {
       content: "-";
    font-family: "moon", "Microsoft JhengHei";
    position: absolute;
    top: 5px;
    left: 28px;
    font-size: 34px;
    line-height: 24px;
    color: #FFF;
}
#accordion .panel-title a.collapsed:before {
        font-family: "moon", "Microsoft JhengHei";
    position: absolute;
    top: 5px;
    left: 24px;
    font-size: 30px;
    line-height: 24px;
    color: #FFF;
    content: "+";
}
#accordion .panel-title a:hover {
       color: #ffffff;
}
#accordion .panel-body {
    color: #666464;
    font-size: 14px;
    line-height: 20px;
    border-top: 0 none;
    background: #fbfbfb;
    padding: 15px 20px;
}
aside li {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 10px;
    border-bottom: 1px dotted #9e9e9e;
    padding-bottom: 9px;
}
aside ul {
    list-style-type: none;
    padding-left: 0 !important;
}
main {
    background-attachment: fixed;
}
.address img {
    width: 15px;
    position: absolute;
    left: 15px;
    margin-top: 5px;
}
.title2 {
    margin-bottom: 35px;
}
.address {
    margin-top: 29px;
    display: block;
}
.address li {
    list-style-type: none;
    margin-top: 15px;
    border-bottom: 1px dashed #c3c3c3;
    padding-bottom: 10px;
}
.address ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 30px;
    list-style-position: inside;
}
.card-header {
    background-image: linear-gradient(60deg, #adadad 2.08%, #adadad 87.05%);
    border: 0px solid rgba(0,0,0,.125)!important;
}
.breadcrumb1 {
    background-color: #1daaf1;
    font-family: "moon", "Microsoft JhengHei";
    margin-bottom: 45px;
    background-image: -webkit-linear-gradient(315deg,rgba(245,245,245,1.00) 70.47%,rgba(236,236,236,1.00) 70.47%);
    background-image: -moz-linear-gradient(315deg,rgba(245,245,245,1.00) 70.47%,rgba(236,236,236,1.00) 70.47%);
    background-image: -o-linear-gradient(315deg,rgba(245,245,245,1.00) 70.47%,rgba(236,236,236,1.00) 70.47%);
    background-image: linear-gradient(135deg,rgba(245,245,245,1.00) 70.47%,rgba(236,236,236,1.00) 70.47%);
}
.pro_in1 img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    transition: all 0.3s;
    overflow: hidden;
    
}
.pro_in1 img:hover {
    
    padding: 0px;

}
ul .breadcrumb {
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 1px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
    background-color: rgba(234, 237, 240, 0);
    border-radius: 0.25rem;
    z-index: 9999;
    text-align: right;
    padding-bottom: 5px!important;
    padding-top: 5px!important;
    margin-bottom: 0px
}
.page-header h1 {
    color: #ffffff;
    text-align: right;
    z-index: 9;
    position: relative;
    font-family: "moon", "Microsoft JhengHei";
    text-shadow: 0px 0px 4px #000000;
}
.breadcrumb li {
    color: #565656;
    font-size: 14px;
}
.breadcrumb li a {
    color: #565656;
    text-align: center;
    font-size: 14px;
}
.breadcrumb li a::after {
    content: " •  ";
    color: var(--main-color);
    margin-right: 3px;
}
.breadcrumb li a:hover {
    color: var(--main-color);
}
.big-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    background-repeat: repeat;
    background-position: 0 0;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    background: #d91f25;
       background: #03a9f4;
   padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 0rem;
    padding-left: 30px;
    padding-right: 30px;
}
.page-header {
    background-position: right center;
    padding-top: 152px;
    padding-bottom: 150px;
    position: relative;
    background-size: cover;
}
.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    margin-left: 0.35em;
}
.dropdown-menu .dropdown-toggle:hover:after {
        color: #03a9f4;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
}
.dropdown-menu > li a:hover {
    background-color: rgba(var(--main-color-rgba), 0.85);
    color: white;
    display: block !important;
}
.a_img:hover {
    opacity: 0.8
}
.dropdown-menu > li.show {
    background-color: #FFF;
    color: 000;
    display: block !important;
}
.dropdown-menu > li.show > a {
    color: #000;
}
.copy {
       padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px solid rgb(211 211 211);
}
.copy a {
    color: #FFF;
}
.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.soc a {
    display: inline-block;
    text-align: center;
}
.soc a:hover img {
    -webkit-transform: rotate(358deg);
    transform: rotate(358deg);
}
.footer_info {
        color: #000;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    font-size: 12px;
    text-align: left;
    border-left: 1px solid hsl(0deg 0% 87%);
}

footer a:hover {
    color: #FFF!important;
}
.logo_b {
       background-color: #ffffff;
    border-radius: 40px;
    color: #5c5c5c;
    font-weight: lighter;
    
}
.new_area.container {
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer_info a {
     color: #000;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    word-wrap: break-word;
}
.footer_info li {
    list-style-type: none;
    line-height: 30px;
}
.ab_link {
    color: #ffffff;
    display: block;
    margin-top: 15px;
}
.ab_link:hover {
    text-shadow: 0px 0px 4px #FFF;
    color: #ffffff;
}
.lang a {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 0px;
}
.lang a:hover {
    color: var(--main-color);
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.bg-dark {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: hsl(0deg 0% 100%)!important;
        border-bottom: 1px solid hsla(0,0%,91%,1.00);
    background-repeat: no-repeat;
}
.dropdown-toggle::after {
    color: #000000;
}
.dropdown-menu {
    position: absolute;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: rgba(255, 255, 255);
    background-clip: padding-box;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(78, 78, 78);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}
.navbar-dark .navbar-nav .active > .nav-link {
        color: #03a9f4;
}
.navbar-dark .navbar-nav .show > .nav-link {
    color: #565656;
}
header .dropdown-menu a:hover {
        color: #565656;
}
header {
    /* box-shadow: 0px 0px 4px #9b9b9b; */
}
/*.carousel-inner a::before {
    content: '';
    display: block;
    background-image: url(../images/ov_dot.png);
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    height: 100%;
}*/
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    clear: both;
    color: #000;
    font-size: 13px;
    text-align: inherit;
    white-space: inherit;
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid hsla(0,0%,88%,1.00);
}
.dropdown-item:hover {
    font-weight: 600;
}
a.dropdown-item.dropdown-toggle {
    word-wrap: break-word!important;
}
.form-control {
   display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color);
    background-color: #f3f3f3;
    background-clip: padding-box;
    border: 1px solid #F3F3F3;
    border-radius: 1.25rem;
}
.form-control:hover {
        border-color: #ffffff;border: 1px solid #F3F3F3;
}
a {
    color: var(--main-color);
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 1px;
    font-family: "moon", "Microsoft JhengHei";
}
body {
    font-family: "moon", "Microsoft JhengHei";
    background-image: url(../images/ft.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
}
a:hover {
    color: var(--main-color);
    text-decoration: none;
}
.title01 {
      padding: 39px 0 20px 0;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 0px;
    font-size: 3rem;
    color: #03a9f4;
}
.btn:hover {
    color: inherit;
}
.bbt {
    background-color: var(--main-color);
    display: inline-block;
    border-right: 6px solid rgb(29 170 241);
    margin-bottom: 50px;
}
.bbt:hover {
    color: #fff;
}
.btn2_2 {
    padding-top: 5px;
    text-transform: capitalize;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    -webkit-transition: background 1s;
    transition: background 1s;
    background-color: #565656;
    display: block;
}
.btn2_2:hover {
    background-color: #353535;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    color: #ffffff !important;
    font-weight: bold;
}
.p10 {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
#accordion .link a.collapsed:before {
    content: "";
}
.bbt:hover {
    border-right: 5px solid rgba(255, 255, 255, 0);
}
.btn1 {
    color: #ffffff;
    font-size: 16px;
    font-family: "moon", "Microsoft JhengHei";
}
.cookies_3 {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;border-radius: 57px;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
    color: #280000!important;
    margin-bottom: 10px;
    background: #fff;
}
.cookies_3:hover {
    color: #414141!important;  
}
.address a {
    color: #000;
}
.btn3 {
    color: rgb(255 255 255);
    font-size: 16px;
    font-family: "moon", "Microsoft JhengHei";
    border-width: 0;
    background-color: rgb(0 134 201);
    padding-right: 40px;
    padding-left: 30px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 57px;
}
.navbar-dark .navbar-nav .nav-link {
    font-family: "moon", "Microsoft JhengHei";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 5px;float: left
}
.navbar-dark .navbar-nav .nav-link:hover {
    font-family: "moon", "Microsoft JhengHei";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
            color: #03a9f4;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    
}
.header_top {
    padding-top: 5px;
    padding-bottom: 5px;
}
.header_s {
    position: absolute;
    z-index: 9;
    text-align: center;
    height: 81px;
    width: 100%;
}
.clear {
    clear: both;
}
.inq:hover {
    cursor: pointer;
}
.inq {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    position: relative;
}
.inq img {
    fill: #FFF;
    width: 20px;
    height: 20px;
}
.inq_q {
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    font-size: 10px;
    color: #fff;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 99em;
    text-align: center;
}
.center {
    text-align: center;
    display: block;
}
a {
    outline: none;
}
.nav-item {
    margin-right: 2px;
    cursor: pointer;
}
.form-inline {
    position: relative;
}
.btn2 {
    background-color: rgba(42, 187, 170, 0);
    border: 0 solid var(--main-color);
    position: absolute;
    right: 15px;
    top:18px;
    width: 15px;
}
.btn2 img {
    z-index: 9999;
    position: absolute;
}
.mt50 {
    margin-top: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.pt100 {
    padding-top: 100px;
}
.pb100 {
    padding-bottom: 100px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb25 {
    padding-bottom: 25px;
}
.pt25 {
    padding-top: 25px;
}
footer {
     
    padding-top: 10px;
    background-position: center bottom;
    background-attachment: fixed;
    background-image: none!important;
}
.webeditor {
    margin-top: 25px;
    margin-bottom: 25px;
}
.webeditor img {
    max-width: 100% !important;
    height: auto !important;
}
.webeditor table {
    max-width: 100% !important;
    height: auto;
}
.skew-neg {
    -webkit-transform: skew(18deg, 0deg);
    transform: skew(18deg, 0deg);
    background-color: #9e0003;
}
.skew-neg a {
    -webkit-transform: skew(0deg, 0deg) !important;
    transform: skew(0deg, 0deg) !important;
    background-color: #289fc3;
}

@media screen and (min-width: 996px) and (max-width: 1500px) {
   
.carousel-caption {
    position: absolute;
    bottom: 36%;
    width: 40%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    left: 10%;
    font-weight: bolder;
}
.page-index .carousel-item h5 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 30px!important;
    padding-left: 30px!important;
    padding-bottom: 10px;
    font-size: 20px!important;
}
}

@media screen and (min-width: 768px) and (max-width: 995px) {
.carousel-caption {
    position: relative;
    right: auto;
    bottom: 36%;
    width: 60%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    left: 10%;
    font-weight: bolder;
}
.page-index .carousel-item h5 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 30px!important;
    padding-left: 30px!important;
    padding-bottom: 10px;
    font-size: 20px!important;
}
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
.bg-dark {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFF!important;
    background-image: none;
}
.page-header {
    background-position: center center;
    padding-top: 141px;
    padding-bottom: 47px;
}
}

@media screen and (min-width: 481px) and (max-width: 990px) {
#navbarSupportedContent > div {
    
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.page-pdt .pt50 .col-sm-12 .col-md-4 {
    -ms-flex: 0 0 48%!important;
    flex: 0 0 48%!important;
    max-width: 48%!important;
}
.pin_name {
    font-size: 22px;
}
.slogan h3 {
    color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    max-width: 600px;
    float: none !important;
    font-weight: bolder;
}
    .navbar-nav .dropdown-menu {
    position: static;
    float: left;
}
.dropdown-menu {
    position: static;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    width: 100%;
        border: 0px solid rgba(0, 0, 0, .15) !important;
    background: #ebebeb;
}
header {
    position: static;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 4px #c5c5c5;
}
.bg-dark {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFF !important;
}
.page-header {
    background-position: center center;
    padding-top: 53px;
    padding-bottom: 35px;
    position: relative;
}
.page-header h1 {
    color: #FFF;
    font-size: 30px;
    text-align: right;
    z-index: 9;
    position: relative;
    text-shadow: 0px 0px 4px #000000;
    font-family: "moon", "Microsoft JhengHei";
}
.nb, aside {
    display: none !important;
}
.page-pdt .pt50 .col-sm-12 {
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}
    
.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
 .navbar-nav > .nav-item {
    border-bottom: 1px solid hsl(0deg 0% 91.49%);
    padding-left: 15px;
  
}
.index-product .pb100 .col-md-4 {
    width: 48%;
}
}

@media screen and (max-width: 480px) {
#navbarSupportedContent > div {
        background-color: hsl(0deg 0% 100%);
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.index-product .pb100 .col-md-4 {
    width: 48%;
}
.page-pdt .pt50 .col-sm-12 .col-md-4 {
    -ms-flex: 0 0 48%!important;
    flex: 0 0 48%!important;
    max-width: 48%!important;
}
.nav-item {
    border-bottom: 1px solid hsl(0deg 0% 87%);
    padding-left: 15px;
}
.slogan h3 {
    color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    max-width: 600px;
    float: none !important;
    font-weight: bolder;
}
.pin_name {
    font-size: 22px;
}
.dropdown-menu {
    position: static;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: rgb(255 255 255 / 82%);
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    width: 100%;
}
header {
    position: static;
    width: 100%;
    z-index: 9999;
}
.bg-dark {
    padding-top: 15px;
    padding-bottom: 15px;
}
.page-header {
    background-position: left center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.page-header h1 {
    color: #FFF;
    text-shadow: 0px 0px 4px #000000;
    z-index: 9;
    font-size: 30px;
    text-align: end;
    position: relative;
    font-family: "moon", "Microsoft JhengHei";
}
.nb, aside {
    display: none !important;
}
}
.footer-brand img {
    margin-bottom: 10px;
}

@media all and (min-width: 320px) {
.footer-brand img {
    max-width: 100%;
}
}

@media all and (min-width: 415px) {
.footer-brand img {
    max-width: 350px;
}
}
.header-search-form .btn2 {
    padding-right: 15px;
}
.searchbox-icon {
    width: 15px;
    height: 15px;
    vertical-align: super;
    fill: #fff;
}
.header-search-form input::placeholder {
opacity: 0
}
.header-search-form .form-control {
    color: rgb(134 134 134);
}
.searchbox-icon:hover {
        fill: rgb(0 0 0);
}
.form-control[name="q"] {
    border: 1px solid #ddd;
    border-radius: 26px;
    margin-top: 5px;
    background: #ffffff;
}
header .form-control[name="q"] {
    width: 150px;
    margin-left: 13px;
    padding-right: 33px;
}
.form-control[name="q"]:hover {
    border-color: var(--main-color);
}
header button .searchbox-icon {
        fill: #ffffff;
    margin-top: -4px;
}

@media all and (min-width: 992px) {
.navbar-nav {
    margin-left: 15px;
}
}
.collapse_style > ul {
    margin-left: 1rem;
    padding-top: 1rem;
}
.collapse_style > ul > li {
    border-bottom: 0 solid #f0ad4e;
}
.collapse_panel a {
    color: #555a60;
    display: block;
}
.collapse_panel a:hover {
    color: var(--main-color);
}
.has_child:first-letter {
    font-weight: bold;
    color: var(--main-color);
}
.has_child {
    position: relative;
}
.has_child > a:after {
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}
.has_child.plus > a:after {
    content: "+";
}
.has_child.minus > a:after {
    content: "-";
}
.sidebar.right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 0;
    order: 0;
}
.search-dropdown .icon {
    width: 18px;
    fill: #4a4a4a;
    cursor: pointer;
}
.search-dropdown .icon:hover {
    fill:#03a9f4;
}
.navbar-dark .navbar-toggler-icon .icon {
    width: 30px;
    height: 30px;
    fill: #fff;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none!important;
}

@media all and (min-width: 320px) {
.navbar-brand > img {
        max-width: 90px;
}
}

@media all and (min-width: 768px) {
.navbar-brand > img {
        max-width: 62%;
}
}
.index-slider .carousel-item h5, .index-slider .carousel-item p {
    letter-spacing: 0px;
}
.page-index .carousel-item h5 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 34px;
}
.page-index .carousel-item p {
    color: #FFF;
    font-weight: bolder;
}
.pro_in1 .pli_list .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
    color: #000;
}
.page-index .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;    min-height: 48px;
    color: #FFF;
}
.page-index .line-height-limit:hover {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
        color: #ffffff;
    font-weight: 900;
}

.page-ab .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
}
.page-ab .line-height-single-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-ab .sidebar-line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 63px;
    height: auto;
}
.page-pdt .pli_list, .page-search .pli_list {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-pdt .pli_list .line-height-limit, .page-search .pli_list .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
    color: #000;
}
.pli_list a:hover {
    font-weight: 600;
}
.pli_list span a {
    font-size: 18px
}

.pro_in1 {
    background: hsl(0deg 0% 100% / 0%);
    
}

.card{
        background: hsl(0deg 0% 100% / 0%);
}
.page-pdt .sidebar .line-height-limit, .page-search .sidebar .line-height-limit {
    display: -webkit-box;
    overflow: hidden;font-size: 14px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 63px;
    height: auto;
}
.page-news .pli_list .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
}
.page-news .pli_list_s a {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
    font-size: 20px;
    /* background: #e7e7e7; */
    margin-bottom: 10px;
    margin-top: 5px;
    border-left: 2px solid hsla(0,0%,58%,1.00);
    padding-left: 10px;
}
.page-news .description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-height: 1.5em;
    max-height: 140px;
    height: auto;
    margin-bottom: 5em;    font-size: 14px;
}
.page-news .sidebar .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 63px;
    height: auto;
}
.page-news .row.p_s {
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(0,0%,88%,1.00);
}

.page-news .line001 + .btn2_2 {
    position: absolute;
    bottom: 0;
}
section.about {
    padding-top: 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: none!important;margin-bottom: 50px;
    
}
.about .container{
max-width: 100%;
}

@media all and (min-width: 1200px) {
}
section.about:after {
    background-color: rgba(var(--main-color-rgba), 2%);
}
section.about > .container {
    z-index: 2;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}
section.slogan {
    position: relative;
    padding: 3%;
    background-size: cover;
    background-repeat: repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 900px;
    background-image: none!important;
      
}
section.slogan .right{
    background-image: url(../images/slo.webp)!important;
    text-align: center!important;
    min-height: 500px;
    border-radius: 5em;
}
section.slogan:before, section.slogan:after {
    z-index: 1;
    content: "";
   
    height: 100%;
    position: absolute;
    top: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% top;
}
section.slogan:before {
}

@media all and (min-width: 768px) {
section.slogan:before {
}
}

@media all and (min-width: 992px) {
section.slogan:before {
}
}

@media all and (min-width: 1200px) {
section.slogan:before {
}
}
section.slogan:after {
    background-color: rgba(var(--main-color-rgba), 2%);
}
section.slogan > .container {
    z-index: 2;
    position: relative;
    max-width: initial;
    display: inline-block;
    margin: 0;
    padding: 85px 9px 80px;
}

@media all and (min-width: 768px) {
section.slogan > .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
}

@media all and (min-width: 1200px) {
section.slogan > .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
}

@media all and (min-width: 1440px) {
section.slogan > .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}

@media all and (min-width: 1600px) {
section.slogan > .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
}

@media all and (min-width: 1920px) {
section.slogan > .container {
    max-width: 100%;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  
}
}

@media (min-width: 990px) {
header .container-xl {
    position: relative;
}
header .container-xl .navbar-collapse {
    bottom: 15px;
    right: 0px;
}
}

/*innerpage banner RWD */
/*
@media all and (min-width: 320px) {
  .page-header {
    padding: 0;
  }
  .page-header h1 {
    margin: 0;
  }
}
@media all and (min-width: 375px) {
  .page-header {
    padding: 21px;
  }
}
@media all and (min-width: 415px) {
  .page-header {
    padding: 16px;
  }
}
@media all and (min-width: 576px) {
  .page-header {
    padding: 38px;
  }
}
@media all and (min-width: 768px) {
  .page-header {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}
@media all and (min-width: 992px) {
  .page-header {
    padding: 82px;
  }
}
@media all and (min-width: 1200px) {
  .page-header {
    padding: 104px;
  }
}
@media all and (min-width: 1440px) {
  .page-header {
    padding: 130px;
  }
}
@media all and (min-width: 1600px) {
  .page-header {
    padding: 179px;
  }
}
*/
@media all and (min-width: 768px) {
.page-pdt .row.pin .col-md-4 {
/* 產品模組一排 2 個 */
    /* flex: 0 0 50%; */
    /* max-width: 50%; */
}
}
/*增加詢問車RWD表格start*/
.del_0 img {
    width: 20px;
    text-align: right;
}
.iw .row {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
    padding-bottom: 7px;
}
.in_all {
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 10px;
}
.in_all:hover {
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #eceaea;
    padding-bottom: 10px;
    padding-top: 10px;
}
.del_0 {
    float: right;
}
.iqw .iw {
    width: auto;
    padding: 15px;
    background-color: hsla(0,0%,100%,0.00)!important;
}
.iw span {
    color: #4a4a4a;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
}
.iqw .dropdown-menu {
    right: 0 !important;
    transition: all 0.3s;
    left: auto !important;
    width: 290px;
}
.iw .col-md-9 a {
    font-size: 14px;
}
.inq2 {
    position: relative;
}
.inq_qu {
    font-size: 14px;
    color: #4a4a4a!important;
    width: 21px;
    height: 21px;
    border-radius: 98em;
    display: inline-block;
    margin-left: 4px;
}
.qq input {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding-top: 9px;
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 25px;
    border-radius: 23px;
    width: 150px;
    margin-top: 5px;
}
.btn-danger:hover {
    color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: #525252;
    border-color: #5b5b5b;
}
.in_pic {
    width: 125px;
    height: auto;
}
.rwd-table {
    background: #fff;
    overflow: hidden;
}
.rwd-table tr:nth-of-type(2n) {
    background: #fff;
}
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 16px;
    padding-top: 16px;
}
.rwd-table {
    min-width: 100%;
    margin-bottom: 50px;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:before {
    content: attr(data-th) "  ";
    font-weight: bold;
    width: 100%;
    display: block;
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
.rwd-table th, .rwd-table td:before {
    color: #313131;
    font-weight: bold;
}

@media (min-width: 768px) {
.rwd-table td:before {
    display: none;
}
.rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
    width: 150px;
}
.rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
}
.rwd-table th, .rwd-table td {
    padding: 1em !important;
}
}

@media screen and (max-width: 996px) {
     .carousel-caption {
 
    background: #FFF!important;
}
    .index-slogan img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    .slogan_des {
    
    text-shadow: 0px 0px 0px #000000; 
   
}
    .slogan_icon2 {
      text-shadow: 0px 0px 0px #000000;   
    }
    .slogan_icon1 {
      text-shadow: 0px 0px 0px #000000;   
    }
    .slogan h2 {
    font-size: 18px!important;
}
    .in-r {
    width: 100%!important;
}
    ul.navbar-nav.mr-auto > .nav-item:not(:last-child)::after {
    content: '';
    display: inline-block;
    float: left;
    color: #b7b7b7;
    margin-top: 7px;
    margin-right: 10px;
}
    .navbar-dark .navbar-nav .show > .nav-link {
    color: #565656;
    margin-left: 8px;
}
.iqw .dropdown-menu {
    right: auto;
    left: 0 !important;
    width: 100%;
}
    
    section.slogan .right{
    background-image: none!important;
    background-color: #03a9f4;
            min-height: 100px!important;
    }
    section.slogan{
        min-height: 100px!important;
    }
}

@media (min-width: 576px) {
header .form-inline .form-control {
    display: inline-block;
        width: 100px;
    vertical-align: middle;
    background: #03a9f4;
    color: #ffffff;
    border-radius: 26px;padding-right: 35px;
    border-right: 0px solid hsla(0,0%,100%,1.00);
}
}
/*RWD表格end*/



/*20211006檔案下載列表開始*/
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}
.dl-list li {
    border-bottom: 1px dashed hsla(0,0%,84%,1.00);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0,0%,16%,1.00);
    width: 100%;
    margin-bottom: 20px;
}
/*.dl-list li::before {
    content: '•';
    display: inline-block;
    width: 20px;
    vertical-align: top;
}*/
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0,0%,84%,1.00);
    background-color: hsla(0,0%,100%,1.00);
    list-style-type: disc;
}
.dl-list a {
    color: #000;
    font-family: Arial, "微軟正黑體";
}
.dl-list a:hover {
    color: #d7131e;
    font-family: Arial, "微軟正黑體";
}
.itemLink img {
    width: 20px;
    height: 20px;
}
.itemTitle {
    width: 70%;
    display: inline-block;
}
.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}
.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0,0%,100%,1.00);
}
.download-des {
    color: hsl(0deg 0% 70%);
}
.dl-list span {
    color: hsla(0,0%,4%,1.00);
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
.itemTitle {
    width: 95%;
    display: inline-block;
}
}

/*20211006檔案下載列表結束*/

/*20211029修改語系問題開始*/
@media screen and (max-width: 960px) {
.inq {
    display: inline-block;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: static;
}
.btn2 {
    background-color: rgba(42, 187, 170, 0);
    border: 0 solid var(--main-color);
    position: absolute;
    right: 15px;
       top: 20px;
}
.header .form-control {
    display: inline-block;
}
}
/*20211029修改語系問題結束*/

/*20211104頁尾加上信箱複製及電話開始*/

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.email-link a {
    fill: #ffffff;
}
.email-link svg {
    width: 20px;
    height: auto;
    fill: #5e5e5e;
}
.f_m {
    display: inline-block;
}
.f_m svg {
    margin-right: 5px
}

/*20211104頁尾加上信箱複製及電話結束*/


/*20220118 banner手機出現字開始*/
@media screen and (max-width: 990px) {
.navbar-collapse {
    /* background: #f3f3f3; */
}
.footer_info {
    border-left: 0px solid hsl(15deg 96% 58%);
    padding-left: 0px;
    text-align: center;
}
.news_in .container {
    max-width: 90%;
    padding-top: 0px;
}
.news_in .pb100 {
    padding-bottom: 30px;
}
.carousel-inner {
    background: #FFF;
}
header .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background: #d6d6d6;
    color: #fb602d;
    border-radius: 26px;
}
.carousel-caption p {
    font-size: 14px;
}
.carousel-inner::after {
    background-image: none;
    z-index: 0!important;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-caption {
    position: absolute;
    right: auto;
    bottom: 36%;
    width: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    left: 10%;
    font-weight: bolder;
}
.d-none {
    display: block!important;
    width: 100%!important;
    position: relative!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    color: #58585a!important;
    right: 0%;
    left: 0%!important;
}
.page-index .carousel-item h5 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 3px #fff;
    font-size: 16px;
    color: #575757;
}
.page-index .carousel-item p {
    padding-left: 10px;
    text-shadow: 2px 2px 3px #fff;
    font-size: 14px;
    color: #575757;margin-bottom: 30px;
}
.carousel-indicators li {
    background-color: #ffffff;
}
}

/*20220118 banner手機出現字結束*/

@media screen and (min-width: 1350px) {
.dropdown-item {
    width: 215px;
    font-size: 14px;
}
}
