.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 7%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}
.pli_list a {
    color: #2abba9;
}
.pro_in1:hover .pli_list a {
    color: white !important;
}
.pli_list span a {
    padding-top: 9px;
    display: block;
    font-weight: bold;
    font-family: "Arial", "Microsoft JhengHei";
}
.pli_list a:hover {
    color: white !important;
}
.p_s {
    border: 5px solid #ededed;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.news_date {
    background-color: #ffffff;
    color: #2189a7;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
    display: inline-block;
    border: 1px solid #E3E3E3;
    margin-bottom: 10px;
}
.pli_list_s a {
    font-family: "moon", "Microsoft JhengHei";
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 10px;
    display: block;
}
.pin .pli_list {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #2ABBA9;
    background-color: #FFFFFF;
}
.pin .pro_in1:hover .pli_list {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    color: white !important;
}
.pin .pro_in1:hover .pli_list a {
    color: #454545 !important;
}
.zimg .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--main-color);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.4s ease;
}
.zimg .carousel-indicators {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 10px;
}
.zimg .carousel-indicators .active {
    opacity: 1;
}
.zoom {
    display: inline-block;
    position: relative;
}
.zoom img {
    display: block;
    max-width: 100%;
    height: auto;
}
.zoom img::selection {
    background-color: transparent;
}
#ex2 img:hover {
    cursor: url(grab.cur), default;
}
.slick-slide .pro_model {
    text-align: center;
}
.pro_model {
    font-family: "moon", "Microsoft JhengHei";
    margin-bottom: 8px;
    font-weight: bold;
   color: #000000;   font-size: 14px;
}
.pro_con_s {
    font-family: "moon", "Microsoft JhengHei";
    color: #6f6f6f;margin-bottom: 20px;
}
.web_title {
    font-family: "moon", "Microsoft JhengHei";
    color: #6f6f6f;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A4A4A4;
    position: relative
}
.web_title:after {
    width: 189px;
    height: 5px;
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1989;
    background-image: -webkit-linear-gradient(90deg, rgb(255 21 0) 4.15%, rgb(39 39 39) 4.15%);
    background-image: -moz-linear-gradient(90deg, rgb(255 21 0) 4.15%, rgb(39 39 39) 4.15%);
    background-image: -o-linear-gradient(90deg, rgb(255 21 0) 4.15%, rgb(39 39 39) 4.15%);
    background-image: linear-gradient(90deg, rgb(255 21 0) 4.15%, rgb(39 39 39) 4.15%);
}
.web_title:first-letter {
    color: var(--main-color);
}
.inquiry_in {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
        background-image: none!important;
    background-color: hsla(0,0%,94%,1.00);
}
.inquiry_in:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 48%);
    width: 100%;
    height: 100%;
}
.inquiry_in > .container {
    position: relative;
}
.des {
    background-color: #F7F7F7;
    padding-top: 21px;
    padding-right: 11px;
    padding-bottom: 21px;
    padding-left: 11px;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15) !important;
    color: #2d2c2d;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.p_s {
    border: 5px solid #ededed;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    text-align: center;
}
}

@media screen and (max-width: 480px) {
.p_s {
    border: 5px solid #ededed;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    text-align: center;
}
}
.product-slider:not(.product-slider.slider-hoverZoom) .slider {
    width: 100%;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-slide {
    margin: 0;
    margin: 5px;
    border: 1px solid hsla(0,0%,87%,1.00);
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-arrow:before {
       color: #b3b3b3;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-next {
    right: 10px;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-prev {
    left: 5px;
    z-index: 1;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-prev:before, .product-slider:not(.product-slider.slider-hoverZoom) .slick-next:before {
    font-size: 24px;
}
.product-slider.slider-small2big .slider-for .news-image:hover {
    cursor: pointer;
    opacity: 0.85;
}
.slick-lightbox .slick-arrow:before {
    color: #fff;
    font-size: 2rem;
}
.slick-lightbox .slick-next {
    right: 30px;
}
.slick-lightbox .slick-prev {
    left: 20px;
}
.product-slider.slider-clickZoom {
/* display: block; */
}
.product-slider.slider-small2big {
/* display: block; */
}
