@charset "UTF-8";
.btnset {
  width: 240px;
  margin: 5px;
  padding: 6px 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  position: relative;
  appearance: none;
  transition: all 0.3s ease-in-out;
}
.btnset:focus {
  outline-offset: -2px;
  text-decoration: none;
}
.btnset:active {
  background-image: none;
  outline: 0;
}

.form:after {
  content: "";
  display: table;
  clear: both;
}

.sitemap__item ul li a, .sitemap__item h3 a, .inquirycart td .delete-btn, .inquirycart td .pdt-name-a, .download__item .file-name, .description .tab-content, .SwiperSm .swiper-button-prev, .SwiperSm .swiper-button-next, input[type=date i]::after, .pagination2 .page-item .page-link, .breadcrumb__item, .news__item .img img, .news__item .img, .product__item .img img, .product__item .img, .accordion-menu li a, .cart-inner__row .info .flex .delete-btn, .cart-inner__row .info .pdt-name, .close-btn, .cart-drawer, .cart-drawer-push, .right-icon a, .gotop, a {
  transition: all 500ms ease-in-out;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, figure, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
  margin: 0;
}

/* remember to define focus styles!*/
:focus {
  outline: 0;
}

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code, kbd, samp, tt {
  font-size: 100%;
}

ul, menu, dir, figure {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win*/
input, button, textarea, select {
  /**font-size: 100%;*/
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

sup, sub {
  font-size: 100%;
  vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow!*/
:link, :visited, ins {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

/*===================layout===================*/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 400;
}

body {
  position: relative;
  background-color: #fff;
  word-break: break-word;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper--fluid {
  max-width: 100%;
}
@media only screen and (max-width: 1480px) {
  .wrapper {
    padding: 0 40px;
  }
}
.wrapper--lg {
  max-width: 1280px;
}
@media only screen and (max-width: 1340px) {
  .wrapper--lg {
    padding: 0 30px;
  }
}
.wrapper--md {
  max-width: 1024px;
}
@media only screen and (max-width: 1084px) {
  .wrapper--md {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 0 15px;
  }
}
.main {
  display: flex;
  flex-direction: column;
}
.main--line {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 991px) {
  .main {
    padding-top: 0 !important;
  }
}
.hide {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.a-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.webeditor {
  padding: 15px 0;
}
.webeditor img {
  max-width: 100%;
  height: auto;
  display: inherit;
}
.webeditor p {
  margin: 1em 0;
}
.webeditor ul, .webeditor ol {
  margin: 1em 0;
  padding-left: 40px;
}
.webeditor li {
  list-style-type: disc;
}
.webeditor pre {
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}
.webeditor table {
  border-collapse: collapse;
}
.webeditor th {
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border: 1px solid #cccccc;
}
.webeditor td {
  padding: 8px;
  border: 1px solid #cccccc;
}
.webeditor button {
  padding: 2px 6px;
  font: inherit;
  margin: 0;
}
.webeditor figure {
  margin: 1em 40px;
}
.webeditor legend {
  padding: 0;
  font-weight: bold;
}

.gotop {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.6;
}
.gotop i {
  margin-top: 5px;
  font-size: 24px;
}
.gotop:hover {
  opacity: 1;
  transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
  .gotop {
    bottom: 110px !important;
  }
}
.right-icon {
  position: fixed;
  right: 20px;
  bottom: 150px;
  z-index: 2;
}
.right-icon a {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}
.right-icon a:last-child {
  margin-bottom: 0;
}
.right-icon a i {
  font-size: 26px;
}
.right-icon a img {
  width: auto;
  height: 26px;
}
.right-icon a span {
  display: none;
}
.right-icon a:hover {
  background-color: #bababa !important;
}

@media only screen and (max-width: 600px) {
  .right-icon {
    width: 100%;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .right-icon a {
    height: 60px;
    margin-bottom: 0;
    border-radius: 0;
    flex-direction: column;
  }
  .right-icon a span {
    color: #fff;
    font-size: 14px;
    display: block;
  }
}
.title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.02rem;
}
.title--xl {
  font-size: 56px;
  font-size: 3.5rem;
  line-height: 5.25rem;
}
.title--lg {
  font-size: 32px;
  font-size: 2rem;
  line-height: 3rem;
}
.title--md {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.title--sm {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.688rem;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 2.063rem;
  }
  .title--xl {
    font-size: 48px;
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .title--lg {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 2.813rem;
  }
  .title--md {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.688rem;
  }
  .title--sm {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .title--xl {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
  .title--lg {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
/*===================cart===================*/
.cart-drawer-push {
  overflow: hidden;
  position: relative;
  right: 0;
}

.cart-drawer {
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 300px;
  padding: 20px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
  z-index: 12;
}
.cart-drawer a:hover {
  opacity: 0.6;
}

.cart-drawer-right {
  right: -300px;
}
.cart-drawer-right.cart-drawer-open {
  right: 0;
}

.cart-drawer-pushtoleft {
  right: 300px;
}

.cart-btn {
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.cart-btn .text {
  margin: 0 0 3px 5px;
  font-size: 15px;
}
.cart-btn .text::before {
  content: "( ";
}
.cart-btn .text::after {
  content: " )";
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.close-btn:hover {
  opacity: 0.6;
}

.cart-inner {
  margin-top: 30px;
}
.cart-inner__row {
  padding: 0 10px 15px;
  margin-bottom: 15px;
  border-bottom: 1px #d0d0d0 solid;
}
.cart-inner__row .img {
  width: 30%;
}
.cart-inner__row .img img {
  width: 100%;
  height: auto;
}
.cart-inner__row .info {
  width: 70%;
  padding-left: 15px;
}
.cart-inner__row .info .pdt-name {
  margin-left: -12px;
}
.cart-inner__row .info .pdt-name:hover {
  margin-left: 0;
}
.cart-inner__row .info .flex {
  margin-top: 6px;
  justify-content: flex-end;
}
.cart-inner__row .info .flex .qua, .cart-inner__row .info .flex .delete-btn {
  width: 50%;
}
.cart-inner__row .info .flex .qua {
  padding-left: 10px;
  text-align: left;
}
.cart-inner__row .info .flex .delete-btn {
  text-align: right;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.cart-inner__row .info .flex .delete-btn:hover {
  transform: translateY(-2px);
}

/*===================banner===================*/
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: auto;
}
.banner .main-h1 {
  position: absolute;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-shadow: 0 0 0 transparent, -0.5px -0.5px 0 rgba(243, 243, 243, 0.6), 0.5px -0.5px 0 rgba(243, 243, 243, 0.6), 1.5px -0.5px 0 rgba(243, 243, 243, 0.6), -0.5px 0.5px 0 rgba(243, 243, 243, 0.6), 0.5px 0.5px 0 rgba(243, 243, 243, 0.6), 1.5px 0.5px 0 rgba(243, 243, 243, 0.6), -0.5px 1.5px 0 rgba(243, 243, 243, 0.6), 0.5px 1.5px 0 rgba(243, 243, 243, 0.6), 1.5px 1.5px 0 rgba(243, 243, 243, 0.6);
}

@media only screen and (max-width: 768px) {
  .banner .main-h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
}
@media only screen and (max-width: 480px) {
  .banner .main-h1 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
/*===================sidebar===================*/
.sidebar {
  padding-right: 30px;
}

@media only screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
.accordion-menu {
  padding: 15px;
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  z-index: 0;
  display: block !important;
}
.accordion-menu::after {
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  left: 10px;
  top: 10px;
  content: "";
  z-index: -1;
}
.accordion-menu li a {
  padding: 10px 20px;
  display: block;
}
.accordion-menu li a:hover {
  padding-left: 22px;
}
.accordion-menu li .sub-menu {
  padding: 0 0 10px 15px;
}
.accordion-menu > li {
  border-bottom: 1px dashed #d0d0d0;
}
.accordion-menu > li:last-child {
  border-bottom: none;
}
.accordion-menu > li > a {
  padding: 15px 20px;
}
.accordion-menu > li > a.active {
  border-radius: 6px 6px 0 0;
}
.accordion-menu > li .sublevel-1 .active, .accordion-menu > li .sublevel-2 .active {
  font-weight: 500;
}

[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded=false] a::before {
  margin-right: 5px;
  content: "\f105";
  font-family: "icomoon";
}
[data-accordion-menu] > li > a::before {
  margin-right: 5px;
  content: "\f105";
  font-family: "icomoon";
}

[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded=true] > a::before {
  content: "\e912";
  font-family: "icomoon";
}

.inner > .title {
  margin-bottom: 10px;
  font-weight: 500;
}
.inner > .title span {
  padding: 10px;
}
.inner > .title span::before {
  content: "\e938";
  font-size: 30px;
  font-family: "icomoon";
  font-weight: normal;
  margin-right: 10px;
  transform: rotate(240deg);
  display: inline-block;
}
.inner .webeditor {
  padding: 15px;
}

@media only screen and (max-width: 480px) {
  .inner > .title span {
    padding: 10px 0;
  }
}
/*=================== product-共用 ===================*/
.product__item {
  padding: 30px;
}
.product__item .img {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.product__item .img img {
  width: 100%;
  height: auto;
}
.product__item .img:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.product__item .text {
  padding: 10px;
  text-align: center;
}
.product__item .text a, .product__item .text span {
  display: block;
}
.product__item .text .name {
  margin-bottom: 5px;
}
.product__item .text .model {
  font-size: 14px;
}

/*=================== news-共用 ===================*/
.news__item {
  padding: 30px;
}
.news__item .img {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.news__item .img img {
  width: 100%;
  height: auto;
}
.news__item .img:hover img {
  transform: scale(1.05);
}
.news__item .info {
  padding: 10px 0 0;
}
.news__item .info a, .news__item .info span {
  display: block;
}
.news__item .info .title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news__item .info .date {
  margin-top: 5px;
}
.news__item .info .description {
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/*=================== result ===================*/
.result-inner {
  max-width: 1200px;
  padding: 50px 0;
  margin: auto;
}
.result-inner .img {
  margin-bottom: 30px;
}
.result-inner .img img {
  max-width: 320px;
  height: auto;
  margin: auto;
}
.result-inner .checkmark {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.result-inner .checkmark svg {
  width: 350px;
}
.result-inner .info {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .result-inner .checkmark svg {
    width: 70%;
  }
  .result-inner .info {
    padding-left: 0;
  }
  .result-inner .info .btnbox {
    text-align: center;
  }
}
.path {
  stroke: #de995f;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s ease-in-out;
  -webkit-animation: dash 2s ease-in-out;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.spin {
  stroke: #de995f;
  animation: spin 2s;
  -webkit-animation: spin 2s;
  -ms-transform-origin: 50% 50%;
  -ms-transform-origin-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.btnbox {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

/* button-set */
.btnset:hover {
  transform: translateY(-2px);
}
.btnset:hover::before, .btnset:hover::after {
  background: #d0d0d0;
}
.btnset__icon {
  margin: -5px 0 0 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.btnset span {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
.btnset--sm {
  width: 100px;
  height: 40px;
  margin: 5px;
  padding: 10px 10px;
}
.btnset--sm__icon {
  font-size: 20px;
}
.btnset--sm span {
  line-height: 20px;
}
.btnset--primary2 {
  background-color: #de995f;
  border-color: #de995f;
  color: #fff;
}
.btnset--other {
  background-color: #bababa;
  border-color: #bababa;
  color: #fff;
}
.btnset--full {
  width: calc(100% - 2px * 2);
}

@media only screen and (max-width: 480px) {
  .btnbox {
    padding: 20px 0;
  }
}
.breadcrumb-box {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 10px;
  border-bottom: 1px #e5e5e5 solid;
}

.breadcrumb {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}
.breadcrumb__item {
  padding-right: 20px;
  margin-left: 10px;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.05rem;
  display: inline-block;
}
.breadcrumb__item i {
  font-size: 22px;
  color: #de995f;
  vertical-align: text-bottom;
}
.breadcrumb__item::after {
  content: "\f105";
  font-family: "icomoon";
  position: absolute;
  right: 0;
}
.breadcrumb__item:first-child:before {
  content: "\e92f";
  font-size: 16px;
  font-family: "icomoon";
  margin-right: 5px;
}
.breadcrumb__item:last-child::after {
  display: none;
}
.breadcrumb__item:last-child:hover {
  transform: translateX(0);
}
.breadcrumb__item:hover {
  color: #777;
  transform: translateX(3px);
}
.breadcrumb__link {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 5px;
}

@media only screen and (max-width: 991px) {
  .breadcrumb-box {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .breadcrumb-box {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .breadcrumb-box {
    margin-bottom: 10px;
  }
  .breadcrumb {
    padding: 10px 0;
  }
  .breadcrumb__item {
    font-size: 12px;
    padding-right: 10px;
    margin-left: 2px;
  }
  .breadcrumb__item:first-child::after {
    top: 5px;
  }
}
@media screen and (max-width: 1919px) {
  .hidden-xxl-down {
    display: none !important;
  }
}
.hidden-xxl-up {
  display: none !important;
}

@media screen and (max-width: 1365px) {
  .hidden-xl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1366px) {
  .hidden-xl-up {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media screen and (min-width: 991px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media screen and (max-width: 479px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media screen and (min-width: 480px) {
  .hidden-sm-up {
    display: none !important;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.coldefault-offset0 {
  margin-left: 0;
}

.coldefault1 {
  width: 8.3333333333%;
}

.coldefault-offset1 {
  margin-left: 8.3333333333%;
}

.coldefault2 {
  width: 16.6666666667%;
}

.coldefault-offset2 {
  margin-left: 16.6666666667%;
}

.coldefault3 {
  width: 25%;
}

.coldefault-offset3 {
  margin-left: 25%;
}

.coldefault4 {
  width: 33.3333333333%;
}

.coldefault-offset4 {
  margin-left: 33.3333333333%;
}

.coldefault5 {
  width: 41.6666666667%;
}

.coldefault-offset5 {
  margin-left: 41.6666666667%;
}

.coldefault6 {
  width: 50%;
}

.coldefault-offset6 {
  margin-left: 50%;
}

.coldefault7 {
  width: 58.3333333333%;
}

.coldefault-offset7 {
  margin-left: 58.3333333333%;
}

.coldefault8 {
  width: 66.6666666667%;
}

.coldefault-offset8 {
  margin-left: 66.6666666667%;
}

.coldefault9 {
  width: 75%;
}

.coldefault-offset9 {
  margin-left: 75%;
}

.coldefault10 {
  width: 83.3333333333%;
}

.coldefault-offset10 {
  margin-left: 83.3333333333%;
}

.coldefault11 {
  width: 91.6666666667%;
}

.coldefault-offset11 {
  margin-left: 91.6666666667%;
}

.coldefault12 {
  width: 100%;
}

.coldefault-offset12 {
  margin-left: 100%;
}

.startdefault {
  justify-content: flex-start;
  text-align: left;
}

.centerdefault {
  justify-content: center;
  text-align: center;
}

.enddefault {
  justify-content: flex-end;
  text-align: right;
}

.topdefault {
  align-items: flex-start;
}

.middledefault {
  align-items: center;
}

.bottomdefault {
  align-items: flex-end;
}

.arounddefault {
  justify-content: space-around;
}

.betweendefault {
  justify-content: space-between;
}

.self-startdefault {
  align-self: flex-start;
}

.self-centerdefault {
  align-self: center;
}

.self-enddefault {
  align-self: flex-end;
}

@media screen and (max-width: 1366px) {
  .col-xl-offset0 {
    margin-left: 0;
  }
  .col-xl1 {
    width: 8.3333333333%;
  }
  .col-xl-offset1 {
    margin-left: 8.3333333333%;
  }
  .col-xl2 {
    width: 16.6666666667%;
  }
  .col-xl-offset2 {
    margin-left: 16.6666666667%;
  }
  .col-xl3 {
    width: 25%;
  }
  .col-xl-offset3 {
    margin-left: 25%;
  }
  .col-xl4 {
    width: 33.3333333333%;
  }
  .col-xl-offset4 {
    margin-left: 33.3333333333%;
  }
  .col-xl5 {
    width: 41.6666666667%;
  }
  .col-xl-offset5 {
    margin-left: 41.6666666667%;
  }
  .col-xl6 {
    width: 50%;
  }
  .col-xl-offset6 {
    margin-left: 50%;
  }
  .col-xl7 {
    width: 58.3333333333%;
  }
  .col-xl-offset7 {
    margin-left: 58.3333333333%;
  }
  .col-xl8 {
    width: 66.6666666667%;
  }
  .col-xl-offset8 {
    margin-left: 66.6666666667%;
  }
  .col-xl9 {
    width: 75%;
  }
  .col-xl-offset9 {
    margin-left: 75%;
  }
  .col-xl10 {
    width: 83.3333333333%;
  }
  .col-xl-offset10 {
    margin-left: 83.3333333333%;
  }
  .col-xl11 {
    width: 91.6666666667%;
  }
  .col-xl-offset11 {
    margin-left: 91.6666666667%;
  }
  .col-xl12 {
    width: 100%;
  }
  .col-xl-offset12 {
    margin-left: 100%;
  }
  .start-xl {
    justify-content: flex-start;
    text-align: left;
  }
  .center-xl {
    justify-content: center;
    text-align: center;
  }
  .end-xl {
    justify-content: flex-end;
    text-align: right;
  }
  .top-xl {
    align-items: flex-start;
  }
  .middle-xl {
    align-items: center;
  }
  .bottom-xl {
    align-items: flex-end;
  }
  .around-xl {
    justify-content: space-around;
  }
  .between-xl {
    justify-content: space-between;
  }
  .self-start-xl {
    align-self: flex-start;
  }
  .self-center-xl {
    align-self: center;
  }
  .self-end-xl {
    align-self: flex-end;
  }
}
@media screen and (max-width: 991px) {
  .col-lg-offset0 {
    margin-left: 0;
  }
  .col-lg1 {
    width: 8.3333333333%;
  }
  .col-lg-offset1 {
    margin-left: 8.3333333333%;
  }
  .col-lg2 {
    width: 16.6666666667%;
  }
  .col-lg-offset2 {
    margin-left: 16.6666666667%;
  }
  .col-lg3 {
    width: 25%;
  }
  .col-lg-offset3 {
    margin-left: 25%;
  }
  .col-lg4 {
    width: 33.3333333333%;
  }
  .col-lg-offset4 {
    margin-left: 33.3333333333%;
  }
  .col-lg5 {
    width: 41.6666666667%;
  }
  .col-lg-offset5 {
    margin-left: 41.6666666667%;
  }
  .col-lg6 {
    width: 50%;
  }
  .col-lg-offset6 {
    margin-left: 50%;
  }
  .col-lg7 {
    width: 58.3333333333%;
  }
  .col-lg-offset7 {
    margin-left: 58.3333333333%;
  }
  .col-lg8 {
    width: 66.6666666667%;
  }
  .col-lg-offset8 {
    margin-left: 66.6666666667%;
  }
  .col-lg9 {
    width: 75%;
  }
  .col-lg-offset9 {
    margin-left: 75%;
  }
  .col-lg10 {
    width: 83.3333333333%;
  }
  .col-lg-offset10 {
    margin-left: 83.3333333333%;
  }
  .col-lg11 {
    width: 91.6666666667%;
  }
  .col-lg-offset11 {
    margin-left: 91.6666666667%;
  }
  .col-lg12 {
    width: 100%;
  }
  .col-lg-offset12 {
    margin-left: 100%;
  }
  .start-lg {
    justify-content: flex-start;
    text-align: left;
  }
  .center-lg {
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    justify-content: flex-end;
    text-align: right;
  }
  .top-lg {
    align-items: flex-start;
  }
  .middle-lg {
    align-items: center;
  }
  .bottom-lg {
    align-items: flex-end;
  }
  .around-lg {
    justify-content: space-around;
  }
  .between-lg {
    justify-content: space-between;
  }
  .self-start-lg {
    align-self: flex-start;
  }
  .self-center-lg {
    align-self: center;
  }
  .self-end-lg {
    align-self: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .col-md-offset0 {
    margin-left: 0;
  }
  .col-md1 {
    width: 8.3333333333%;
  }
  .col-md-offset1 {
    margin-left: 8.3333333333%;
  }
  .col-md2 {
    width: 16.6666666667%;
  }
  .col-md-offset2 {
    margin-left: 16.6666666667%;
  }
  .col-md3 {
    width: 25%;
  }
  .col-md-offset3 {
    margin-left: 25%;
  }
  .col-md4 {
    width: 33.3333333333%;
  }
  .col-md-offset4 {
    margin-left: 33.3333333333%;
  }
  .col-md5 {
    width: 41.6666666667%;
  }
  .col-md-offset5 {
    margin-left: 41.6666666667%;
  }
  .col-md6 {
    width: 50%;
  }
  .col-md-offset6 {
    margin-left: 50%;
  }
  .col-md7 {
    width: 58.3333333333%;
  }
  .col-md-offset7 {
    margin-left: 58.3333333333%;
  }
  .col-md8 {
    width: 66.6666666667%;
  }
  .col-md-offset8 {
    margin-left: 66.6666666667%;
  }
  .col-md9 {
    width: 75%;
  }
  .col-md-offset9 {
    margin-left: 75%;
  }
  .col-md10 {
    width: 83.3333333333%;
  }
  .col-md-offset10 {
    margin-left: 83.3333333333%;
  }
  .col-md11 {
    width: 91.6666666667%;
  }
  .col-md-offset11 {
    margin-left: 91.6666666667%;
  }
  .col-md12 {
    width: 100%;
  }
  .col-md-offset12 {
    margin-left: 100%;
  }
  .start-md {
    justify-content: flex-start;
    text-align: left;
  }
  .center-md {
    justify-content: center;
    text-align: center;
  }
  .end-md {
    justify-content: flex-end;
    text-align: right;
  }
  .top-md {
    align-items: flex-start;
  }
  .middle-md {
    align-items: center;
  }
  .bottom-md {
    align-items: flex-end;
  }
  .around-md {
    justify-content: space-around;
  }
  .between-md {
    justify-content: space-between;
  }
  .self-start-md {
    align-self: flex-start;
  }
  .self-center-md {
    align-self: center;
  }
  .self-end-md {
    align-self: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .col-sm-offset0 {
    margin-left: 0;
  }
  .col-sm1 {
    width: 8.3333333333%;
  }
  .col-sm-offset1 {
    margin-left: 8.3333333333%;
  }
  .col-sm2 {
    width: 16.6666666667%;
  }
  .col-sm-offset2 {
    margin-left: 16.6666666667%;
  }
  .col-sm3 {
    width: 25%;
  }
  .col-sm-offset3 {
    margin-left: 25%;
  }
  .col-sm4 {
    width: 33.3333333333%;
  }
  .col-sm-offset4 {
    margin-left: 33.3333333333%;
  }
  .col-sm5 {
    width: 41.6666666667%;
  }
  .col-sm-offset5 {
    margin-left: 41.6666666667%;
  }
  .col-sm6 {
    width: 50%;
  }
  .col-sm-offset6 {
    margin-left: 50%;
  }
  .col-sm7 {
    width: 58.3333333333%;
  }
  .col-sm-offset7 {
    margin-left: 58.3333333333%;
  }
  .col-sm8 {
    width: 66.6666666667%;
  }
  .col-sm-offset8 {
    margin-left: 66.6666666667%;
  }
  .col-sm9 {
    width: 75%;
  }
  .col-sm-offset9 {
    margin-left: 75%;
  }
  .col-sm10 {
    width: 83.3333333333%;
  }
  .col-sm-offset10 {
    margin-left: 83.3333333333%;
  }
  .col-sm11 {
    width: 91.6666666667%;
  }
  .col-sm-offset11 {
    margin-left: 91.6666666667%;
  }
  .col-sm12 {
    width: 100%;
  }
  .col-sm-offset12 {
    margin-left: 100%;
  }
  .start-sm {
    justify-content: flex-start;
    text-align: left;
  }
  .center-sm {
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    justify-content: flex-end;
    text-align: right;
  }
  .top-sm {
    align-items: flex-start;
  }
  .middle-sm {
    align-items: center;
  }
  .bottom-sm {
    align-items: flex-end;
  }
  .around-sm {
    justify-content: space-around;
  }
  .between-sm {
    justify-content: space-between;
  }
  .self-start-sm {
    align-self: flex-start;
  }
  .self-center-sm {
    align-self: center;
  }
  .self-end-sm {
    align-self: flex-end;
  }
}
.pagination-box {
  width: 100%;
  margin: 20px 0;
}

.pagination {
  text-align: center;
  padding: 20px 0;
}
.pagination a:link,
.pagination a:visited {
  color: #000;
}
.pagination a:hover,
.pagination a:active {
  color: rgba(0, 0, 0, 0.8);
}
.pagination > a {
  min-width: 26px;
  padding: 0 5px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.875rem;
  display: inline-block;
  text-align: center;
  margin-left: 3px;
  background: #e5e5e5;
  overflow: hidden;
}
.pagination > a:first-child {
  margin-left: 0;
}
.pagination > a.active {
  background: rgb(221.8255958549, 152.4609326425, 94.1544041451);
  color: #fff;
}
.pagination > a.disabled {
  color: #999;
}
.pagination > a:hover:not([class*=disabled]) {
  background: #d0d0d0;
  color: #fff;
}

.pagination2 {
  text-align: center;
  padding: 40px 0;
  width: 100%;
}
.pagination2 .page-item {
  margin-left: 3px;
  display: inline;
  vertical-align: middle;
}
.pagination2 .page-item button {
  border: 0;
}
.pagination2 .page-item .page-link {
  width: 36px;
  height: 36px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.875rem;
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}
.pagination2 .page-item.active .page-link {
  cursor: context-menu;
  opacity: 1;
}
.pagination2 .page-item.active:hover .page-link {
  opacity: 1;
}
.pagination2 .page-item.disabled .page-link {
  cursor: no-drop;
  opacity: 0.3;
}
.pagination2 .page-item:hover .page-link {
  opacity: 0.8;
}
.pagination2 .page-item.disabled:hover .page-link {
  opacity: 0.3;
}

input {
  line-height: 24px;
  box-shadow: none;
  border-radius: 0;
  appearance: none;
}
input[type=file], input[type=button], input[type=submit], input[type=reset] {
  appearance: none;
}
input[type=date i] {
  position: relative;
  z-index: 0;
}
input[type=date i]::after {
  position: absolute;
  right: 15px;
  font-family: "icomoon";
  font-size: 24px;
  color: #d16b18;
  content: "\e91c";
  z-index: -1;
}
input[type=date] {
  position: relative;
}
input[type=date]::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  background: transparent;
  cursor: pointer;
}
input::placeholder {
  color: #999;
}
input:focus::placeholder {
  color: rgba(153, 153, 153, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
}

select, textarea {
  border-radius: 0;
  appearance: none;
  line-height: 24px;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #bababa;
}

select::-ms-expand {
  display: none;
}

/* form   */
.form__legend {
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.form__legend--hide {
  display: none;
}
.form__legend-icon {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.form__group {
  padding: 5px 0;
}
.form__label {
  padding: 10px 10px 0 10px;
}
.form__label--hide {
  display: none;
}
.form__label--right {
  text-align: right;
}
.form__label .form__title {
  padding: 0 0 0 10px;
  display: inline-block;
  position: relative;
}
.form__label--required .form__title::before {
  content: "*";
  margin-right: 5px;
  font-weight: bold;
  color: #ff0000;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 4px;
}
.form__field {
  padding: 10px;
  box-sizing: border-box;
}
.form__calendar {
  position: relative;
}
.form__control {
  width: 100%;
  height: 50px;
  padding: 13px 10px;
  box-sizing: border-box;
  color: #333;
  border: 1px solid #bababa;
  background: #f8f8f8;
  border-radius: 0px;
  position: relative;
}
.form__control.input-validation-error {
  border-color: #ff0000;
}
.form__control.input-validation-success {
  border-color: #1e9813;
}
.form__control[disabled], .form__control[readonly] {
  cursor: not-allowed;
  filter: opacity(65%);
  box-shadow: none;
  opacity: 0.65;
  background: #f8f8f8;
}
.form__control:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.form__select {
  position: relative;
  padding: 0;
}
.form__select select {
  width: calc(100% + 1px * 2);
  height: calc(100% + 1px * 2);
  margin: -1px;
  padding: 0 30px 0 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  border-radius: 0px;
  position: relative;
  z-index: 2;
}
.form__select select option {
  color: #000;
}
.form__select select.input-validation-error {
  border: 1px solid #ff0000;
}
.form__select select.input-validation-success {
  border: 1px solid #1e9813;
}
.form__select select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.form__select::after {
  content: "";
  margin: auto;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  z-index: 1;
}
.form__textarea {
  height: 150px;
}
.form__feedback, .form__tips, .form .invalid-feedback {
  padding: 5px 10px 0 0;
  display: block;
  color: #ff0000;
}
.form__feedback::before, .form__tips::before, .form .invalid-feedback::before {
  font-family: "icomoon";
  margin: -2px 5px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.form__tips::before {
  content: "\e919";
  font-size: 20px;
}
.form__tips span {
  display: inline-block;
  vertical-align: middle;
}
.form__tips a {
  color: #168800;
}
.form .field-validation-valid {
  display: none;
}
.form .field-validation-valid::before {
  content: "\e919";
}
.form .field-validation-success {
  color: #1e9813;
  display: block;
}
.form .field-validation-success::before {
  content: "\f058";
}
.form .field-validation-error {
  color: #ff0000;
  display: block;
}
.form .field-validation-error::before {
  content: "\f057";
}
.form .is-invalid {
  border-color: #ff0000;
}
.form__img {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 0;
}
.form__img img {
  width: auto;
  height: 24px;
  margin-right: 10px;
  display: inline-block;
}
.form__reset {
  display: inline-block;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
}
.form__reset i {
  font-size: 24px;
  color: #de995f;
  display: inline-block;
  transition: all 0.5s ease-out;
}
.form__reset:hover {
  color: #fff;
}
.form__reset:hover i {
  transform: rotate(180deg);
}

input[type=radio] {
  vertical-align: middle;
}
input[type=checkbox] {
  vertical-align: middle;
}

.form-selection {
  padding: 5px 0;
  box-sizing: border-box;
}
.form-selection__input {
  opacity: 0;
  position: absolute;
}
.form-selection--inline {
  margin-right: 15px;
  display: inline-block;
  max-width: initial;
}
.form-selection__label {
  cursor: pointer;
  display: block;
}
.form-selection__text {
  position: relative;
  vertical-align: middle;
  padding: 5px 10px 5px 0;
  font-weight: normal;
  max-width: initial;
}
.form-selection__text .form-selection__option, .form-selection__text .form-selection__note {
  display: inline-block;
  vertical-align: top;
}
.form-selection__text .form-selection__option {
  margin-right: 5px;
  position: relative;
}
.form-selection__text .form-selection__option::before {
  content: "";
  position: absolute;
  transition: all 0.3s ease-out;
  display: none;
}
.form-selection__box {
  padding-top: 5px;
  padding-left: 23px;
  display: none;
}

.form-selection__text--radiobox {
  line-height: 23px;
}
.form-selection__text--radiobox .form-selection__option, .form-selection__text--radiobox .form-selection__option::before {
  border-radius: 23px;
}
.form-selection__text--radiobox .form-selection__option {
  width: 23px;
  height: 23px;
  background-color: #f8f8f8;
  border: 1px solid #bababa;
}
.form-selection__text--radiobox .form-selection__option::before {
  width: 13px;
  height: 13px;
  margin: auto;
  background: #555;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-selection__text--checkbox {
  line-height: 20px;
}
.form-selection__text--checkbox .form-selection__option, .form-selection__text--checkbox .form-selection__note::before {
  border-radius: 3px;
}
.form-selection__text--checkbox .form-selection__option {
  width: 20px;
  height: 20px;
  background-color: #f8f8f8;
  border: 1px solid #bababa;
}
.form-selection__text--checkbox .form-selection__option::before {
  width: 10px;
  height: 6.66px;
  border-style: solid;
  border-color: #555;
  border-width: 0 0 3px 3px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-45deg) translate(2px, -2px);
}

.form-selection__text--btn {
  width: 150px;
  height: 50px;
  padding: 13px 10px;
  border: 1px solid #bababa;
  background-color: #f8f8f8;
  color: #555;
  border-radius: 5px;
  text-align: center;
}

.form-selection__input:checked + .form-selection__label > .form-selection__text--radiobox .form-selection__option::before,
.form-selection__input:checked + .form-selection__label > .form-selection__text--checkbox .form-selection__option::before {
  display: block;
}

.form-selection__input:checked + .form-selection__label .form-selection__text--btn {
  border: 1px solid #de995f;
  background-color: #de995f;
  color: #fff;
}

.form-selection__input:checked + .form-selection__label > .form-selection__box {
  display: flex;
}

.form-selection__input[disabled] {
  cursor: not-allowed;
}

.form-selection__input[disabled] + .form-selection__label {
  filter: opacity(50%);
  opacity: 0.4;
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .form__field {
    padding: 0 15px;
  }
  .form__label .form__title {
    padding-top: 0;
  }
  .form-selection {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .form .form-selection {
    margin-bottom: 5px;
  }
}
/*===================background===================*/
.header, .footer, .topblock, .ind-category, .ind-product, .ind-news, .ind-above, .ind-middle, .ind-sec-middle, .ind-below, .page-ab, .page-pdt, .page-news, .page-contact, .page-inquiry, .page-cookie, .page-sitemap, .page-error {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*===================ind-order-sort===================*/
.ind-order-sort-0 {
  order: 0;
}

.ind-order-sort-1 {
  order: 1;
}

.ind-order-sort-2 {
  order: 2;
}

.ind-order-sort-3 {
  order: 3;
}

.ind-order-sort-4 {
  order: 4;
}

.ind-order-sort-5 {
  order: 5;
}

.ind-order-sort-6 {
  order: 6;
}

.ind-order-sort-7 {
  order: 7;
}

.ind-order-sort-8 {
  order: 8;
}

/*===================index===================*/
.ind-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ind-section h2 {
  margin-bottom: 30px;
  text-align: center;
}
.ind-section h2 span {
  margin: 0 15px;
  position: relative;
}

.ind-banner__textbox {
  width: 90%;
  height: 70%;
  margin: 10% 5% 0;
  padding: 2% 3%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ind-banner__text {
  width: auto;
  padding: 20px 30px 30px;
  position: relative;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 11;
}
.ind-banner__text h2, .ind-banner__text p {
  text-align: center;
}
.ind-banner__text .btnbox {
  padding-top: 10px;
  padding-bottom: 0;
}
.ind-banner__text .btnbox .btnset {
  width: 160px;
  z-index: 10;
}
.ind-banner__text .btnbox .btnset:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: #fff;
  color: #000000;
  transform: translateY(-5px);
}
.ind-banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
}
.ind-banner .swiper-pagination {
  height: 40px;
  padding: 0 50px;
  bottom: 50px !important;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ind-banner .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 6px !important;
  opacity: 1;
}
.ind-banner .swiper-button-next, .ind-banner .swiper-button-prev {
  width: 46px;
  height: 46px;
  top: -moz-calc(50% - 23px);
  top: -webkit-calc(50% - 23px);
  top: calc(50% - 23px);
}
.ind-banner .swiper-button-next::after, .ind-banner .swiper-button-prev::after {
  font-family: "icomoon";
  content: "\e901";
  font-size: 56px;
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.ind-banner .swiper-button-prev {
  left: 20px;
}
.ind-banner .swiper-button-next {
  right: 20px;
}
.ind-banner .swiper-button-next::after {
  transform: rotate(180deg);
}

@media only screen and (max-width: 1440px) {
  .ind-banner__textbox {
    height: 66%;
    margin-top: 13%;
  }
}
@media only screen and (max-width: 1280px) {
  .ind-banner__textbox {
    height: 60%;
    margin-top: 14%;
  }
}
@media only screen and (max-width: 991px) {
  .ind-banner__textbox {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    top: inherit;
  }
  .ind-banner__text {
    width: 100%;
    padding: 15px 15px 50px;
    position: relative;
    left: inherit;
    bottom: inherit;
    background-color: transparent !important;
  }
  .ind-banner__text .btnbox {
    padding: 10px 0 0;
  }
  .ind-banner .swiper-pagination {
    bottom: 5px !important;
  }
  .ind-banner .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px #fff solid;
  }
  .ind-banner .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}
@media only screen and (max-width: 480px) {
  .ind-banner .swiper-button-next, .ind-banner .swiper-button-prev {
    top: -moz-calc(60% - 23px);
    top: -webkit-calc(60% - 23px);
    top: calc(60% - 23px);
  }
}
.index-h1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.index-h1__setting {
  padding: 6px 0;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .index-h1__setting {
    font-size: 34px;
    font-size: 2.125rem;
    line-height: 3.188rem;
  }
}
@media only screen and (max-width: 480px) {
  .index-h1__setting {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
}
.ind-category, .ind-product, .ind-news {
  overflow: hidden;
}
.ind-category .wrapper, .ind-product .wrapper, .ind-news .wrapper {
  padding: 0;
}

@media only screen and (max-width: 1440px) {
  .ind-category, .ind-product, .ind-news {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 1366px) {
  .ind-category, .ind-product, .ind-news {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .ind-category, .ind-product, .ind-news {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.ind-category .product, .ind-product .product {
  margin: 0 -30px;
}

.ind-news .news {
  margin: 0 -30px;
}
.ind-news .news__item .info .description {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ind-above, .ind-middle, .ind-sec-middle, .ind-below {
  padding: 0;
  position: relative;
  z-index: 0;
}
.ind-above > .webeditor, .ind-middle > .webeditor, .ind-sec-middle > .webeditor, .ind-below > .webeditor {
  padding: 0;
}
.ind-above > .webeditor .wrapper, .ind-middle > .webeditor .wrapper, .ind-sec-middle > .webeditor .wrapper, .ind-below > .webeditor .wrapper {
  padding: 0;
}

/*=================== index-product ===================*/
.product.item-row-2 .product__item {
  width: 50%;
}
.product.item-row-3 .product__item {
  width: 33.3333333333%;
}
.product.item-row-4 .product__item {
  width: 25%;
}
.product.item-row-5 .product__item {
  width: 20%;
}
.product.item-row-6 .product__item {
  width: 16.666666666%;
}

@media only screen and (max-width: 991px) {
  .product.item-row-5 .product__item, .product.item-row-6 .product__item {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 768px) {
  .product.item-row-3 .product__item, .product.item-row-4 .product__item, .product.item-row-5 .product__item, .product.item-row-6 .product__item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .product.item-row-2 .product__item, .product.item-row-3 .product__item, .product.item-row-4 .product__item, .product.item-row-5 .product__item, .product.item-row-6 .product__item {
    width: 100%;
  }
}
/*=================== index-news ===================*/
.news.item-row-2 .news__item {
  width: 50%;
}
.news.item-row-3 .news__item {
  width: 33.3333333333%;
}
.news.item-row-4 .news__item {
  width: 25%;
}
.news.item-row-5 .news__item {
  width: 20%;
}
.news.item-row-6 .news__item {
  width: 16.666666666%;
}

@media only screen and (max-width: 991px) {
  .news.item-row-5 .news__item, .news.item-row-6 .news__item {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 768px) {
  .news.item-row-3 .news__item, .news.item-row-4 .news__item, .news.item-row-5 .news__item, .news.item-row-6 .news__item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .news.item-row-2 .news__item, .news.item-row-3 .news__item, .news.item-row-4 .news__item, .news.item-row-5 .news__item, .news.item-row-6 .news__item {
    width: 100%;
  }
}
/*=================== product-模組 ===================*/
.pdt-item .product__item .text .name {
  margin-bottom: 10px;
}
.pdt-item .product__item .text .model {
  padding: 5px 30px;
  background-color: rgba(222, 153, 95, 0.4);
  border-radius: 20px;
  display: inline;
}

.search-result {
  padding: 15px 20px;
}

.basic__img, .basic__info {
  width: 50%;
  z-index: 0;
}
.basic__info {
  padding: 30px 0 0 40px;
}
.basic__info .title {
  margin-bottom: 20px;
  padding: 7px 20px;
  font-weight: 500;
}
.basic__info .model {
  padding: 7px 20px;
  border: 1px dashed #e5e5e5;
  border-width: 1px 0;
  display: block;
}
.basic__info .model::before {
  margin-right: 4px;
  font-family: "icomoon";
  content: "\e907";
}
.basic__info .text-field {
  padding: 20px;
}
.basic__info .btnbox .btnset {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .basic__img, .basic__info {
    width: 100%;
  }
  .basic__info {
    padding: 0;
  }
}
.swiperBlock {
  margin-bottom: 60px;
}

.swiperhover .swiper-slide {
  overflow: hidden;
}

.swiperalbum__large {
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover !important;
}

.SwiperSm {
  height: 15%;
  padding: 10px 0;
  box-sizing: border-box;
}
.SwiperSm .swiper-wrapper .swiper-slide {
  cursor: pointer;
}
.SwiperSm .swiper-button-prev, .SwiperSm .swiper-button-next {
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  border-radius: 6px;
  opacity: 0.5;
}
.SwiperSm .swiper-button-prev::after, .SwiperSm .swiper-button-next::after {
  font-family: "icomoon";
  content: "\e901";
  font-size: 18px !important;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.SwiperSm .swiper-button-prev:hover, .SwiperSm .swiper-button-next:hover {
  opacity: 1;
}
.SwiperSm .swiper-button-next::after {
  transform: rotate(180deg);
}

.SwiperZoom, .SwiperClick, .SwiperLg, .js-swiper-equal-height {
  width: 100%;
  height: 70%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.SwiperZoom .swiper-button-prev, .SwiperZoom .swiper-button-next, .SwiperClick .swiper-button-prev, .SwiperClick .swiper-button-next, .SwiperLg .swiper-button-prev, .SwiperLg .swiper-button-next, .js-swiper-equal-height .swiper-button-prev, .js-swiper-equal-height .swiper-button-next {
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  border-radius: 6px;
}
.SwiperZoom .swiper-button-prev::after, .SwiperZoom .swiper-button-next::after, .SwiperClick .swiper-button-prev::after, .SwiperClick .swiper-button-next::after, .SwiperLg .swiper-button-prev::after, .SwiperLg .swiper-button-next::after, .js-swiper-equal-height .swiper-button-prev::after, .js-swiper-equal-height .swiper-button-next::after {
  font-family: "icomoon";
  content: "\e901";
  font-size: 36px;
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.SwiperZoom .swiper-button-next::after, .SwiperClick .swiper-button-next::after, .SwiperLg .swiper-button-next::after, .js-swiper-equal-height .swiper-button-next::after {
  transform: rotate(180deg);
}

.js-swiper-equal-height {
  box-shadow: none;
}

.pro-block {
  margin-bottom: 60px;
}
.pro-block > .title {
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.pro-block > .title::before, .pro-block > .title:after {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  border-style: dashed;
  border-width: 1px 0;
  content: "";
}
.pro-block > .title::before {
  left: 0;
}
.pro-block > .title:after {
  right: 0;
}
.pro-block > .title i {
  font-size: 30px;
  display: block;
}

.description .tabs {
  padding: 0 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.description .tabs__h3 {
  display: inline-block;
}
.description .tabs a {
  padding: 10px 30px;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}
.description .tabs a.active {
  opacity: 1;
}
.description .accordion-tab {
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 0 #d0d0d0;
  cursor: pointer;
}
.description .tab-container {
  padding: 20px;
}
.description .tab-content {
  margin-bottom: 20px;
  display: none;
  animation: fade 500ms linear 0s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.description--template1 .tabs a {
  display: inline-block;
}
.description--template1 .accordion-tab {
  display: none;
}
.description--template2 .tabs a {
  display: none;
}
.description--template2 .accordion-tab {
  display: inline-block;
}
.description--template2 .tab-container {
  padding: 20px 0;
}
.description--template3 .tabs a {
  display: none;
}
.description--template3 .accordion-tab {
  display: inline-block;
  cursor: text;
}
.description--template3 .tab-container {
  padding: 20px 0;
}
.description--template3 .tab-content {
  display: block !important;
}

@media only screen and (max-width: 991px) {
  .description--template1 .tabs a {
    display: none;
  }
  .description--template1 .accordion-tab {
    display: block;
  }
  .description--template1 .tab-container {
    padding: 20px 0;
  }
}
.download__item {
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  margin: 0 15px;
  padding: 10px 20px;
  border-bottom: 1px #d0d0d0 dashed;
  position: relative;
}
.download__item .file-name {
  align-items: center;
}
.download__item .file-name i {
  margin-right: 10px;
}
.download__item:hover .file-name {
  transform: translateX(3px);
}
.download__item .btnset {
  margin: 0;
  border-radius: 6px;
  z-index: 11;
}

@media only screen and (max-width: 600px) {
  .download__item {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
  .download__item .file-name {
    width: 75%;
  }
  .download__item .btnset {
    width: 25%;
  }
}
@media only screen and (max-width: 480px) {
  .download__item {
    width: 100%;
    margin: 0;
  }
  .download__item .file-name {
    width: 100%;
    margin-bottom: 15px;
  }
  .download__item .btnset {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
  }
}
.related .product__item {
  background-color: transparent;
}

/*=================== news-模組 ===================*/
.news--list {
  margin-top: 30px;
}
.news--list .news__item {
  margin-bottom: 30px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  border-bottom: 1px #e5e5e5 dashed;
}
.news--list .news__item .img {
  margin-bottom: 0;
}
.news--list .news__item .info {
  padding-left: 30px;
}
.news--list .news__item .info .title {
  font-weight: 500;
}
.news--list .news__item .info .title:hover {
  transform: translateX(3px);
}
.news--list .news__item .info .btnset {
  margin: 20px 0 0;
}

@media only screen and (max-width: 768px) {
  .news--list .news__item .info {
    padding-left: 0;
  }
  .news--list .news__item .info .btnset {
    margin: 20px auto 0;
  }
}
@media only screen and (max-width: 480px) {
  .news--list .news__item {
    padding: 15px;
  }
}
/*=================== contact ===================*/
.contact-block__form form {
  margin-top: 30px;
}
.contact-block__info {
  padding-left: 30px;
}

@media only screen and (max-width: 991px) {
  .contact-block__info {
    padding-left: 0;
    margin-top: 40px;
  }
}
/*=================== inquiry ===================*/
.inquiry__list {
  margin-bottom: 30px;
}
.inquiry__list .webeditor {
  padding: 15px;
  margin-bottom: 10px;
}
.inquiry__list .inq-flex {
  width: 50%;
}

.inquirycart {
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 10px;
  margin: 0 30px 50px 0;
  border: 1px #d0d0d0 solid;
  border-collapse: separate;
}
.inquirycart th, .inquirycart td {
  padding: 15px;
  border-bottom: 1px #d0d0d0 solid;
}
.inquirycart th {
  width: 130px;
  font-weight: 500;
}
.inquirycart th.pdt-name {
  width: -moz-calc(100% - 520px);
  width: -webkit-calc(100% - 520px);
  width: calc(100% - 520px);
}
.inquirycart td .pdt-name-a {
  display: block;
}
.inquirycart td .pdt-name-a:hover {
  transform: translateX(3px);
}
.inquirycart td .delete-btn {
  padding-left: 15px;
  display: block;
}
.inquirycart td .delete-btn i {
  font-size: 24px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.inquirycart td .delete-btn:hover {
  transform: translateX(3px);
}
.inquirycart td img {
  max-width: 120px;
  height: auto;
}
.inquirycart td::before {
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 6px 10px;
  margin-bottom: 6px;
  content: attr(data-name);
  display: none;
}
.inquirycart tr:last-child td {
  border-bottom: none;
}

@media only screen and (max-width: 991px) {
  .inquiry__list .inq-flex {
    width: 100%;
  }
  .inquirycart {
    width: 100%;
    margin-right: 0;
    border: none;
  }
  .inquirycart tr {
    margin-bottom: 20px;
    border: 1px #d0d0d0 solid;
    border-radius: 6px;
    display: block;
  }
  .inquirycart tr:first-child {
    display: none;
  }
  .inquirycart tr:last-child {
    margin-bottom: 0;
  }
  .inquirycart th {
    display: none;
  }
  .inquirycart td {
    border-bottom: none;
    display: block;
  }
  .inquirycart td::before {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .inquirycart td {
    padding: 15px;
  }
}
/*===================sitemap===================*/
.sitemap__item {
  padding: 15px;
}
.sitemap__item h3 {
  margin-bottom: 15px;
  font-weight: 400;
}
.sitemap__item h3 a {
  padding: 7px 15px;
  display: block;
}
.sitemap__item h3 a:hover {
  padding-left: 18px;
}
.sitemap__item ul {
  padding: 10px 0 0 30px;
  margin: 0 10px;
}
.sitemap__item ul li {
  margin-bottom: 7px;
  list-style-type: disc;
}
.sitemap__item ul li a {
  display: block;
}
.sitemap__item ul li a:hover {
  transform: translateX(3px);
}
.sitemap__item ul li ul li {
  list-style-type: circle;
}

@media only screen and (max-width: 480px) {
  .sitemap__item {
    padding: 15px 0;
  }
}

/*# sourceMappingURL=style.css.map */
