.lang li span {
    color: hsla(0, 0%, 100%, 1.00);
}

.carousel-item img:hover {
    opacity: 1;
}

.mt-3 .container table tr td:nth-child(3) {
    max-height: 155px;
    overflow-x: hidden;
    /*display: block;*/
}

.mt-3 .container thead tr th:nth-child(1) {
    width: 15%
}

.mt-3 .container thead tr th:nth-child(2) {
    width: 35%
}

.mt-3 .container thead tr th:nth-child(3) {
    width: 40%
}

.mt-3 .container thead tr th:nth-child(4) {
    width: 10%
}

.d-none {
    display: block !important;
}

.navbar-nav li:hover {
    background-color: hsl(201deg 100% 21%);
    padding-left: 5px;
}

section#news {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: none !important;
}

.p-news-list table tr {
    border-top: 1px dashed hsla(0, 0%, 77%, 1.00);
}

.p-sitemap h2 {
    background-color: hsla(0, 0%, 82%, 1.00);
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.p-news-index table {
    margin-top: 17px;
}

.p-news-index table tr {
    border-top: 1px dashed hsla(0, 0%, 77%, 1.00);
}

.inquiry_in {
    background-image: none !important;
}

.address ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 18px;
}

.address img {
    margin: 10px;
    width: 30px;
    height: auto;
}

.btn {
    margin-bottom: 13px;
}

.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer_info li {
    list-style-type: none;
    text-align: center;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background: #1f77a7;
    color: white;
}

.dropdown-menu>li.show>a {
    color: white;
}

#news h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-image: -webkit-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    background-image: -moz-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    background-image: -o-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    background-image: linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
}

.carousel-caption {
    position: static;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #000;
    text-align: center;
}

nav {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
}

.btn1 {
    transform: skew(30deg, 0deg);
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
}

a img:hover {
    opacity: 0.7
}

header {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

main {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.error {
    color: #FFF;
    background-color: #FF0004;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.error1 {
    border: 1px solid #FF0004;
}

.sw {
    margin-right: 7px;
    background-color: #E90003;
}

.dl {
    margin-right: 7px;
    background-color: #00417B;
}

.sw:hover {
    margin-right: 7px;
    background-color: #780001;
}

.dl:hover {
    margin-right: 7px;
    background-color: #0f61a9;
}

.i_l {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 12px;
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
}

.news_in {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
}

.news_t {
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 12px;
    display: block;
}

.news_date {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #444444;
    color: #ffffff;
    display: block;
    width: 104px;
    font-size: 14px;
    margin-top: 4px;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 30px;
}

.red {
    color: #FF0004;
}

.pro_1 {
    color: #292929;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: center;
}

.model {
    background-color: #0e5da9;
    color: #FFFFFF;
    padding: 2px;
    font-size: 14px;
    text-align: center;
}

.cart {
    right: 100px;
    position: absolute;
    top: 23px;
}

.cart1 {
    position: relative;
}

.i_n {
    position: absolute;
    z-index: 99;
    background-color: #FF0004;
    color: #FFFFFF;
    font-size: 14px;
    right: -18px;
    bottom: -14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 99em;
}

a:hover {
    text-decoration: none;
}

.mt-3 .col-sm-4 {
    margin-bottom: 8px;
}

.ml {
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    color: #1f77a7;
}

.p1 {
    background-color: #f9f9f9;
    padding: 5px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.sp-large img {
    max-width: none;
    height: none;
}

.to-top {
    bbackground: #e61112;
    color: #fff !important;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 99em;
    z-index: 999;
    text-align: center;
}

.date_in {
    color: #1c2026;
    display: inline-block;
    background-color: #e9ecef;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    border-radius: 10px;
}

main {
    background-color: #FFFFFF;
    padding-bottom: 12px;
}

.center {
    text-align: center;
    width: 100%;
}

.right {
    text-align: right;
}

.poc {
    margin-bottom: 13px;
}

.inbanner img {
    display: block;
}

.mt40 {
    margin-top: 40px;
}

.webeditor img {
    max-width: 100%;
    height: auto !important;
}

.webeditor table {
    max-width: 100% !important;
    height: auto !important;
}
.webeditor a {
    color: #FF6600;
}

.news_in li {
    margin-bottom: 10px
}

a {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    outline: none !important;
}

button {
    outline: none !important;
}

.inbanner img {
    width: 100%;
    height: auto;
}

.card-body ul li a {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 1.00);
}

.btn-link a {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 1.00);
}

* {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
}

.wrap {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.lang_all {
    background-image: -webkit-linear-gradient(317deg, rgba(10, 85, 169, 1.00) 0%, rgba(52, 188, 169, 1.00) 100%);
    background-image: -moz-linear-gradient(317deg, rgba(10, 85, 169, 1.00) 0%, rgba(52, 188, 169, 1.00) 100%);
    background-image: -o-linear-gradient(317deg, rgba(10, 85, 169, 1.00) 0%, rgba(52, 188, 169, 1.00) 100%);
    background-image: linear-gradient(133deg, rgba(10, 85, 169, 1.00) 0%, rgba(52, 188, 169, 1.00) 100%);
    text-align: right;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.lang_all a {
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}

.lang_all img {
    width: 20px;
    height: 20px;
}

#pdt {
    background-image: none !important;
}

#pdt h2 {
    background-image: -webkit-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    background-image: -moz-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    background-image: -o-linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    background-image: linear-gradient(225deg, rgba(31, 119, 167, 1.00) 21.24%, rgb(14 93 169) 21.24%);
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.card h2 {
    background-color: hsla(207, 100%, 25%, 0.00) !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    color: #FFFFFF;
    font-size: 20px;
}

/*語系*/

.lang_all ul {
    margin-bottom: 0rem;
}

.lang {
    list-style: none;
}

.lang li {
    display: inline-block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}

.lang li a {
    display: block;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, "微軟正黑體";
}

.lang li a:hover {
    color: #fff;
}

.lang a.selected {
    color: #f00;
}

.lang ul {
    position: absolute;
    left: 0;
    display: none;
    padding: 0;
    list-style: none;
    background: #4e4e4e;
    border-radius: 7px;
}

.lang ul li {
    width: 100%;
    border-bottom: 1px dashed hsla(0, 0%, 43%, 1.00);
}

.lang ul a {
    display: block;
    padding: 8px 5px;
    color: #FFF;
}

.lang ul a:hover {
    text-decoration: none;
}

.lang ul li:hover {
    background: #1f77a7
}

.slick-slide {
    height: auto;
}

/*RWD表格開始*/
table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

table tr {
    padding: 5px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}

.da {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .mt-3 .container table tr td:nth-child(3) {
        max-height: 100px;
        overflow-x: hidden;
        display: block;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
    }

    .p-inquiry-list table td {
        display: block;
        font-size: 13px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .da {
        width: 100%;
    }
}

/*RWD表格結束*/


@media print {
    .no_p {
        display: none
    }
}

/*20211025檔案下載列表開始*/
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}

.dl-list li {
    border-bottom: 1px dashed hsla(0, 0%, 84%, 1.00);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0, 0%, 16%, 1.00);
    width: 100%;
    margin-bottom: 20px;
}

/*.dl-list li::before {
    content: '•';
    display: inline-block;
    width: 20px;
    vertical-align: top;
}*/
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0, 0%, 84%, 1.00);
    background-color: hsla(0, 0%, 100%, 1.00);
    list-style-type: disc;
}

.dl-list a {
    color: #000;
    font-family: Arial, "微軟正黑體";
}

.dl-list a:hover {
    color: #0271E5;
    font-family: Arial, "微軟正黑體";
}

.itemLink img {
    width: 20px;
    height: 20px;
}

.itemTitle {
    width: 70%;
    display: inline-block;
}

.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}

.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0, 0%, 100%, 1.00);
}

.download-des {
    color: hsl(0deg 0% 70%);
}

.dl-list span {
    color: hsla(0, 0%, 4%, 1.00);
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
    .itemTitle {
        width: 95%;
        display: inline-block;
    }

    .itemLink {
        text-align: right;
        font-size: 14px;
        white-space: nowrap;
        color: gray;
        float: none;
        margin-top: 10px;
    }

    .dl-list {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        border: 1px dashed hsla(0, 0%, 84%, 1.00);
        background-color: hsla(0, 0%, 100%, 1.00);
        list-style-type: disc;
        text-align: center;
    }
}

/*20211006檔案下載列表結束*/

/*20211104首頁加上H1標籤區塊開始*/
.index-seo_h {
    padding: 0;
    margin: 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-image: none !important;
}

.index-seo_h h1 {
    font-size: 16px !important;
    color: #ffffff;
}

/*20211104首頁加上H1標籤區塊結束*/
/*20211104頁尾加上信箱複製及電話開始*/

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.f_m {
    display: inline-block;
}

.f_m svg {
    margin-right: 5px;
}

/*20211104頁尾加上信箱複製及電話結束*/







/* 【M.完稿CSS設定】 */
/* 共 */
/* header css setting */

/* seo h1*/
.lang_all {
    background-image: none !important;
    background-color: #000;
}

/* 語言 */
.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.lang ul li:hover {
    background-color: #A3A1A1;
}

/* logo */
.navbar-brand img {
    width: 50px;
}

/* header 底色 */
.bg-light {
    background-image: none !important;
    background-color: #FF6600 !important;
    border-bottom: none !important
}

/* 下拉式選單底色 */
.navbar-collapse {
    background-color: #141313;
}

/* 第二層下拉式選單底色 */
.dropdown-menu {
    background-color: #FFF;
}

/* 下拉式選單選項 */
.navbar-nav .active>a {
    background-color: #A3A1A1;
}

.dropdown-menu>li a {
    white-space: normal;
}

.navbar-nav li:hover {
    background-color: #A3A1A1;
    padding-left: 0;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background-color: #A3A1A1;
    color: #FFF;
}



/* footer css setting */
.footer-brand img {
    width: 80px;
}

footer {
    background-image: url(../images/footer.jpg) !important;
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
    background-color: rgba(15, 15, 15, 1.00);
    padding-top: 50px;
    padding-bottom: 15px;
    background-position: center center;
    background-attachment: fixed;
}

/* footer 內容 */
footer .row {
    margin-top: 10px;
}

footer a {
    color: #FFFFFF;
    font-size: 14px;
}

.footer_info {
    padding: 0;
}

/* copy */
.copy {
    background-color: #FF6600;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
    text-align: center;
}

.copy a {
    color: #FFF;
}

.copy a:hover {
    color: #000000;
}

.email-link a {
    color: #adadad;
}

.email-link svg {
    width: 20px;
    height: auto;
    fill: #FFF;
}



/* gdpr css setting */
.advbox {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 100% !important;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    z-index: 9999;
    color: hsla(0, 0%, 100%, 1.00);
    left: 0;
}

.cookies_3 {
    border: 1px solid hsla(0, 0%, 89%, 1.00);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
    color: hsla(0, 0%, 100%, 1.00);
    margin-bottom: 10px;
}

.cookies_3:hover {
    color: #FF6600;
}


/* 頁碼 css setting */
.page-item .active {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #FF6600;
    border: 1px solid #dee2e6;
}




/* gdpr btn */
.btn3 {
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    background-color: #FF6600;
    color: #fff;
    border: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn3::after {
    content: "";
    background: #A54300;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    bottom: 0;
    top: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn3:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}



/* btn css setting */
.btn-outline-success:hover {
    background-color: #FF6600;
}



/* 麵包屑 css setting */
.breadcrumb {
    justify-content: center !important;
    align-items: center;
}

.breadcrumb-item.active {
    color: #FF6600;
}



/* 表格table css setting */
.rwd-table {
    background: #fff;
    overflow: hidden;
}

.rwd-table tr:nth-of-type(2n) {
    background: #eee;
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}

.rwd-table {
    min-width: 100%;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
    clear: both;
}

.right01 {
    width: 70%;
    display: contents;
    float: right;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th,
.rwd-table td:before {
    color: #0d5da9;
    font-weight: bold;
    width: 30%;
}

@media (min-width: 600px) {

    .rwd-table th,
    .rwd-table td {
        text-align: left;
        clear: none;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 0.5em !important;
    }

    .right01 {
        width: 100%;
        display: block;
        float: none;
    }
}




/* index banner css setting */
.carousel {
    margin-bottom: 0 !important;
}

/* banner word */
.carousel-caption {
    background-color: #141313;
    padding: 1.5rem 0 3rem 0;
}

.carousel-caption h5 {
    color: #FFF;
}

/* banner 分頁器 */
.carousel-indicators {
    bottom: 13px;
    margin: 0 !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #FF6600;
}



/* index news css setting */
section#news {
    margin-top: 30px;
}

#news h2 {
    background-image: none;
    color: #141313;
    padding: 0 0 1rem 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#news h2::before {
    content: "";
    margin: 0 auto;
    display: block;
    width: 70px;
    height: 70px;
    background: url(../images/title-icon.svg) no-repeat center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* news 圖片 */
#news .news_in {
    display: flex;
    justify-content: center;
    align-items: center;
}

#news .news_in .row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0.5rem;
}

#news .news_in .row .col-sm-3 {
    max-width: 100%;
}

#news .news_in .news_t {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* rwd */
@media (max-width:480px) {
    #news .news_in {
        flex-direction: column;
    }
}


/* 客製 */
/* index about css setting */
.p-index #about {
    padding: 50px 0;
}

.ab-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ab-part {
    max-width: 100%;
}

/* about 內容 */

.p-index #about h2 {
    color: #FF6600;
    text-align: center;
    margin: 1.5rem 0;
}

.ab-block:nth-child(1) {
    flex-direction: column;
}

.ab-block .ab-part:nth-child(1) {
    order: 2;
}

.ab-block .ab-part:nth-child(2) {
    order: 1;
}

.ab-box.word p {
    color: #FFF;
    margin-bottom: 2rem;
    line-height: 28px;
}

/* rwd */
@media (max-width:480px) {
    .p-index #about h2 {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .ab-box.pic {
        padding: 1rem;
    }
}


/* 客製 */
/* index slogan css setting */
.p-index #slogan {
    margin: 0 !important;
    background-image: none !important;
    background-color: #FFF;
}

.p-index #slogan .container {
    padding: 0;
}

.slogan-box p {
    padding: 1.5rem;
    text-align: left;
}


/* 客製 */
/* pdt css setting */
/* btn */
.pr_in {
    min-height: 50px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0;
    margin-top: 1rem;
    background-color: #FF6600;
    color: #fff;
    border: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pr_in::after {
    content: "";
    background: #000;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    bottom: 0;
    top: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.p1:hover .pr_in::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* 文字 */
.p_name {
    color: #FFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, "微軟正黑體";
    font-weight: bolder;
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
}

.ml {
    color: #FFF;
    padding: 0 10px;
}

.p_name:hover {
    color: #FFF;
}



/* 共用 */
/* pdt detail css setting */
.p-pdt-dt #prod .row {
    flex-direction: column;
}

.p-pdt-dt #prod .row .col-sm-5,
.p-pdt-dt #prod .row .col-sm-7 {
    max-width: 100%;
}

#prod h2 {
    padding: 1rem;
    background-color: #141313;
    color: #FF6600;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Arial, "微軟正黑體";
    text-align: center;
}

#prod h3 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 0.5rem 0;
    font-family: Arial, "微軟正黑體";
    text-align: center;
}

/* btn */
.btn01 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.btn01 a {
    background-color: #FF6600;
    width: 100%;
    border: none !important;
}

.btn {
    background-color: #FF6600;
    padding: 0.5rem 2rem;
    border: 0;
}

.btn001{
    padding-bottom: 2rem;
}

.btn001 a {
    background-color: #141313;
    padding: 1rem 3rem;
    color: #FFF;
}

.btn001 a:hover{
    color: #FF6600;
}

/* form */
.p-pdt-dt .inquiry_in .title01 {
    text-align: center;
    margin: 2rem 0;
}



/* 共用 */
/* news css setting */
/* 表格 */

/* 表首 */
.p-news-index table thead {
    display: none;
}

/* 表格內容 */
.p-news-index table tbody tr {
    display: flex;
    flex-direction: column;
}

/* 標題 */
.p-news-index table tbody tr td:nth-child(2) a {
    color: #FF6600;
    margin: 1rem 0;
    font-size: 18px;
    font-weight: bold;
}

.p-news-index table tbody tr td:nth-child(2) a:hover {
    color: #A54300;
}

/* 日期 */
.da {
    width: 100%;
    margin: 1rem 0;
}


/* 共用 */
/* contact css setting */
.p-contact .address li img {
    width: 15px;
}

.p-contact .address li a {
    color: #FF6600;
}

.p-contact .address li a:hover {
    color: #A54300;
}



/* 共用 */
/* search css setting */
.pagination {
    flex-wrap: wrap;
}



/* 共用 */
/* sitemap css setting */
/* sitemap css setting */
.p-sitemap h2 {
    border-top: 0;
    color: #fff;
    border-left: 7px solid #222;
    background-color: #FF6600;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.sitemap1 {
    list-style: none;
    padding: 0;
}

.sitemap1 li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.sitemap1 li ul {
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 0px;
    list-style: none;
}


.sitemap1 li ul li {
    margin-top: 3px;
    padding: 8px 15px;
    position: relative;
}

.sitemap1 li ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    margin-right: 1rem;
    background-color: #FF6600;
    position: absolute;
    bottom: 50%;
    left: 0;
}

/* 20250422 首頁編輯器調整 */
.ab-box.pic{
	width:100%;
}
.ab-box.pic img{
	display:block;
	margin:10px auto;
}