#slogan .new_area .col-sm-6{
margin-bottom: 20px;
}
#slogan .right{
    text-align: left;
}
[lang="en"] .p-pdt-dt #prod P br:nth-child(even) {
    display: block!important;
}
[lang="zh-TW"] .p-pdt-dt #prod P br:nth-child(even) {
 display: block!important;
}
.p-pdt-dt #prod P br:nth-child(even) {
    display: none;
}
.h-captcha iframe{
    width: 100%!important;
}
h5.card-title {
    font-size: 14px;
}
.p-pdt-item .container .container .col-sm-4 {
    width: 50%;
}
.p-pdt-list .col-sm-4 {
    width: 50%;
}
.p-index .mt-4 .col-md-4 {
    width: 50%;
}
.lang li span {
    color: #000;
}
.carousel-item img:hover {
    opacity: 1;
}
.mt-3 .container table tr td:nth-child(3) {
    max-height: 155px;
    overflow-x: hidden;/*display: block;*/
}
.mt-3 .container thead tr th:nth-child(1) {
    width: 15%;text-align: center;
}
.mt-3 .container thead tr th:nth-child(2) {
    width: 35%;text-align: center;
}
.mt-3 .container thead tr th:nth-child(3) {
    width: 40%;text-align: center;
}
.mt-3 .container thead tr th:nth-child(4) {
    width: 10%;text-align: center;
}
.navbar-nav .active a {
    background-color: hsl(359deg 70% 50%);
    padding-left: 5px;
}
.d-none {
    display: block!important;
}
.navbar-nav li:hover {
    background-color: hsl(355deg 74% 48%);
    padding-left: 5px;
}
section#news {
    margin-top: 50px;
    padding-bottom: 0px;
    padding-top: 10px;
    background-image: none!important;
}
.p-news-list table tr {
    border-top: 1px dashed hsla(0,0%,77%,1.00);
}
.p-sitemap h2 {
    background-color: hsl(0deg 0% 92%);
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 18px;
    border-radius: 7px;
}
.p-news-index table {
    margin-top: 17px;
}
.p-news-index table tr {
    border-top: 1px dashed hsla(0,0%,77%,1.00);
}
.inquiry_in {
    background-image: none!important;
}
.address ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 18px;
}
.address img {
    margin: 10px;
    width: 30px;
    height: auto;
}
.btn {
    margin-bottom: 13px;
}
.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
}
.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer_info li {
    list-style-type: none;
    text-align: left;
}
.footer_info {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    font-size: 12px;padding-left: 0px;
    text-align: center;/* border-left: 1px dashed #E9E9E9; */
}
.dropdown-menu {
    margin-top: 0;
}
.new_area .col-sm-8{
    padding: 0px;
    margin-top: 16px;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}
.dropdown-menu > li a:hover, .dropdown-menu > li.show {
    background: #444444;
    color: white;
}
.dropdown-menu > li.show > a {
    color: white;
}
#news h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #000000;
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
}
#news h2::before {
    content: "「";
    color: rgb(86, 86, 86);
    font-weight: bolder;
    margin: auto;
}
#news h2::after {
    content: "」";
    color: rgb(86, 86, 86);
    font-weight: bolder;
    margin: auto;
}
.carousel-caption {
    position: static;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #000;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.advbox {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 100%!important;
    z-index: 9999;
    color: hsla(0,0%,100%,1.00);
    left: 0;
    background-color: hsl(0deg 0% 16% / 91%);
}
nav {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
}
.btn1 {
    transform: skew(30deg, 0deg);
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
}
.cookies_3 {
    border: 1px solid hsla(0,0%,89%,1.00);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
    color: hsla(0,0%,100%,1.00);
    margin-bottom: 10px;
}
.cookies_3:hover {
    border: 1px solid hsla(0,0%,89%,1.00);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
    color: hsla(0,0%,100%,1.00);
    margin-bottom: 10px;
    background-color: #269310;
    transition: .3s;
    -webkit-transition: .3s;
}
.btn3 {
    color: #000000;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
    border-width: 0px;
    background-color: hsla(0,0%,100%,1);
    padding-right: 40px;
    padding-left: 30px;
    margin-top: 7px;
}
.color {
    color: #000000;
    margin-right: 20px;
    font-weight: bold;
}/*--------RWD表格---------------*/
.rwd-table {
    background: #fff;
    overflow: hidden;
}
.rwd-table tr:nth-of-type(2n) {
    background: #eee;
}
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table {
    min-width: 100%;
}
.rwd-table th, .rwd-table td {
    text-align: left;
    clear: both;
}
.right01 {
    width: 70%;
    display: contents;
    float: right;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
.rwd-table th, .rwd-table td:before {
    color: #000;
    font-weight: bold;
    width: 30%;
}

@media (min-width: 480px) {
.rwd-table th, .rwd-table td {
    text-align: left;
    clear: none;
}
.rwd-table td:before {
    display: none;
}
.rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
}
.rwd-table th, .rwd-table td {
    padding: 0.5em !important;
}
.right01 {
    width: 100%;
    display: block;
    float: none;
}
}
/*--------RWD表格---------------*/
.in-r-1 {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 17px;
    border-bottom: 1px solid hsl(0deg 0% 92%);
    padding-bottom: 17px;
    line-height: 30px;
}
a img:hover {
    opacity: 0.7
}
header {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
.copy {
    padding-top: 4px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px solid #ffffff;
    background: #000;
}
.copy a {
    color: #FFF;
}
main {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
footer {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
footer {
    background-color: rgba(15,15,15,1.00);
    padding-top: 50px;
    padding-bottom: 15px;
    background-position: center center;
    background-attachment: fixed;
}
.form-control {
/* margin-bottom: 10px*/
}
.error {
    color: #FFF;
    background-color: #FF0004;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.error1 {
    border: 1px solid #FF0004;
}
.sw {
    margin-right: 7px;
    background-color: #E90003;
}
.dl {
    margin-right: 7px;
    background-color: #0a0a0a;
}
.sw:hover {
    margin-right: 7px;
    background-color: #780001;
}
.dl:hover {
    margin-right: 7px;
    background-color: #fc001b;
}
.i_l {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 12px;
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
}
.news_in {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
}
.news_t {
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 12px;
    display: block;
}
.news_date {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #444444;
    color: #ffffff;
    display: block;
    width: 104px;
    font-size: 14px;
    margin-top: 4px;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 30px;
}
.red {
    color: #FF0004;
}
.pro_1 {
    color: #292929;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    text-align: center;
}
.model {
    background-color: #ebebeb;
    color: #000;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
}
.page-item .active {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #1f77a7;
    border: 1px solid #dee2e6;
}
.navbar-brand img {
    max-width: 160px;
}
.cart {
    right: 85px;
    position: absolute;
    top: 21px;
}
.cart1 {
    position: relative;
}
.i_n {
    position: absolute;
    z-index: 99;
    background-color: #FF0004;
    color: #FFFFFF;
    font-size: 14px;
    right: -18px;
    bottom: -14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 99em;
}
a:hover {
    text-decoration: none;
}
.mt-3 .col-sm-4 {
    margin-bottom: 8px;
}
.ml {
    font-family: Arial, "微軟正黑體";
    font-size: 12px;
    color: #939393;
}
.p_name {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, "微軟正黑體";
    font-weight: bolder;
    font-size: 16px;
    width: 100%;
}
.pr_in {
    min-height: 50px;
    padding-top: 8px;
    padding-bottom: 5px;
}
.p1 {
    background-color: #f9f9f9;
    padding: 5px;
}
.container img {
    max-width: 100%;
    height: auto;
}
.sp-large img {
    max-width: none;
    height: none;
}
.to-top {
    background-color: rgb(216 31 37);
    color: #fdf436!important;
    border-radius: 99px;
    display: -webkit-box;
    z-index: 9999;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    border-bottom: 5px solid hsl(253deg 65% 26%);
}
.to-top:hover {
    color: #fff!important;
    height: 59px;
    background-color: rgb(92 92 92);
}
.date_in {
    color: #1c2026;
    display: inline-block;
    background-color: #e9ecef;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    border-radius: 10px;
}
main {
    background-color: #FFFFFF;
    padding-bottom: 12px;
}
.center {
    text-align: center;
    width: 100%;
}
.right {
    text-align: right;
}
.poc {
    margin-bottom: 13px;
}
.inbanner img {
    display: block;
}
.btn001 a {
    background-color: #353535;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}
.btn001 a:hover {
    background-color: #1f77a7;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}
.mt40 {
    margin-top: 40px;
}
.webeditor img {
    max-width: 100%;
    height: auto!important;
}
.webeditor table {
    max-width: 100%!important;
    height: auto!important;
}
.news_in li {
    margin-bottom: 10px
}
a {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    outline: none!important;
    color: #4a65ff;
    
}
a:hover {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    outline: none!important;color: #4a65ff;font-weight: bolder;
}
button {
    outline: none!important;
}
.inbanner img {
    width: 100%;
    height: auto;
}
.p-pdt-item .mt-3 .col-sm-4{
padding-right: 3px;
    padding-left: 3px;
}
footer {
    background-color: rgb(249 249 249);
    padding-top: 10px;
    padding-bottom: 15px;
    background-position: center bottom;
    background-attachment: fixed;
    background-image: none!important;
}
footer .row {
    margin-top: 10px;
}
footer a {
    color: #000;
    font-size: 14px;
}
.logo_b {
    color: #747474;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
    margin-top: 9px;
    letter-spacing: 1px;
    background-color: hsl(0deg 0% 100%);
    border-radius: 40px;
}
.card-body ul li a {
    font-size: 14px;
    color: hsla(0,0%,24%,1.00);
}
.btn-link a {
    font-size: 14px;
    color: hsla(0,0%,24%,1.00);
}
* {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 0px;
}
.wrap {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
.lang_all {
    text-align: right;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    background-color: #f5f5f5;
}
.lang_all a {
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.lang_all img {
    width: 20px;
    height: 20px;
}
#about {
    background-image: none!important;
}
#about h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #000000;
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
}
#about h2::before {
    content: "「";
    color: rgb(86, 86, 86);
    font-weight: bolder;
    margin: auto;
}
#about h2::after {
    content: "」";
    color: rgb(86, 86, 86);
    font-weight: bolder;
    margin: auto;
}
#about h1 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-image: -webkit-linear-gradient(225deg, rgba(31,119,167,1.00) 21.24%, rgba(31,31,31,1.00) 21.24%);
    background-image: -moz-linear-gradient(225deg, rgba(31,119,167,1.00) 21.24%, rgba(31,31,31,1.00) 21.24%);
    background-image: -o-linear-gradient(225deg, rgba(31,119,167,1.00) 21.24%, rgba(31,31,31,1.00) 21.24%);
    background-image: linear-gradient(225deg, rgba(31,119,167,1.00) 21.24%, rgba(31,31,31,1.00) 21.24%);
}
#prod h2 {
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Arial, "微軟正黑體";       /* background-color: #ebebeb; */
    font-weight: bolder;
}
#prod h3 {
    font-size: 16px;
    color: #878787;
    /* font-weight: bold; */
    border-top: 1px solid #B4B4B4;
    font-family: Arial, "微軟正黑體";
    border-bottom: 1px solid #B4B4B4;
    padding-bottom: 5px;
    padding-top: 5px;
}
#about h3 {
    font-size: 20px;
    color: #ff1504;
    font-weight: bold;
}
#about p {
    color: #4B4B4B;
}
#slogan {
    background-image: none!important;
    width: 100%;
    background-size: cover;
    padding: 56px 10px 58px 10px;
    background-position: right center;
    color: hsla(0,0%,100%,1.00);
    background-color: #222222;
}
#slogan .right{
    padding-right: 0px;
    padding-left: 0px;
}

#slogan img {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    background: hsl(0deg 0% 100% / 17%);
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}
#slogan li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
#slogan li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#slogan h2 {
    color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}
#slogan h3 {
    color: #5c5c5c;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 14px;
    max-width: 100%;
    font-weight: inherit;
    text-align: center;
    line-height: 30px;
}
.grid_img {
    border-radius: 17px;
    position: absolute;
    background: #f3f3f3;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    border: 3px solid #e7e7e7;
}
.a-five {
    /* border: 4px solid #ebebeb; */
    border-radius: 17px;
    padding-top: 87px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    /* min-height: 300px; */
    background: hsl(0deg 0% 70% / 2%);
    background: #f5f5f5;
    text-align: center;
    font-weight: bold;
}
#pdt {
    background-image: none!important;
    background: #f7f7f7;
    padding-top: 10px;
}
#pdt h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #000000;
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
}
#pdt h2::before {
    content: "「";
    color: rgb(86, 86, 86);
    font-weight: bolder;
    margin: auto;
}
#pdt h2::after {
    content: "」";
    color: rgb(86, 86, 86);
    font-weight: bolder;
    margin: auto;
}
.center {
    text-align: center;
}
.card h2 {
    background-color: hsla(207,100%,25%,0.00)!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    color: #FFFFFF;
    font-size: 20px;
}
/*語系*/
	
.lang_all ul {
    margin-bottom: 0rem;
}
.lang {
    list-style: none;
}
.lang li {
    display: inline-block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}
.lang li a {
    display: block;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, "微軟正黑體";
}
.lang li a:hover {
    color: #000;
}
.lang a.selected {
    color: #f00;
}
.lang ul {
    position: absolute;
        left: -39px;
    display: none;
    padding: 0;
    list-style: none;
    background: #4e4e4e;
    border-radius: 7px;
}
.lang ul li {
    width: 100%;
    border-bottom: 1px dashed hsla(0,0%,43%,1.00);
}
.lang ul a {
    display: block;
    padding: 8px 5px;
    color: #FFF;
}
.lang ul a:hover {
    text-decoration: none;
}
.lang ul li:hover {
    background: #ffffff;
}
.slick-slide {
    height: auto;
}
/*RWD表格開始*/
.p-inquiry-list table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
.p-inquiry-list table tr {
    padding: 5px;
}
.p-inquiry-list table th, table td {
    padding: 10px;    
    text-align: center;
}
.p-inquiry-list table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}
.p-inquiry-list .da {
    width: 100px;
}

@media screen and (max-width: 600px) {
.p-inquiry-list .mt-3 .container table tr td:nth-child(3) {
    max-height: 100px;
    overflow-x: hidden;
    display: block;
}
.p-inquiry-list table {
    border: 0;
}
.p-inquiry-list table thead {
    display: none;
}
.p-inquiry-list table tr {
    margin-bottom: 10px;
    display: block;
}
.p-inquiry-list table td {
    display: block;
    font-size: 13px;
}
.p-inquiry-list table td:last-child {
    border-bottom: 0;
}
.p-inquiry-list table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
.p-inquiry-list da {
    width: 100%;
}
}

/*RWD表格結束*/


@media print {
.no_p {
    display: none
}
}
/*20211025檔案下載列表開始*/
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}
.dl-list li {
    border-bottom: 1px dashed hsla(0,0%,84%,1.00);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0,0%,16%,1.00);
    width: 100%;
    margin-bottom: 20px;
}
/*.dl-list li::before {
    content: '•';
    display: inline-block;
    width: 20px;
    vertical-align: top;
}*/
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0,0%,84%,1.00);
    background-color: hsla(0,0%,100%,1.00);
    list-style-type: disc;
}
.dl-list a {
    color: #000;
    font-family: Arial, "微軟正黑體";
}
.dl-list a:hover {
    color: #0271E5;
    font-family: Arial, "微軟正黑體";
}
.itemLink img {
    width: 20px;
    height: 20px;
}
.itemTitle {
    width: 70%;
    display: inline-block;
}
.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}
.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0,0%,100%,1.00);
}
.download-des {
    color: hsl(0deg 0% 70%);
}
.dl-list span {
    color: hsla(0,0%,4%,1.00);
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
.itemTitle {
    width: 95%;
    display: inline-block;
}
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    float: none;
    margin-top: 10px;
}
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0,0%,84%,1.00);
    background-color: hsla(0,0%,100%,1.00);
    list-style-type: disc;
    text-align: center;
}
}
/*20211006檔案下載列表結束*/

/*20211104首頁加上H1標籤區塊開始*/
.index-seo_h {
    padding: 0;
    margin: 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-image: none!important;
}
.index-seo_h h1 {
    font-size: 12px!important;
    color: #000;
    margin-bottom: 0px;
}
/*20211104首頁加上H1標籤區塊結束*/
/*20211104頁尾加上信箱複製及電話開始*/

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.email-link a {
    color: #adadad;
}
.email-link svg {
    width: 20px;
    height: auto;
    fill: #ffffff;
}
.f_m {
    display: inline-block;
}
.f_m svg {
    margin-right: 5px;
}

/*20211104頁尾加上信箱複製及電話結束*/
@media screen and (max-width: 768px) {
#about .col-sm-9 .col-md-6 {
    margin-top: 140px;
}
.a-five {
    border-radius: 17px;
    padding-top: 118px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: hsl(0deg 0% 70% / 2%);
    background: #f5f5f5;
    text-align: center;
    font-weight: bold;
}
}
/*RWD表格開始*/
.p-news-list .container .mt-3 .container table tbody td a{
    font-weight: bolder;
    font-size: 16px;
}
.p-news-list table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
.p-news-list table tr {
    padding: 5px;
}
.p-news-list table th, table td {
    padding: 10px;
    text-align: left!important;
}
.p-news-list table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}
.p-news-list .da {
    width: 100px;
}

@media screen and (max-width: 600px) {
.p-news-list .mt-3 .container table tr td:nth-child(3) {
    
    overflow-x: hidden;
    display: block;
}
.p-news-list table {
    border: 0;
}
.p-news-list table thead {
    display: none;
}
.p-news-list table tr {
    margin-bottom: 10px;
    display: block;
}
.p-news-list table td {
    display: block;
    font-size: 13px;
}
.p-news-list table td:last-child {
    border-bottom: 0;
}
.p-news-list table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
.p-news-list da {
    width: 100%;
}
}

/*RWD表格結束*/
/*20230711側選單active開始*/
h4 a.active.line-height-limit {
    color: #3d95de!important;
}
h4 a.line-height-limit.collapsed.active {
    color: #3d95de!important;
}
h4 a.sidebar-line-height-limit.collapsed.active{
    color: #3d95de!important;
}
.has_child > a.line-height-limit.active {
    color: #3d95de;
}
.collapse_style a.line-height-limit.active{
      color: #3d95de;
}
/*20230711側選單active結束*/
