.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 7%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}
.pli_list a {
    color: #2abba9;
}
.pro_in1:hover .pli_list a {
    color: white !important;
}
.pli_list span a {
    padding-top: 9px;
    display: block;
    font-weight: bold;
    font-family: "Arial", "Microsoft JhengHei";
}
.pli_list a:hover {
    color: white !important;
}
.p_s {
    border: 5px solid #ededed;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.news_date {
    background-color: #ffffff;
    color: #2189a7;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
    display: inline-block;
    border: 1px solid #E3E3E3;
    margin-bottom: 10px;
}
.pli_list_s a {
    font-family: "moon", "Microsoft JhengHei";
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 10px;
    display: block;
}
.pin .pli_list {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    /*border-top: 1px solid #2ABBA9;*/
    background-color: #FFFFFF;
    font-weight: bold;
}
.pin .pro_in1:hover .pli_list {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    color: white !important;
}
.pin .pro_in1:hover .pli_list a {
    color: #454545 !important;
}
.zimg .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--main-color);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.4s ease;
}
.zimg .carousel-indicators {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 10px;
}
.zimg .carousel-indicators .active {
    opacity: 1;
}
.zoom {
    display: inline-block;
    position: relative;
}
.zoom img {
    display: block;
    max-width: 100%;
    height: auto;
}
.zoom img::selection {
    background-color: transparent;
}
#ex2 img:hover {
    cursor: url(grab.cur), default;
}
.slick-slide .pro_model {
    text-align: center;
}
.pro_model {
    font-family: "moon", "Microsoft JhengHei";
    margin-bottom: 8px;
    font-weight: bold;
    color: #747474;
    font-size: 14px;
}
.pro_con_s {
    font-family: "moon", "Microsoft JhengHei";
    text-decoration: dotted #3d3d3d underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
@media (max-width: 1280px) {
    .page-pdt .pt50 .container .row .col-md-9 .in_con .col-md-5 .btn2_2 {
        padding: 8px 10px;
    }
}
@media (max-width: 600px) {
    .page-pdt .pt50 .container .row .col-md-9 .in_con .col-md-5 .btn2_2 {
        padding: 8px 30px;
    }
}
@media (max-width: 375px) {
    .page-pdt .pt50 .container .row .col-md-9 .in_con .col-md-5 .btn2_2 {
        padding: 8px 20px;
    }
}
.web_title {
    font-family: "moon", "Microsoft JhengHei";
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    background: #323232;
    padding-left: 10px;
    border-left: 6px solid #eaaf1b;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inquiry_in {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-left: calc(20% + 20px) !important;
}
@media (max-width: 768px) {
    .inquiry_in {
        padding-left: 0 !important;
    }
}
.inquiry_in > .container {
    position: relative;
    max-width: 90%;
}
.inquiry_in > .container .margin-top-small .btn1 {
    background-image: none;
    background-color: #666;
}
.inquiry_in > .container .margin-top-small .btn1:hover {
    background-color: #eee;
    color: #000;
}
.des {
    background-color: #F7F7F7;
    padding-top: 21px;
    padding-right: 11px;
    padding-bottom: 21px;
    padding-left: 11px;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15) !important;
    color: #2d2c2d;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.p_s {
    border: 5px solid #ededed;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    text-align: center;
}
}

@media screen and (max-width: 480px) {
.p_s {
    border: 5px solid #ededed;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    text-align: center;
}
}
.product-slider:not(.product-slider.slider-hoverZoom) .slider {
    width: 100%;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-slide {
    margin: 0;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-arrow:before {
    color: #8f8f8f;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-next {
    right: 10px;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-prev {
    left: 5px;
    z-index: 1;
}
.product-slider:not(.product-slider.slider-hoverZoom) .slick-prev:before, .product-slider:not(.product-slider.slider-hoverZoom) .slick-next:before {
    font-size: 24px;
}
.product-slider.slider-small2big .slider-for .news-image:hover {
    cursor: pointer;
    opacity: 0.85;
}
.slick-lightbox .slick-arrow:before {
    color: #fff;
    font-size: 2rem;
}
.slick-lightbox .slick-next {
    right: 30px;
}
.slick-lightbox .slick-prev {
    left: 20px;
}
.product-slider.slider-clickZoom {
/* display: block; */
}
.product-slider.slider-small2big {
/* display: block; */
}
.page-pdt-detail {
    display: flex;
    flex-wrap: wrap;
    .page-header, .breadcrumb1, .con, .download_in, .inquiry_in {
        width: 100%;
    }
    .page-header {
        order: 1;
    }
    .breadcrumb1 {
        order: 2;
    }
    .con {
        order: 3;
    }
    .download_in {
        order: 4;
    }
    .inquiry_in:nth-last-child(3) {
        order: 6;
    }
    .inquiry_in:nth-last-child(2) {
        order: 5;
    }
    .inquiry_in:nth-last-child(1) {
        order: 7;
    }
}
.page-pdt-detail .inquiry_in:nth-last-child(3) > .container {
    width: calc(100% - 30px);
    margin: 0 auto;
    /*background-color: rgb(0 0 0 / 15%);*/
}
.page-pdt-detail .inquiry_in:nth-last-child(3) > .container .title01 {
    color: #fff;
}
.page-pdt-detail .inquiry_in:nth-last-child(3) .row .form-group label {
    color: #fff;
}
.page-pdt-detail .inquiry_in:nth-last-child(3) .form-control {
    background-color: #fff;
}
.page-pdt-detail .con .in_con .col-md-7 {
    flex: 0 0 40%;
    max-width: 40%;
}
.page-pdt-detail .con .in_con .col-md-5 {
    flex: 0 0 60%;
    max-width: 60%;
    padding-top: 30px;
    padding-left: 60px;
}
@media (max-width: 768px) {
    .page-pdt-detail .con .in_con .col-md-5 {
        padding-left: 20px;
    }
}
@media (max-width: 600px) {
    .page-pdt-detail .pt50 .container .row .col-md-9 {
        padding-right: 15px;
    }
    .page-pdt-detail .con .in_con .col-md-7, .page-pdt-detail .con .in_con .col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        text-align: center;
    }
    .page-pdt-detail .con .in_con .col-md-5 .pro_con_s {
        text-align: left;
        margin-bottom: 15px;
    }
}


.news-image {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pli_list {
    padding: 10px;
}
