@charset "UTF-8";
:root {
  /*
      CSS 變數使用方式:
      :root {
        --main-color: #369;
      }

      h1 {
        color: var(--main-color);
      }

      不透明:
      h1 {
        color: rgba(var(--main-color-rgba), 0.5);
      }

      漸層:
      background-image: linear-gradient(132deg, rgb(var(--second-color-lighten-rgba)) 0%, var(--main-color) 100%);
  */
  /* 主色 */
  /* rgba: 需不透明 */
  --main-color: rgb(255 255 255);
 --main-color-rgba: (1 64 153);
  /* darken: 較深 */
  --main-color-darken: rgb(1 64 153);
 --main-color-darken-rgba: (1 64 153);
  /* lighten: 較淺 */
  --main-color-lighten: rgb(74, 160, 236);
 --main-color-lighten-rgba: 74, 160, 236;
  /* 第 2 色 */
  --second-color: rgb(76, 71, 144);
 --second-color-rgba: 76, 71, 144;
  /* lighten: 較淺 */
  --second-color-lighten: rgb(95, 89, 173);
 --second-color-lighten-rgba: 95, 89, 173;
 --footer-copyright-bg: rgb(74, 74, 74);
  /* 不透明度 */
  --alpha: 0.8;
}
h2.pro_name {
    text-transform: uppercase;
}
/* .page-index .pro_in1:hover .pli_list a {
    color: #101010!important;
} */

.form-group .control-label span {
    color: hsla(359,100%,50%,1.00);
}
.pin .col-md-4 .pro_in1 .pli_list p {
    display: block;
    text-align: center;
    /*width: 100%;*/
}
.page-header .container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 97%;
}
.breadcrumb1 .container {
    max-width: 1140px;
}
.page-pdt .container {
    max-width: 90%;
}
@media (max-width: 1440px) {
    .page-pdt .container {
        max-width: 99%;
    }
}
@media (max-width: 1280px) {
    .page-pdt .container {
        max-width: 99.4%;
    }
}
@media (max-width: 991px) {
    .page-pdt .container {
        max-width: 100%;
    }
}
.page-search .container {
    max-width: 97%;
}

.page-search .con .pin .pro_in1:hover,
.page-pdt .con .pin .pro_in1:hover {
    /*box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);*/
    border: 1px #ccc solid;
}
.page-search .con .pin .pro_in1:hover .pli_list,
.page-pdt .con .pin .pro_in1:hover .pli_list {
    background-image: linear-gradient(to right bottom, #dadada, #cfcfcf, #c5c5c5, #bababa, #b0b0b0, #afafaf, #adadad, #acacac, #b2b2b2, #b9b9b9, #bfbfbf, #c6c6c6);
}
.page-search .con .pin .pro_in1:hover .pli_list a,
.page-pdt .con .pin .pro_in1:hover .pli_list a {
    color: #222;
}
.page-search .con .pin .pro_in1 a:before {
    transition: .3s;
    -webkit-transition: .3s;
}
.page-pdt-index .con .pin .pro_in1 {
    display: flex;
    flex-direction: column;
}
.page-pdt-index .con .pin .pro_in1 > a {
    order: 2;
}
.page-pdt-index .con .pin .pro_in1 .pli_list {
    order: 1;
}
.page-pdt .pb50 {
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 768px) {
    .con .container .row .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.table {
    color: #FFF
}
.inquiry_in .pb100 .title01 {
    color: #999;
}
.inquiry_in .row .col-sm-6 .form-group label {
    color: #FFFFFF;
}
.inquiry_in .row .col-sm-3 .form-group label {
    color: #FFFFFF;
}
.inquiry_in .row .col-sm-12 .form-group label {
    color: #FFFFFF;
}
header .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 97%;
}
.index-seo_h {
    background-color: hsla(0,0%,18%,0.87);
    /*display: none;*/
}
.index-seo_h h1 {
    font-size: 14px!important;
    color: #FFF;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 7px;
}
.inq_qu {
    font-size: 14px;
    color: #ffffff!important;
    height: 21px;
    border-radius: 98em;
    display: inline-block;
    margin-left: 4px;
}
.carousel-indicators li {
    background-color: #FFF;
    /* height: 10px;
    width: 10px;
    border-radius: 35px!important; */
}
.pro_in .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
    color: #000!important;
    /*font-size: 20px;*/
}
.dropdown-menu li:not(:last-child) {
    border-bottom: 1px dashed hsla(0,0%,36%,1.00);
}
.inquiry_in .form-control {
    background-color: rgb(0 0 0 / 26%);
}
.navbar-dark .navbar-toggler-icon {
    background-image: none;
}
.index-slogan #feedbackcontent::-webkit-input-placeholder {
 color: #000;
}
.rwd-table a {
    color: #000;
}
.ab_link p {
    display: inline-block;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 30px;
}
.ab_link p:hover {
    display: inline-block;
    background-color: #3E3E3E;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 30px;
    color: #FFF
}
.carousel-caption {
    position: absolute;
    bottom: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-next {
    z-index: 12;
}
.webeditor {
    overflow-y: auto;
}
.news_mask .a_img {
    position: relative;
    overflow: hidden;
}
.news_mask .a_img img {
    transition: all 500ms ease-in-out;
}
.news_mask .a_img:hover img {
    opacity: 0.7;
    transform: scale(1.05);
}
.news_mask .col-md-4 {
    margin-bottom: 10px;
}
.card {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
header form .form-control {
    width: 80%;
}
.form-inline img {
    width: 15px;
    height: 15px;
}
header .mr-auto {
    margin-left: auto!important;
    margin-right: unset!important;
    margin-top: 4px;
}
.slogan h1 {
    color: #ffffff;
}
.btn2 i {
    color: #03a9f4;
}
.p_na {
    text-align: center;
    font-weight: bold;
    margin: 12px 0;
}
.pli_list p {
    margin-bottom: 0;
}
.page-pdt .shadow-sm, .page-search .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0)!important;
}
.to-top {
    z-index: 99;
    background-color: rgb(56 56 56);
    color: #fff;
    border-radius: 99px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.to-top:hover {
    color: #7A7A7A;
    background-color: rgba(179,179,179,1.00);
}
.pli_list a {
    padding-top: 10px !important;
    /*padding-right: 14px !important;*/
    padding-bottom: 5px !important;
    padding-left: 14px !important;
    display: block;
    /* color: hsla(0,0%,49%,1); */
}
.advbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    color: white;
    background-color: rgb(46 46 46 / 93%);
}
.advpic {
    font-size: 14px;
    text-transform: uppercase;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.52%, #ececec), color-stop(21.24%, white), color-stop(81.35%, white), to(#f0f0f0));
    background-image: linear-gradient(180deg, #ececec 0.52%, white 21.24%, white 81.35%, #f0f0f0 100%);
}
.error {
    margin-bottom: 16px;
}
 input:-internal-autofill-selected {
 background: #000 !important;
}
/*選單開始*/
.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
    margin: 0px;
    border-width: 0;
    padding-left: 0px;
}
.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li a:hover {
    color: white;
}
.dropdown-menu > li.show {
    color: white;
}
.dropdown-menu > li.show > a {
    color: white;
}

@media (min-width: 768px) {
.dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
}
}
/*選單結束*/
.pin_name {
    font-family: "moon", "Microsoft JhengHei";
    color: rgb(0 0 0);
    font-weight: bolder;
}

.copy a {
    margin-right: 11px;
}
input:focus {
    outline: none !important;
}
.ar img {
    width: 20px;
    height: 20px;
}
.btn2, .navbar-toggler {
    outline: none !important;
}
.container img {
    max-width: 100%;
}
.pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    background-color: #BFBFBF;
    border: 1px solid #eaeaea;
    color: #222;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
}
.pagination li a:hover {
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    background-color: #E1E1E1;
    border: 1px solid #eaeaea;
    color: #414141;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
}
.pagination .active a {
}
.pagination ul {
    padding-left: 0;
}
.pagination .active a {
    color: #ffffff;
    background-color: hsla(0,0%,36%,1.00);
}
body {
    letter-spacing: 1px;
    /* background-image: url(../images/body.jpg);
    background-repeat: repeat; */
    color: #222;
    /* background-position: center top;
    background-size: cover; */
}
/* @media (max-width: 991px) {
    body {
        background-image: none;
        border-color: #ddd;
    }
} */
#accordion .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-bottom: 6px;
}
#accordion .panel-heading {
    padding: 0;
}
#accordion .panel-title a {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding-top: 14px;
    padding-right: 20px;
    padding-left: 25px;
    padding-bottom: 14px;
    position: relative;
    background-color: hsla(0,0%,94%,0.00);
}
#accordion .panel-title a.collapsed {
    border-top: 0;
    color: #000;
    border-bottom: 1px dashed rgba(184,184,184,1.00);
}
#accordion .panel-title a:before {
    content: "-";
    font-family: "moon", "Microsoft JhengHei";
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 34px;
    line-height: 24px;
    color: #000;
}
#accordion .panel-title a.collapsed:before {
    font-family: "moon", "Microsoft JhengHei";
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    content: "+";
    font-weight: bold;
}
#accordion .panel-title a:hover {
    color: #000
}
#accordion .panel-body {
    color: #666464;
    /* border-radius: 35px; */
    font-size: 14px;
    line-height: 20px;
    border-top: 0 none;
    padding: 0 20px;
}
aside li {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 10px;
    border-bottom: 1px dotted #afafaf;
    padding-bottom: 9px;
}
aside ul {
    list-style-type: none;
    padding-left: 0 !important;
}
main {
    background-attachment: fixed;
    background-image: none!important;
}
.page-pdt .sidebar, .page-search .sidebar {
    flex: 0 0 20%;
    max-width: 19%;
    position: fixed;
    top: 120px;
    background-color: #ffffffab;
    z-index: 1;
	overflow-y: auto;
    max-height: calc(100vh - 72px);
}
@media (max-width: 991px) {
    .page-pdt .sidebar,
    .page-search .sidebar{
        top: 43px;
    }
}
.page-pdt .sidebar #accordion .panel,
.page-search .sidebar #accordion .panel{
    margin-bottom: 0;
}
.page-pdt .sidebar #accordion .panel-title,
.page-search .sidebar #accordion .panel-title{
    margin-bottom: 0;
}
.page-pdt .sidebar #accordion .panel-title a ,
.page-search .sidebar #accordion .panel-title a {
    padding: 10px 20px 10px 25px;
}
.page-pdt .breadcrumb1, .page-search .breadcrumb1 {
    padding-left: calc(20% + 20px);
}
@media (max-width: 768px) {
    .page-pdt .breadcrumb1, .page-search .breadcrumb1 {
        position: sticky;
        top: 43px;
        padding-bottom: 1px;
        background-color: #fff;
        z-index: 10;
    }
}
.page-pdt .breadcrumb1 .breadcrumb,
.page-search .breadcrumb1 .breadcrumb{
    justify-content: flex-end;
    text-align: right;
}
.page-pdt .pt50 .container .row .col-md-9,
.page-search .pt50 .container .row .col-md-9{
    padding-right: 0px;
    padding-left: calc(20% + 100px);
    flex: 0 0 98%;
    max-width: calc(100% - 20px);
}
@media (max-width: 768px) {
    .page-pdt .pt50 .container .row .col-md-9,
    .page-search .pt50 .container .row .col-md-9 {
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.page-pdt .pt50 .container .row .col-md-9 .pin .pro_in1,
.page-search .pt50 .container .row .col-md-9 .pin .pro_in1 {
    width: 100%;
}
.address img {
    width: 15px;
    position: absolute;
    left: 18px;
}
.title2 {
    margin-bottom: 35px;
}
.page-contact .container .row .col-md-5 iframe {
    padding: 10px;
    border-radius: 6px;
    background-color: #ddd;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
.address {
    margin-top: 29px;
    display: block;
    margin-bottom: 18px;
}
.address li {
    list-style-type: none;
    margin-top: 15px;
    border-bottom: 1px dashed #c3c3c3;
    padding-bottom: 10px;
}
.address ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 30px;
    list-style-position: inside;
}
.card-header {
    border: 0 solid #adadad;
}
.card {
    border: 0 solid #adadad;
}
.card {
    background-color: hsla(0,0%,100%,0.00);
}
.breadcrumb1 {
    font-family: "moon", "Microsoft JhengHei";
    color: #FFF;
    font-weight: bold;
    margin-bottom: 45px;
    display: block;
}
.breadcrumb {
    padding: 0;
}
.pro_in1 {
   /* box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);*/
   border: 1px solid #e5e5e5;
}
.pro_in1 img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
ul .breadcrumb {
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0.75rem;
    padding-right: 0;
    padding-left: 1px;
    list-style: none;
    background-color: rgba(234, 237, 240, 0);
    border-radius: 0.25rem;
    z-index: 9999;
    text-align: left;
    text-transform: uppercase;
}
.page-header h1 {
    color: white;
    text-align: left;
    z-index: 9;
    position: relative;
    font-family: "moon", "Microsoft JhengHei";
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.63);
}
.breadcrumb li {
    color: #0f0f0f;
    font-weight: normal;
    font-size: 12px;
}
.breadcrumb li.active {
    color: #dd5e3d;
}
.breadcrumb li a {
    color: #0f0f0f;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}
.breadcrumb li a::after {
    content: " •  ";
    color: #0f0f0f;
    margin-right: 3px;
}
.breadcrumb li a:hover {
    color: #B8B8B8;
}
.big-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    background-repeat: repeat;
    background-position: 0 0;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.page-header {
    /*padding-top: 230px;*/
    padding-bottom: 120px;
    position: relative;
    background-size: cover;
    padding-left: 1rem;
    padding-right: 1rem;
}
.big-mask::before {
    content: '';
    display: block;
    background-image: url(../images/ov_dot.png);
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    height: 100%;
    background-position: right 0%;
}
.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    margin-left: 0.35em;
}
.dropdown-menu .dropdown-toggle:hover:after {
    color: #fff;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
}
.dropdown-menu > li a:hover {
    background-color: #000;
    color: #ffffff;
    display: block !important;
}
.dropdown-menu > li.show {
    background-color: #333333;
    color: white;
    display: block !important;
}
.dropdown-menu > li.show > a {
    color: white;
}
.copy {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid rgb(255 255 255);
    border-bottom: 1px solid rgb(255 255 255);
    margin-bottom: 10px;
    background: rgb(255 255 255 / 34%);
}
.copy a {
    color: #000;
}
.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.soc  svg {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.soc a {
    display: inline-block;
    text-align: center;
}
.soc a:hover img, .soc a:hover svg {
    -webkit-transform: rotate(358deg);
    transform: rotate(358deg);
}
.footer_info {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    font-size: 14px;
}
.footer_info a {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    font-size: 14px;
    word-wrap: break-word;
}
.footer_info li {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}
.ab_link {
    color: #252525;
    display: inline-block;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 6px 20px;
    transition: all 500ms ease-in-out;
}
.ab_link:hover {
    color: #FFF;
    background-color: #999;
    transform: translateX(3px);
}
.lang a {
    color: #fff;
    font-family: "moon", "Microsoft JhengHei";
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.lang a:hover {
    color: #D9D9D9;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.bg-dark {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,69,69,0.87) 78.76%, rgba(0,0,0,0.92) 92.75%);
    background-image: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,69,69,0.87) 78.76%, rgba(0,0,0,0.92) 92.75%);
    background-image: -o-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,69,69,0.87) 78.76%, rgba(0,0,0,0.92) 92.75%);
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(69,69,69,0.87) 78.76%, rgba(0,0,0,0.92) 92.75%);
    background-color: hsla(0,0%,0%,0.00)!important;
}
.dropdown-toggle::after {
    color: #cacaca;
}
.dropdown-menu {
    position: absolute;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: rgb(0 0 0 / 58%);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.navbar-dark .navbar-nav .nav-link {
    color: #C1C1C1;
}
.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px solid #FFF;
    color: #FFF;
}
.navbar-dark .navbar-nav .active > .nav-link {
    color: #ffffff;
    padding-top: 0px;
    padding-right: 14px;
    /*border-bottom: 1px solid #ffffff;*/
}
.navbar-dark .navbar-nav .show > .nav-link {
    /*padding-right: 14px;*/
    color: #FFF;
    /*border-bottom: 1px solid #FFF;*/
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-size: 14px;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
header .form-control {
    display: block;
    width: 140px!important;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF;
    background-color: rgb(89 89 89 / 25%);
    background-clip: padding-box;
    border: 1px solid #ececec;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #707070;
    background-color: rgb(255 255 255 / 25%);
    background-clip: padding-box;
    border: 1px solid #ccc;
}
/* .form-control:hover {
    border-color: var(--main-color);
} */
a {
    color: #222;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 1px;
    font-family: "Arial", "Microsoft JhengHei";
}
body {
    font-family: "Arial", "Microsoft JhengHei";
    font-size:14px;

}
a:hover {
    color: rgb(122 122 122);
    text-decoration: none;
}
.title01 {
    padding: 39px 0 20px 0;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.btn:hover {
    color: inherit;
}
.bbt {
    background-color: var(--main-color);
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 50px;
}
.bbt:hover {
    color: #fff;
}
.back {
    text-align: center;
}
.btn2_2 {
    display: inline-block;
    padding: 8px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-image: -webkit-linear-gradient(315deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -moz-linear-gradient(315deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -o-linear-gradient(315deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: linear-gradient(135deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    border: 1px solid hsla(0,0%,34%,1.00);
    transition: all 500ms ease-in-out;
}
.btn2_2:hover {
    background-image: -webkit-linear-gradient(315deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -moz-linear-gradient(315deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -o-linear-gradient(315deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: linear-gradient(135deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    color: #fff;
    border-radius: 8px 0 8px 0;
    transform: translateX(3px);
}
.p10 {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
#accordion .link a.collapsed:before {
    content: "";
}
.bbt:hover {
    background: #333
}
.btn1 {
    color: #fff;
    font-size: 16px;
    font-family: "moon", "Microsoft JhengHei";
    padding: 8px 40px;
    border-radius: 0;
    background-image: -webkit-linear-gradient(315deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -moz-linear-gradient(315deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -o-linear-gradient(315deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: linear-gradient(135deg, rgba(0,0,0,1.00) 0%, rgba(42,42,42,1.00) 100%);
    transition: all 500ms ease-in-out;
}
.btn1:hover {
    background-image: -webkit-linear-gradient(315deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -moz-linear-gradient(315deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: -o-linear-gradient(315deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    background-image: linear-gradient(135deg, rgba(69,69,69,1.00) 0%, rgba(42,42,42,1.00) 100%);
    color: #fff;
    border-radius: 8px 0 8px 0;
}
.cookies_3 {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #4d4d4d;
    margin-top: 10px;
    display: inline-block;
    color: white;
    margin-bottom: 10px;
}
.btn3 {
    color: #fff;
    font-size: 16px;
    font-family: "moon", "Microsoft JhengHei";
    border-width: 0;
    background: #000000;
    padding-right: 40px;
    padding-left: 30px;
    margin-top: 7px;
    text-transform: uppercase;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 4px;
}
.navbar-dark .navbar-nav .nav-link {
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav > .nav-item > a:not(:last-child) {
    margin-right: 5px;
    cursor: pointer;
    border-right: 1px solid #959595;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 14px;
}
@media (max-width: 991px) {
    .navbar-nav > .nav-item > a:not(:last-child) {
        border-right: none;
    }
}
.download_in {
    background-image: none!important;
    padding-left: calc(20% + 20px);
}
@media (max-width: 768px) {
    .download_in {
        padding-left: 0;
    }
}
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0
}
.header_top {
    padding-top: 5px;
    padding-bottom: 5px;
}
.header_s {
    position: absolute;
    z-index: 9;
    text-align: center;
    height: 81px;
    width: 100%;
}
.clear {
    clear: both;
}
.inq {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    position: relative;
}
.inq img {
    color: #ffffff;
    width: 20px;
    height: 20px;
    fill: #636363!important;
}
header .form-control[name="q"] {
    border: 1px solid #505050;
}
.inq_q {
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    font-size: 10px;
    color: #fff;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    width: 20px;
    height: 20px;
    border-radius: 99em;
    text-align: center;
}
header input.form-control::-webkit-input-placeholder {
 color: #FFF;
}
 input.form-control::-webkit-input-placeholder {
 color: #888888;
}
input.form-control:-ms-input-placeholder {
// IE10+ color: #888888;
}
input.form-control:-moz-placeholder {
// Firefox4-18 color: #888888;
}
input.form-control::-moz-placeholder {
// Firefox19+ color: #888888;
}
.center {
    text-align: center;
    display: block;
}
a {
    outline: none;
}
.nav-item {
    margin-right: 2px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .navbar-collapse {
        padding: 10px 0;
    }
    .nav-item {
        margin: 0 0 10px;
    }
}
.form-inline {
    position: relative;
}
@media (max-width: 991px) {
    .form-inline .btn2 .searchbox-icon {
        fill: #999;
    }
}
.btn2 {
    background-color: rgba(42, 187, 170, 0);
    border: 0 solid var(--main-color);
    position: absolute;
    right: 15px;
    top: 11px;
    width: 15px;
}
.btn2 img {
    z-index: 9999;
    position: absolute;
}
.mt50 {
    margin-top: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.pt100 {
    padding-top: 100px;
}
.pb100 {
    padding-bottom: 100px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb25 {
    padding-bottom: 25px;
}
.pt25 {
    padding-top: 25px;
}
footer {
    color: #ccc;
    border-top: 1px solid #ccc;
    padding-top: 50px;
    background-position: center bottom;
    background-attachment: fixed;
    background-image: none;
    background-color: #eaeaea;
}
.webeditor {
    margin-top: 25px;
    margin-bottom: 25px;
}
.webeditor img {
    max-width: 100% !important;
    height: auto !important;
}
.webeditor table {
    max-width: 100% !important;
    height: auto;
}
.skew-neg {
    -webkit-transform: skew(18deg, 0deg);
    transform: skew(18deg, 0deg);
    background-color: #9e0003;
}
.skew-neg a {
    -webkit-transform: skew(0deg, 0deg) !important;
    transform: skew(0deg, 0deg) !important;
    background-color: #289fc3;
}


@media screen and (min-width: 375px) and (max-width: 768px) {
.news_mask .pt100 {
    padding-top: 20px;
}
.news_mask .pb50 {
    padding-bottom: 20px;
}
.pin_name {
    font-size: 22px;
}
.slogan h3 {
    color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    max-width: 600px;
    float: none !important;
}

header {
    position: sticky;
    width: 100%;
    z-index: 9999;
}
.bg-dark {
    padding-top: 0;
    padding-bottom: 0;
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,0.83) 0%, rgba(69,69,69,0.88) 78.76%, rgba(0,0,0,0.89) 92.75%);
    background-image: -moz-linear-gradient(0deg, rgba(0,0,0,0.83) 0%, rgba(69,69,69,0.88) 78.76%, rgba(0,0,0,0.89) 92.75%);
    background-image: -o-linear-gradient(0deg, rgba(0,0,0,0.83) 0%, rgba(69,69,69,0.88) 78.76%, rgba(0,0,0,0.89) 92.75%);
    background-image: linear-gradient(90deg, rgba(0,0,0,0.83) 0%, rgba(69,69,69,0.88) 78.76%, rgba(0,0,0,0.89) 92.75%);
    background-color: hsla(0,0%,0%,1.00)!important;
}
.page-header {
    background-position: right center;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}
.page-header h1 {
    color: white;
    text-align: left;
    z-index: 9;
    position: relative;
    font-family: "moon", "Microsoft JhengHei";
}
.nb, aside {
    display: none !important;
}
}
@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        top: 95%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #ffffff;
        text-align: left;
        list-style: none;
        background-color: rgb(92 92 92);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
.slogan h3 {
    color: #ffffff;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 16px;
    max-width: 600px;
    float: none !important;
}
.news_mask .pb50 {
    padding-bottom: 20px;
}
.pin_name {
    font-size: 22px;
}
.dropdown-menu {
    position: static;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: rgb(124 124 124);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
}
/*header {*/
/*    position: static;*/
/*    width: 100%;*/
/*    z-index: 9999;*/
/*}*/
.page-header {
    background-position: left center;
    padding-top: 0px;
    padding-bottom: 43px;
    position: relative;
}
.page-header h1 {
    color: white;
    text-align: center;
    z-index: 9;
    position: relative;
    font-family: "moon", "Microsoft JhengHei";
}
.nb, aside {
    display: none !important;
}
}

@media all and (min-width: 320px) {
.footer-brand img {
    max-width: 100%;
}
}

@media all and (min-width: 415px) {
.footer-brand img {
    max-width: 350px;
}
}
.header-search-form .btn2 {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.searchbox-icon {
    width: 15px;
    height: 15px;
    fill: #FFF;
    vertical-align: super;
}
.searchbox-icon:hover {
    fill: #FFF;
}
.form-control[aria-label=Search] {
    border: 1px solid #505050;
}
.form-control[aria-label=Search]:hover {
    border-color: var(--main-color);
}

@media all and (min-width: 992px) {
.navbar-nav {
    margin-left: 15px;
}
}
.collapse_style > ul {
    margin-left: 1rem;
    padding-top: 0.5rem;
}
.collapse_style > ul > li {
    border-bottom: 1px solid #7f7f7f;
}
.collapse_panel a {
    color: #000000;
    display: block;
}
.collapse_panel a:hover {
    color: #9E9E9E;
}
.has_child {
    position: relative;
}
.has_child > a:after {
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}
.has_child.plus > a:after {
    content: "+";
}
.has_child.minus > a:after {
    content: "-";
}
.sidebar.right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 0;
    order: -1;
}
.search-dropdown .icon {
    width: 18px;
    fill: #a7a7a7;
    cursor: pointer;
}
.search-dropdown .icon:hover {
    fill: #FFF;
}
.navbar-dark .navbar-toggler-icon .icon {
    width: 30px;
    height: 30px;
    fill: rgb(205 205 205 / 0%);
    background-image: url(../images/icon.png);
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand > img {
    height: auto;
}
@media all and (min-width: 320px) {
.navbar-brand > img {
    max-width: 120px;
}
}

@media all and (min-width: 992px) {
.navbar-brand > img {
    max-width: 100%;
}
}
.index-slider .carousel-caption {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 22px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;

}
/*.index-slider .carousel-caption {
    text-shadow: 1px 1px 20px #a7a7a7;
    font-weight: bold;
    letter-spacing: 2px;
    background: rgb(229 17 18 / 91%);
    font-size: 18px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}*/
.carousel-indicators {
    margin-bottom: 3%;
}
.page-index .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
    color: #000;
    /*font-size: 20px;*/
}
.page-ab .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
}
.page-ab .line-height-single-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-ab .sidebar-line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 63px;
    height: auto;
}
.page-pdt .pli_list, .page-search .pli_list {
    text-align: center;
    /*background-image: linear-gradient(to left bottom, #dadada, #cfcfcf, #c5c5c5, #bababa, #b0b0b0, #afafaf, #adadad, #acacac, #b2b2b2, #b9b9b9, #bfbfbf, #c6c6c6);*/
    transition: all 500ms ease-in-out;
}
.page-pdt .pli_list .line-height-limit, .page-search .pli_list .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /*-webkit-line-clamp: 2;*/
    line-height: 1.5em;
    max-height: 70px; 
    font-weight: bolder;
    text-align: center;

}
.page-pdt .sidebar .line-height-limit, .page-search .sidebar .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    /*max-height: 63px;*/
    height: auto;
    padding-right: 10px;
}
.page-pdt .sidebar .line-height-limit.active, .page-search .sidebar .line-height-limit.active {
    color: #dd5e3d !important;
}
.page-news .pli_list .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
}
.page-news .pli_list_s a {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 70px;
    height: auto;
    font-size: 20px;
    border-top: 1px solid hsla(0,0%,53%,1.00);
    border-bottom: 1px solid hsla(0,0%,53%,1.00);
    margin: 10px 0;
    padding: 8px 0;
}
.page-news .description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
    max-height: 140px;
    height: auto;
    margin-bottom: 10px;
}
.page-news .sidebar .line-height-limit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 63px;
    height: auto;
}
.page-news .row.p_s {
    margin-bottom: 40px;
    background-image: none!important;
}
.page-news .row.p_s .col-md-5 img {
    transition: all 300ms ease-in-out;
}
.page-news .row.p_s .col-md-5:hover img {
    border: 1px #fff solid;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
section.about {
    padding-top: 0;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
}
section.about::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    content: "";
    z-index: -1;
}
.about a:hover {
    color: #000
}
section.about:before, section.about:after {
    z-index: 1;
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
section.about:after {
    background-color: rgba(var(--main-color-rgba), 2%);
}
section.about > .container {
    z-index: 2;
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
}
section.slogan {
    position: relative;
    padding: 0;
    background-size: cover;
    background-repeat: repeat;
    background-position: center bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
section.slogan:before, section.slogan:after {
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
section.slogan:before {
    content: '';
    display: block;
    background-image: url(../images/ov_dot.png);
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    height: 100%;
}
section.slogan:after {
    background-color: rgba(var(--main-color-rgba), 2%);
}
section.slogan > .container {
    z-index: 2;
    position: relative;
    max-width: initial;
    display: inline-block;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 150px 50px;
    text-align: center;
}

@media all and (max-width: 480px) {
    section.slogan > .container {
        padding: 80px 50px;
    }
}

@media all and (min-width: 768px) {
    section.slogan > .container {
        width: 700px;
    }
}

@media all and (min-width: 1200px) {
section.slogan > .container {
    width: 800px;
}
}

@media all and (min-width: 1440px) {
section.slogan > .container {
    width: 960px;
}
}

@media all and (min-width: 1600px) {
section.slogan > .container {
    width: 1060px;
}
}

@media all and (min-width: 1920px) {
section.slogan > .container {
    width: 1280px;
}
}

/*innerpage banner RWD */
/*
@media all and (min-width: 320px) {
  .page-header {
    padding: 0;
  }
  .page-header h1 {
    margin: 0;
  }
}
@media all and (min-width: 375px) {
  .page-header {
    padding: 21px;
  }
}
@media all and (min-width: 415px) {
  .page-header {
    padding: 16px;
  }
}
@media all and (min-width: 576px) {
  .page-header {
    padding: 38px;
  }
}
@media all and (min-width: 768px) {
  .page-header {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}
@media all and (min-width: 992px) {
  .page-header {
    padding: 82px;
  }
}
@media all and (min-width: 1200px) {
  .page-header {
    padding: 104px;
  }
}
@media all and (min-width: 1440px) {
  .page-header {
    padding: 130px;
  }
}
@media all and (min-width: 1600px) {
  .page-header {
    padding: 179px;
  }
}
*/
@media all and (min-width: 768px) {
.page-pdt .row.pin .col-md-4 {
/* 產品模組一排 2 個 */
    /* flex: 0 0 50%; */
    /* max-width: 50%; */
}
}

@media screen and (max-width: 976px) {
.navbar-nav > .nav-item > a:not(:last-child) {
    border-right: 0px solid #d2d2d2!important;
}
.navbar-nav > .nav-item > a {
    margin-right: 5px!important;
    cursor: pointer!important;
    border-right: 0px solid #d2d2d2!important;
    padding-right: 2px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border-bottom: 1px dashed rgba(183,183,183,1.00);
}
}
/*增加詢問車RWD表格start*/
.del_0 img {
    width: 20px;
    text-align: right;
}
.iw .row {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
    padding-bottom: 7px;
}
.del_0 {
    float: right;
}
.iqw .iw {
    width: auto;
    padding: 15px;
    background: #fff;
}
.iw span {
    color: #4a4a4a;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
}
.iqw .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    width: 290px;
}
.iw .col-md-9 a {
    font-size: 14px;
}
.inq2 {
    position: relative;
}
.inq_qu {
    font-size: 14px;
    color: #ffffff;
    width: 21px;
    height: 21px;
    border-radius: 98em;
    display: inline-block;
    margin-left: 4px;
}
.qq input {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding-top: 9px;
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 25px;
    border-radius: 23px;
    width: 150px;
    margin-top: 5px;
}
.btn-danger:hover {
    color: #fff;
}
.btn-danger {
    color: #fff!important;
    background-color: #3a3a3a;
    border-color: #000000;
}
.in_pic {
    width: 125px;
    height: auto;
}
.rwd-table {
    background: #fff;
    overflow: hidden;
}
.rwd-table tr:nth-of-type(2n) {
    background: #fff;
}
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 16px;
    padding-top: 16px;
}
.rwd-table {
    min-width: 100%;
    margin-bottom: 50px;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:before {
    content: attr(data-th) "  ";
    font-weight: bold;
    width: 100%;
    display: block;
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
.rwd-table th, .rwd-table td:before {
    color: #313131;
    font-weight: bold;
}

@media (min-width: 768px) {
.rwd-table td:before {
    display: none;
}
.rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
    width: 150px;
}
.rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
}
.rwd-table th, .rwd-table td {
    padding: 1em !important;
}
}
.iqw .dropdown-menu {
    right: auto;
    left: 0 !important;
    width: 100%;
}
header form .form-control {
    width: 100%!important;
}

/*RWD表格end*/



/*20211006檔案下載列表開始*/
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}
.dl-list li {
    border-bottom: 1px dashed hsl(0deg 0% 36%);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0,0%,16%,1.00);
    width: 100%;
    margin-bottom: 20px;
}
/*.dl-list li::before {
    content: '•';
    display: inline-block;
    width: 20px;
    vertical-align: top;
}*/
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: rgb(0 0 0 / 15%);
    list-style-type: disc;
}
.dl-list a {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
}
.dl-list a:hover {
    color: #888888;
    font-family: "moon", "Microsoft JhengHei";
}
.itemLink img {
    width: 20px;
    height: 20px;
}
.itemTitle {
    width: 70%;
    display: inline-block;
}
@media (max-width: 991px) {
    .itemTitle { 
        width: 82%;
    }
}
.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}
.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0,0%,100%,1.00);
}
.download-des {
    color: hsl(0deg 0% 70%);
}
.dl-list span {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
.itemTitle {
    width: 95%;
    display: inline-block;
}
}

/*20211006檔案下載列表結束*/

/*20211029修改語系問題開始*/
@media screen and (max-width: 991px) {
.inq {
    display: inline-block;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: static;
}
.btn2 {
    position: relative;
    right: 0px;
}
.header .form-control {
    display: inline-block;
}
}
/*20211029修改語系問題結束*/

/*20211104頁尾加上信箱複製及電話開始*/

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.email-link a {
    color: #adadad;
}
.email-link svg {
    width: 20px;
    height: auto;
    fill: #000000;
}
.f_m {
    display: inline-block;
}
.f_m svg {
    margin-right: 5px
}

/*20211104頁尾加上信箱複製及電話結束*/
@media screen and (max-width: 990px) {
header nav .container-xl {
    padding-right: 15px!important;
    padding-left: 15px!important;
}
}

@media screen and (max-width: 768px) {
.carousel-caption {
    width: 100%!important;
    position: inherit;
    right: inherit;
    left: inherit;
    bottom: inherit;
    background-color: #777;
    display: block !important;
}
}

@media screen and (min-width: 1400px) {
.page-pdt .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.page-search .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
.page-pdt .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 24.5%;
    flex: 0 0 24.5%;
    max-width: 24.5%;
}
.page-search .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 24.5%;
    flex: 0 0 24.5%;
    max-width: 24.5%;
}

}

@media screen and (min-width: 769px) and (max-width: 1680px) {
.pli_list a, .pli_list span {
    font-size: 0.8rem;
    padding: 5px 0 !important;
}

}


@media screen and (min-width: 375px) and (max-width: 768px) {
.page-pdt .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
.page-search .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
}

@media screen and (max-width: 480px) {
.page-pdt .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.page-search .col-md-9 .pin .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

/* @media screen and (max-width: 996px) {
.about {
    background-image: none!important;
    background-color: hsla(0,0%,15%,1.00);
}
section.slogan {
    background-image: none!important;
    background-color: hsla(0,0%,15%,1.00);
}
body {
    background-image: none!important;
    background-color: hsla(0,0%,90%,1.00);
}
} */

@media screen and (min-width: 996px) and (max-width: 1200px) {
.breadcrumb1 .container {
    max-width: 100%;
}
}

@media screen and (min-width:768px) and (max-width: 996px) {
.breadcrumb1 .container {
    max-width: 100%;
}
}

@media screen and (min-width:578px) and (max-width: 767px) {
.breadcrumb1 .container {
    padding-left: 0;
    max-width: 100%;
}
}

@media screen and (max-width: 577px) {
.breadcrumb1 .container {
    padding-left: 0;
    max-width: 100%;
}
}

@media screen and (max-width: 990px) {
    nav#main_navbar {
    padding-left: 0;
    padding-right: 0;
}
    button.navbar-toggler {
    padding-right: 0;
}
.footer_info {
    color: #000;
    font-family: "moon", "Microsoft JhengHei";
    letter-spacing: 2px;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0px;
    width: 100%;
}
.footer_info li {
    list-style-type: none;
    text-align: left
}
.copy {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    font-size: 14px;
    border-top: 1px solid rgb(255 255 255);
    border-bottom: 1px solid rgb(255 255 255);
    margin-bottom: 10px;
    background: rgb(255 255 255 / 34%);
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}
.breadcrumb1 {
    font-family: "moon", "Microsoft JhengHei";
    color: #FFF;
    font-weight: bold;
    margin-bottom: 45px;
    display: block;
    padding-left: 15px;
    padding-right: 1rem;
}
}


p a,li a, h4 a {
    color: rgb(231 4 4);
}
h2{
    font-weight: bolder;
}
.webeditor .container {
    max-width: 100%;
}
.pli_list {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label[for="company"]::after{
    content: " *";
    color: red;
}

.pli_list span {
    color: #222 !important;
}