@import "../helpers/variable";
@import "../helpers/mixins";

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -khtml-user-select: none;
    user-select: none;
    touch-action: pan-y;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

/*
 * slick theme.scss
*/
// Default Variables
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: "fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: var(--primary-color) !default;
$slick-dot-color: white !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    } @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
//@if $slick-font-family == "slick" {
//    @font-face {
//        font-family: "slick";
//        src: slick-font-url("slick.eot");
//        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//        font-weight: normal;
//        font-style: normal;
//    }
//}


/* Arrows */
.slick-prev,
.slick-next {
    opacity: 0;
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    padding: 10px;
    border: 2px solid var(--primary-color-lighten);
    background-color: rgba(255, 255, 255, 0.85);
    @include transition(.3s ease);

    &:hover, &:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 1);

        &:before {
            font-weight: bold;
        }
    }

    &.slick-disabled:before {
    }

    &:before {
        font-size: 20px;
        line-height: 8px;
        color: $slick-arrow-color;
        font-weight: bold;

    }
}

.slick-slider {
    &:hover {
        .slick-prev,
        .slick-next {
            opacity: 1;
        }
    }
}

.slick-prev, .slick-next {
    z-index: 1;

    &:before {
        color: var(--primary-color);
    }
}

.slick-prev {
    left: 20px;

    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }

    &:before {
        content: $slick-prev-character;

        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 25px;

    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }

    &:before {
        content: $slick-next-character;

        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;

            &:hover, &:focus {
                outline: none;

                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
            }
        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

// Custom Theme Styles
.slick-initialized {
    .slick-slide {
        //margin-right: 0px;
    }

    a, img, .slick-slide, .slider-item {
        &:focus {
            outline: none;
        }
    }
}

.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: black;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease
}

.slick-lightbox .slick-loading .slick-list {
    background-color: transparent
}

.slick-lightbox .slick-prev {
    left: 15px
}

.slick-lightbox .slick-next {
    right: 15px
}

.slick-lightbox-hide {
    opacity: 0
}

.slick-lightbox-hide.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0
}

.slick-lightbox-hide-init.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden
}

.slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em
}

.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px
}

.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center
}

.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%
}

.slick-lightbox-slick-img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    max-height: 90%
}

.slick-lightbox-slick-caption {
    margin: 10px 0 0;
    color: white
}

.slick-lightbox-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none
}

.slick-lightbox-close:focus {
    outline: none
}

.slick-lightbox-close:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '×'
}