:root {
    /* 主色 */
    /* rgba: 需不透明 */
    --main-color: #B60005;
   --main-color-rgba: 182, 0, 5;
    /* darken: 較深 */
    --main-color-darken: #720008;
   --main-color-darken-rgba: 109, 19, 24;
    /* lighten: 較淺 */
    --main-color-lighten: #BC535B;
   --main-color-lighten-rgba: 180, 81, 88;
    /* 第 2 色 */
    --second-color: #292929;
   --second-color-rgba: 41, 41, 41;
    /* lighten: 較淺 */
    --second-color-lighten: #494949;
   --second-color-lighten-rgba: 72, 73, 73;
   --footer-copyright-bg: #2A2B2B;
    /* 不透明度 */
    --alpha: 0.8;
  }
.carousel-item img:hover{
    opacity: 1;
}
.mt-3 .container table tr td:nth-child(3){
    max-height: max-content;
    overflow-x: initial;
    display: block;
}
.mt-3 .container thead tr th:nth-child(1){
    width: 15%
}
.mt-3 .container thead tr th:nth-child(2){
    width: 35%
}
.mt-3 .container thead tr th:nth-child(3){
    width: 40%
}
.mt-3 .container thead tr th:nth-child(4){
    width: 10%
}
.navbar-nav .active a{
    background-color: #fff;
    color: var(--main-color) !important;
    padding-left: 5px;
}
.d-none {
     display: block!important; 
}
.navbar-nav li{
    margin: 5px 0px;
}
.navbar-nav li:nth-child(1){
    margin-top: 5px;
}
.navbar-nav li:hover{
   background-color:#fff;
   color: var(--main-color) !important;
}

.navbar-nav li:hover a{
    color: var(--main-color) !important;
 }
section#news {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: none!important;
}
.p-news-list table tr {
    border-top: 1px dashed hsla(0,0%,77%,1.00);
}
.p-sitemap h2{
    background-color: hsla(0,0%,82%,1.00);
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.p-news-index table{
    margin-top: 17px;    
}
.p-news-index table tr{
    border-top: 1px dashed hsla(0,0%,77%,1.00);
}
.inquiry_in{
    background-image: none!important;    
}
.address ul{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 18px;
}
.address img{
    margin: 10px;
    width: 30px;
    height: auto;
}
.btn{
    /* margin-bottom: 13px;     */
}
.soc img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 8px;

}
.soc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer_info li {
    list-style-type: none;
    text-align: center;
    color: #000 !important;
}

.footer_info li a{
    list-style-type: none;
    text-align: center;
    color: #000 !important;
}

.footer_info li a:hover{
    list-style-type: none;
    text-align: center;
    color: var(--main-color) !important;
}
.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}
.dropdown-menu > li a:hover, .dropdown-menu > li.show {
    background: var(--main-color);
    color: white !important;
}
.dropdown-menu > li.show > a {
    color: white;
}
#news h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-color:var(--main-color);
}
.carousel-caption {
    position: static;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #000;
    text-align: center;
 
}
.advbox {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 100%!important;
    background-image: linear-gradient(45deg, #b60005 0%, #e45862 100%);
    z-index: 9999;
    color: hsla(0,0%,100%,1.00);
    left: 0;
}
nav {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.advpic {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 11px;
}
.btn1 {
    transform: skew(30deg, 0deg);
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
}
.cookies_3 {
    border: 1px solid hsla(0,0%,89%,1.00);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
    color: hsla(0,0%,100%,1.00);
    margin-bottom: 10px;
    min-width: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn3 {
    color: #2190a4;
    font-size: 16px;
    font-family: 'moon', "微軟正黑體";
    border-width: 0px;
    background-image: -webkit-linear-gradient(340deg, rgba(255,255,255,0.00) 16.58%, rgba(255,255,255,1.00) 16.58%, rgba(255,255,255,1.00) 81.35%, rgba(203,203,203,1.00) 81.35%, rgba(203,203,203,1.00) 86.01%, rgba(255,0,0,0.00) 86.01%);
    background-image: -moz-linear-gradient(340deg, rgba(255,255,255,0.00) 16.58%, rgba(255,255,255,1.00) 16.58%, rgba(255,255,255,1.00) 81.35%, rgba(203,203,203,1.00) 81.35%, rgba(203,203,203,1.00) 86.01%, rgba(255,0,0,0.00) 86.01%);
    background-image: -o-linear-gradient(340deg, rgba(255,255,255,0.00) 16.58%, rgba(255,255,255,1.00) 16.58%, rgba(255,255,255,1.00) 81.35%, rgba(203,203,203,1.00) 81.35%, rgba(203,203,203,1.00) 86.01%, rgba(255,0,0,0.00) 86.01%);
    background-image: linear-gradient(110deg, rgba(255,255,255,0.00) 16.58%, rgba(255,255,255,1.00) 16.58%, rgba(255,255,255,1.00) 81.35%, rgba(203,203,203,1.00) 81.35%, rgba(203,203,203,1.00) 86.01%, rgba(255,0,0,0.00) 86.01%);
    background-color: hsla(0,0%,0%,0.02);
    padding-right: 40px;
    padding-left: 30px;
    margin-top: 7px;
}
.btn3.closebtn {
    min-width: 326px;
    margin: 10px 0px;
    margin-left: 0px;
    padding: 5px 8px;
    background-image: none;
    background-color: var(--second-color);
    color: white;
    transform: translateY(2px);
}

footer .advbox .btn3.closebtn:hover {
    background: var(--second-color-lighten);
}
/*--------RWD表格---------------*/
.rwd-table {
    background: #fff;
    overflow: hidden;
}
.rwd-table tr:nth-of-type(2n) {
    background: #eee;
}
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table {
    min-width: 100%;
}
.rwd-table th, .rwd-table td {
    text-align: left;
    clear: both;
}
.right01 {
    width: 70%;
    display: contents;
    float: right;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
.rwd-table th, .rwd-table td:before {
    color: #0d5da9;
    font-weight: bold;
    width: 30%;
    display: none;
}

.lang img{
    fill: #fff;
}

.right01.qt1{
    float: initial;
}
@media (min-width: 480px) {
.rwd-table th, .rwd-table td {
    text-align: left;
    clear: none;
}
.rwd-table td:before {
    display: none;
}
.rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
}
.rwd-table th, .rwd-table td {
    padding: 0.5em !important;
}
.right01 {
    width: 100%;
    display: block;
    float: none;
}
  
}


/*--------RWD表格---------------*/
a img:hover {
    opacity: 0.7
}
header {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
.copy {
    background-color: #2E2E2E;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #adadad;
    text-align: center;
}
.copy a {
    color: var(--main-color);
}
main {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
footer {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
footer {
    background-color: rgba(15,15,15,1.00);
    padding-top: 50px;
    padding-bottom: 15px;
    background-position: center center;
    background-attachment: fixed;
}
.form-control {
   /* margin-bottom: 10px*/
}
.error {
    color: #FFF;
    background-color: #FF0004;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.error1 {
    border: 1px solid #FF0004;
}
.sw {
    margin-right: 7px;
    background-color: #E90003;
}
.dl {
    padding: 3px 24px;
    margin-right: 0px;
    background-color: var(--footer-copyright-bg);
}
.sw:hover {
    margin-right: 7px;
    background-color: #780001;
}
.dl:hover {
    background-color: var(--main-color);
}
.i_l {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 12px;
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
}
.news_in {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
}
.news_t {
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    display: block;
}
.news_date {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #BC535B;
    color: #ffffff;
    display: block;
    width: 104px;
    font-size: 14px;
    margin-top: 4px;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 30px;
}
.red {
    color: #FF0004;
}
a.pro_1 {
    width: 100%;
    display: block;
    font-display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    text-align: center;
}
.model {
    /* background-color: #0e5da9; */
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 14px;
    text-align: center;
}
.page-item .active {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #1f77a7;
    border: 1px solid #dee2e6;
}
.cart {
    right: 85px;
    position: absolute;
    top: 14px;
}
.cart1 {
    position: relative;
}
.i_n {
    position: absolute;
    z-index: 99;
    background-color: #FF0004;
    color: #FFFFFF;
    font-size: 14px;
    right: -18px;
    bottom: -14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 99em;
}
a:hover {
    text-decoration: none;
}
.mt-3 .col-sm-4 {
    margin-bottom: 8px;
}
.ml {
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    color: #1f77a7;
}
.p_name {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, "微軟正黑體";
    font-weight: bolder;
    font-size: 16px;
    width: 100%;
}
.pr_in {
    min-height: 50px;
    padding-top: 8px;
    padding-bottom: 5px;
}
.p1 {
    background-color: var(--main-color);
    color: #fff !important;
}

.p1 .p_name ,.p1 .ml{
    color: #fff !important;
}

.container img {
    max-width: 100%;
    height: auto;
}
.sp-large img {
    max-width: none;
    height: none;
}
.to-top {
    background: #e61112;
    color: #fff!important;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 99em;
    z-index: 999;
    text-align: center;
    
    
}
.date_in {
    color: #fff;
    display: inline-block;
    background-color: var(--main-color);
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Arial, "微軟正黑體";
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 8px;
}
main {
    background-color: #FFFFFF;
    padding-bottom: 12px;
}
.center {
    text-align: center;
    width: 100%;
}
.right {
    text-align: right;
}
.poc {
    margin-bottom: 13px;
}
.inbanner img {
    display: block;
}
.btn001{
    margin-bottom: 16px;
}
.btn001 a {
    background-color: var(--main-color);
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}
.btn001 a:hover {
    background-color: var(--main-color-darken);
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
}
.mt40 {
    margin-top: 40px;
}
.webeditor img {
    max-width: 100%;
    height: auto!important;
}
.webeditor table {
    max-width: 100%!important;
    height: auto!important;
}
.news_in li {
    margin-bottom: 16px
}
a {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    outline: none!important;
}
button {
    outline: none!important;
}
.inbanner img {
    width: 100%;
    height: auto;
}
footer {
    background-color: rgba(15,15,15,1.00);
    padding-top: 50px;
    padding-bottom: 15px;
    background-position: center bottom;
    background-attachment: fixed;
}
footer .row {
    margin-top: 10px;
}
footer a {
    color: #FFFFFF;
    font-size: 14px;
}
.card-body ul li a {
    font-size: 14px;
    color: hsla(0,0%,24%,1.00);
}
.btn-link a {
    font-size: 14px;
    color: hsla(0,0%,24%,1.00);
}
* {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
}
.wrap {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
.lang_all {
    background-color: var(--main-color);
    text-align: right;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
/* .bg-light{
    background-image: none !important;
    background-color: var(--main-color) !important;
    border-radius: 4px soild var(--main-color) !important;
    align-items: flex-end;
} */
.lang_all a {
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.lang_all img {
    width: 20px;
    height: 20px;
}
#about {
    background-image: none!important;
}
#about h2 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-color:var(--main-color);
}
#about h1 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-color:var(--main-color);
}
#prod h1 {
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    background-color:var(--main-color);
    font-family: Arial, "微軟正黑體";
}
#prod h2 {
   font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: Arial, "微軟正黑體";
}
#about h3 {
    font-size: 20px;
    color: #ff1504;
    font-weight: bold;
}
#about p {
    font-size: 14px;
    color: #4B4B4B;
}
#slogan {
    background-image: url(../images/slo.jpg);
    width: 100%;
    background-size: cover;
    padding: 100px 10px 100px 10px;
    background-position: right center;
    color: hsla(0,0%,100%,1.00);
}
#pdt {
    background-image: none!important;
}
#pdt h2 {
    background-color:var(--main-color);
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
}
.center {
    text-align: center;
}
.card h2 {
    background-color: hsla(207,100%,25%,0.00)!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    color: #FFFFFF;
    font-size: 20px;
}
/*語系*/
	
.lang_all ul {
    margin-bottom: 0rem;
}
.lang {
    list-style: none;
}
.lang li {
    display: inline-block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}
.lang li a {
    display: block;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, "微軟正黑體";
}

.lang a.selected {
    color: #f00;
}
.lang ul {
    position: absolute;
    left: 0;
    display: none;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 7px;
}
.lang ul li {
    width: 100%;
    border-bottom: 1px dashed hsla(0,0%,43%,1.00);
}
.lang ul a {
    display: block;
    padding: 8px 5px;
    color: var(--footer-copyright-bg) ;

}
.lang ul a:hover {
    text-decoration: none;
    
}
.lang ul li a:hover {
    color: var(--main-color-darken) !important;
}
.slick-slide{
    height: auto;
}
/*RWD表格開始*/
table {
    
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
table tr {
    padding: 5px;
}
table th, table td {
    padding: 10px;
    text-align: center;
}
table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 10%;
}
.da {
    width: 100px;
}

.card-body{
    background-color: var(--main-color-lighten);
    color: #fff;
    padding: 8px 0px;
}

.p-pdt-dt .row .col-sm-7{
    padding: 0px !important;
}
.download_in{
    background-image: none !important;
}
.btn01 a{
    display: block;
    padding: 5px 16px;
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.btn01 a:hover{
    opacity: .9;
}

.btn01 a .buttbtn-primary{
    width: 100%;
    background-color: transparent !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
}
@media screen and (max-width: 600px) {
    .mt-3 .container table tr td:nth-child(3){
    max-height: max-content;
    overflow-x: initial;
    display: block;
    }
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        margin-bottom: 10px;
        display: block;
    }
    .p-inquiry-list table td {
        display: block;
        font-size: 13px;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    .da {
        width: 100%;
    }
    .news_t{
        margin-top: 8px;
    }
    .btn3.closebtn {
        min-width: 326px;
        width: 100%;
        margin-left: 0px;
        padding: 5px 8px;
        background-image: none;
        background-color: var(--second-color);
        color: white;
    }
    .cookies_3{
        min-width: 326px;
        width: 100%;
    }
    #prod h1,.h1, h1{
        font-size: 1.5rem !important;
    }
    .h2, h2{
        font-size: 1.2rem !important;
    }
    tbody tr{
        display: flex;
        flex-direction: column;
    }

    tbody tr td a{
        color: var(--main-color);
        font-size: 20px;
        font-weight: 600;
    } 

    table td{
        text-align: left;
    }
    table td:nth-last-child(1){
        text-align: right;
        color: var(--main-color-lighten);
    }
    .inquiry_in .container, .inquiry_in .container .form-group{
        padding: 0;
    }
    #about .webeditor .container,#about .webeditor .container .col-md-6{
        padding: 0px;
    }
}

/*RWD表格結束*/


@media print {
.no_p {
    display: none
}
}
/*20211025檔案下載列表開始*/
.itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
    padding-left: 32px;
    float: right;
}
.dl-list li {
    border-bottom: 1px dashed hsla(0,0%,84%,1.00);
    padding-top: 8px;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-position: inside;
    color: hsla(0,0%,16%,1.00);
    width: 100%;
    margin-bottom: 20px;
}
/*.dl-list li::before {
    content: '•';
    display: inline-block;
    width: 20px;
    vertical-align: top;
}*/
.dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0,0%,84%,1.00);
    background-color: hsla(0,0%,100%,1.00);
    list-style-type: disc;
}
.dl-list a {
    color: #000;
    font-family: Arial, "微軟正黑體";
}
.dl-list a:hover {
    color: var(--main-color);
    font-family: Arial, "微軟正黑體";
}
.itemLink img {
    width: 20px;
    height: 20px;
}
.itemTitle {
    width: 70%;
    display: inline-block;
}
.itemLink {
    display: inline-block;
    background: #ebeef3;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}
.itemLink:hover {
    display: inline-block;
    background-color: #E9E9E9;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: hsla(0,0%,100%,1.00);
}
.download-des {
    color: hsl(0deg 0% 70%);
}
.dl-list span {
    color: hsla(0,0%,4%,1.00);
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
}

@media screen and (max-width: 740px) {
.itemTitle {
    width: 95%;
    display: inline-block;
}
    .itemLink {
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
    color: gray;
   
    float: none;
    margin-top: 10px;
}
    .dl-list {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px dashed hsla(0,0%,84%,1.00);
    background-color: hsla(0,0%,100%,1.00);
    list-style-type: disc;
    text-align: center;
}
}
/*20211006檔案下載列表結束*/

/*20211104首頁加上H1標籤區塊開始*/
.index-seo_h {
    padding: 0;
    margin: 0px;
    display: inline-block;width: 100%;
}
.index-seo_h h1 {
    font-size: 20px!important;
    margin-top: 22px;
    margin-bottom: 19px;
        color: #0a52a4;
}
/*20211104首頁加上H1標籤區塊結束*/
/*20211104頁尾加上信箱複製及電話開始*/

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.email-link a {
    color: #adadad;
}
.email-link svg {
    width: 20px;
    height: auto;
    fill: #adadad;
}
.f_m {
    display: inline-block;
}
.f_m svg {
    margin-right: 5px;
}

.navbar-brand img{
    width: 45px;
    height: auto;
}

.navbar-toggler-icon{
    width: 30px !important;
    height: 30px !important;
}

.cart img{
    width: 35px !important;
}

.ab-link-box{
    height: max-content;
    display: flex;
    justify-content: center;
}

.ab_link {
    min-width: 150px;
    height: 35px;
    position: relative;
    background: var(--main-color-darken);
    border-radius: 20px;
    padding: 5px 64px;
    font-size: 16px;
    color: #fff;
}

.hot_pdt_card .card-text{
    background-color: #BC535B !important;
}

section.about {
    padding-top: 0;
    background-position: center;
    background-image: url(../images/index-ab-bg.jpg)!important;
}

#slogan{
    background-image: url(../images/index-slogan.jpg) !important;
}

footer{
    background-image: url(../images/footer.png) !important;
}

#slogan .container.right{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 16px 8px;
    color: black;
    text-align: initial;
}

#slogan .container.right .seo-title{
    color: var(--main-color);
    font-weight: 600;
}

.index-seo_h{
    padding: 15px 0;
    background-image: none!important;
    text-align: right;
    background: var(--main-color);
}

.index-seo_h h1{
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.center.footer-brand img{
    width: 80px !important;
    height: auto;
}

main{
    padding-bottom: 0px;
}

.to-top{
    background-color: var(--main-color) !important;
}

.webeditor img{
    height: auto !important;
}

.webeditor p img{
    height: auto !important;
}

.qt1{
    height: 31px;
}

.qtychange{
    width: 30px;
    height: 100% !important;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 1px solid #aaa;
}

.rwd-table tr:nth-child(1) {
    background: transparent;
}

.rwd-table tr {
    background: #eee;
}

form .cemter{
    display: flex;
    justify-content: center;

}

form .btn{
    min-width: 150px;
    padding: 5px 8px;
    background-color: var(--main-color);
    margin-bottom: 16px;
}

form .btn:hover{
    background-color: var(--main-color-darken);
}
/*20211104頁尾加上信箱複製及電話結束*/
