@import "mixins";
@import "extends";
@import "variable";

.sitemap {
    margin-bottom: 25px;

    h2 {
        border-top: 0;
        color: #333;
        background-image: linear-gradient(300deg, var(--main-color) 9.33%, rgba(227, 227, 227, 1) 9.33%, rgba(237, 237, 237, 1) 18.13%, rgba(245, 245, 245, 1) 18.13%, rgba(245, 245, 245, 1) 90.15%, rgba(245, 245, 245, 0) 90.15%);
        //border-bottom: 1px solid transparent;
    }
}

.sitemap1 {
    ul {
        padding-top: 8px;
        padding-left: 20px;
        //list-style-position: inside;
    }
    li {
        margin-bottom: 5px;
        padding-bottom: 5px;

        ul {
            li {
                padding-top: 5px;
                padding-left: 11px;
            }
        }
    }
}