@import "mixins";
@import "extends";
@import "variable";

.abin{
    background-color: #ffffff;
    box-shadow: 0 0 4px #cecece!important;
    background-position: center top;
    background-size: 100% auto;
    margin-bottom: 20px;
    border-left: 5px solid var(--main-color);
    margin-top: 20px;
}
.abin:hover{
    background-color: #FFF;
    box-shadow: 0 0 4px #cecece!important;
    background-image: none;
    background-position: center top;
    background-size: 100% auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.abin a {
    color: #292929;
}
