.pli_list {
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--main-color);
    background-color: #007C7A;
}
a.carousel-control-next::after {
    content: "";
    position: absolute;
    background: #fc9b3e;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 57px;
    opacity: .7
}
a.carousel-control-prev::after {
    content: "";
    position: absolute;
    background: #fc9b3e;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 57px;
    opacity: .7
}
.about .container {
    max-width: 80%!important;
}
.ab_ind h1 {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 5px;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 26px;
    background: rgb(0 103 148 / 79%);
    display: block;
}
.carousel-indicators {
    bottom: 46px;
}
.carousel-caption h5 {
    font-size: 30px!important;
}
.pli_list a {
    color: #FFF;
}
.pro_in p {
    margin-bottom: 0;
    display: inline-block;
    /* margin: 10px; */
    width: 100%;
    /* border-top: 1px dashed hsl(0deg 0% 100%); */
    background: #4fb0b8;
}
.pro_in1:hover .pli_list {
    bottom: 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(130deg, rgba(var(--main-color-rgba), 0.68) 58.04%, rgba(var(--main-color-rgba), 0.72) 58.04%, rgba(var(--main-color-rgba), 0.72) 94.3%, rgba(var(--main-color-rgba), 1) 94.3%);
}
.pro_in1:hover .pli_list a {
    color: #fff;
}
.pli_list span a {
    padding-top: 9px;
    display: block;
    font-weight: bold;
    font-family: Arial, "微軟正黑體";
}
.pli_list a:hover {
    color: white;
}
.a_img img {
    width: 100%;
    height: auto;
    min-width: 100%;
}
.a_img img:hover {
    width: 100%;
    height: auto;
    min-width: 100%;
    opacity: 0.5
}
.indexNews-text-line {
    position: relative;
    width: 1px;
    height: 100%;
    margin: 30px 15px 0 15px;
    background: #000;
}
.indexNews-content-inner .indexNews-text-line-inner {
    height: 100%;
}
.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;
}
.indexNews-text .indexNews-text-line .indexNews-text-line-inner {
    position: relative;
    width: 1px;
    height: 0;
    margin: 30px 15px 0 15px;
    background: #000;
}
.indexNews-text-line, .indexNews .indexNews-text p {
    display: none;
    vertical-align: top;
}
.indexNews-text {
    position: relative;
    width: 100%;
    white-space: nowrap;
    display: flex;
}
.indexNews-text p {
    position: relative;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    color: #000;
    white-space: normal;
    width: 90%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 320px) {
.indexNews-text p {
    font-size: 18px;
    background: #FFF;
    border-radius: 60px;
    top: -40px;
}
}

@media all and (min-width: 576px) {
.indexNews-text p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    color: #000;
    white-space: normal;
    /* width: 100%; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    /* padding: 10px; */
    min-height: 85px;
    background: #FFF;
    position: relative;
    top: -40px;
    border-radius: 60px;
}
}
.news_mask .col-md-4 {
    margin-bottom: 20px;
}
.news_in {
    background-attachment: fixed;
}
.news_mask .indexNews-text {
    background-color: #007c7a;
    /* box-shadow: 0px 0px 4px #dedede; */
    border-bottom: 3px solid #4db0b9;
    margin-top: 15px;
}
.news_mask .indexNews-text:hover {
    background-color: #007c7a;
    box-shadow: 0px 0px 4px #dedede;
}
.news_mask .a_img img {
}
.news_mask .a_img img {
    box-shadow: 0px 0px 4px #dedede;
}
.news_mask {
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}
.about {
    position: relative;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    color: #ffffff;
    overflow: hidden;
    /*background-image: url(asset/images/index-bg.webp)!important;*/
}
.ab_ind {
    max-width: 100%;
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    padding: 3%;
    text-align: center;
    color: #ffffff;
}
.news_in .container {
    width: 100%!important;
    max-width: 90%!important;
}
.footer .widget .about-list li i {
    float: left;
    font-size: 14px;
    margin-top: 2px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    /* background-color: #ffffff; */
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%;
}
.footer .widget .about-list li .about-list-content {
    margin-left: 44px;
    color: #ffffff;/* height: 54px; */
}
.ab_ind h2 {
    font-family: Arial, "微軟正黑體";
    letter-spacing: 1px;
    color: #FFF;
    text-shadow: 3px 0px 7px rgb(0 0 0 / 36%), -3px 0px 7px rgb(0 0 0 / 50%), 0px 4px 7px rgb(0 0 0 / 58%);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 26px;
}
.ab_ind h2 span {
    color: var(--main-color);
    font-weight: bolder;
}
.pf li {
    float: left;
    list-style-position: inside;
    color: white;
    border: 1px solid #6f6f6f;
    list-style-image: none;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
}
ul.pf {
    padding-left: 0px !important;
    margin-top: 25px;
    display: block;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 100px 60px 200px 0px;
    background-position: center center;
}
.slogan h2 {
    color: #007c7a;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    background: hsl(0deg 0% 100% / 100%);
    border-radius: 45px;
}
.slogan h3 {
    color: #FFF;
    font-family: Arial, "微軟正黑體";
    font-size: 22px;
    /* float: right; */
    line-height: 30px;
    text-align: center;
    width: 100%;
    /* text-shadow: 0px 0px 4px #000000;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
.slogan h2 {
    color: #FFF;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: 2rem;
    width: 100%;
}
.slogan h3 {
    color: #FFF;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    /* float: right; */
    line-height: 30px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.ab_ind {
    max-width: 95%;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    line-height: 25px;
    padding: 3%;
    color: #FFFFFF;
}
.about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: fixed;
    color: #3a3a3a;
    overflow: hidden;
    background-color: #1D1D1D;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
}
.slogan h2 {
    color: #464646;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}
.slogan h3 {
    color: #FFF;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    /* float: right; */
    line-height: 30px;
    text-align: center;
    width: 100%;
}
}

@media screen and (max-width: 480px) {
.news_mask .pt100 {
    padding-top: 25px;
}
.news_mask .pb50 {
    padding-bottom: 25px;
}
.ab_ind {
    max-width: 95%;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    line-height: 25px;
    padding: 3%;
    color: #FFFFFF;
}
.about {
    position: relative;
    padding: 100px 0;
    background-image: none, linear-gradient(122deg, #1f1f1f 0%, #262626 64.76%, #111111 64.76%);
    background-attachment: fixed;
    color: #3a3a3a;
    overflow: hidden;
    background-color: #1D1D1D;
    background-position: center 0%;
}
.slogan {
    width: 100%;
    background-size: cover;
    padding: 200px 60px 200px 0;
    background-position: right center;
}
.slogan h2 {
    color: #007c7a;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}
.slogan h3 {
    color: #FFF;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
    /* float: right; */
    line-height: 30px;
    text-align: center;
    width: 100%;
}
}
/*首頁編輯器*/

/* 210917 seo section */
.index-seo_h {
       padding: 5px 0;
    text-align: center;
    background: #fff;
    background-image: none!important;
}
.index-seo_h h1 {
    color: #007c7c;
    font-size: 14px;
    margin-bottom: 0;
}
/* 210917 seo section */

.iaw {
    position: relative;
}
.abi1 h2 {
    border-top: 0px solid #ffffff;
    border-bottom: 0px solid #000000;
    font-size: 22px;
    background: hsl(0deg 0% 0% / 35%);
}
.abi1 div {
    padding-right: 8%;
    padding-left: 8%;
}
.abi1 {
    width: 25%;
    float: left;
    border-top: 2px solid hsl(170deg 42% 35%);
    padding-top: 35px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
}
.abi1::before {
    content: '●';
    position: absolute;
    text-shadow: 0px 0px 4px #007c7a;
    top: -13px;
    font-size: 24px;
    color: #337e71;
}
.abi1 p {
    font-size: 16px;
    color: #FFF;
    text-shadow: 3px 0px 7px rgb(0 0 0), -3px 0px 7px rgb(0 0 0), 0px 4px 7px rgb(0 0 0);
    text-align: left;
    background-image: -webkit-linear-gradient( 270deg, rgba(0,0,0,0.25) 49.22%, rgba(255,0,0,0.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(0,0,0,0.25) 49.22%, rgba(255,0,0,0.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(0,0,0,0.25) 49.22%, rgba(255,0,0,0.00) 100%);
    background-image: linear-gradient( 180deg, rgba(0,0,0,0.25) 49.22%, rgba(255,0,0,0.00) 100%);
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

@media screen and (max-width: 768px) {
.about .container {
    max-width: 100%!important;
}
.iaw {
    position: relative;
}
.abi1 h2 {
    border-top: 0px solid #ffffff;
    border-bottom: 0px solid #616161;
    font-size: 22px;
    background: hsl(0deg 0% 0% / 35%);
}
.abi1 {
    width: 100%;
    float: left;
    border-top: 0px solid hsl(0deg 0% 100%);
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
}
.abi1::before {
    content: '';
    position: absolute;
    top: -13px;
    font-size: 24px;
    color: #ffffff;
}
.abi1 p {
    font-size: 15px;
    color: #FFF;
    text-align: left;
}
}
